In [1]:
import pandas as pd
import numpy as np
import time

from datetime import timedelta, datetime
import requests

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.options.mode.chained_assignment = None

In [2]:
Company_list = ['3MINDIA','AARTIDRUGS','AARTIIND','AAVAS','ABB','ABCAPITAL','ABFRL','ACC','ACCELYA','ACE','ADANIENT',
                'ADANIPORTS','ADFFOODS','ADVENZYMES','AEGISCHEM','AHLUCONT','AIAENG','AJANTPHARM','AKZOINDIA','ALEMBICLTD',
                'ALKEM','ALKYLAMINE','ALLCARGO','ALOKINDS','AMARAJABAT','AMBER','AMBUJACEM','AMRUTANJAN','ANURAS','APARINDS',
                'APLAPOLLO','APLLTD','APOLLOHOSP','APOLLOPIPE','APOLLOTYRE','ARVIND','ARVINDFASN','ASAHIINDIA','ASHIANA',
                'ASHOKA','ASHOKLEY','ASIANPAINT','ASTEC','ASTERDM','ASTRAL','ASTRAZEN','ATFL','ATUL','AUBANK','AUROPHARMA',
                'AUTOAXLES','AVANTIFEED','AXISBANK','BAJAJ-AUTO','BAJAJCON','BAJAJELEC','BAJAJFINSV','BAJAJHLDNG','BAJFINANCE',
                'BALAMINES','BALKRISIND','BALMLAWRIE','BALRAMCHIN','BANARISUG','BANDHANBNK','BANKBARODA','BANKINDIA','BASF',
                'BATAINDIA','BBTC','BDL','BECTORFOOD','BEL','BEML','BEPL','BERGEPAINT','BHARATFORG','BHARATRAS','BHARTIARTL',
                'BHEL','BIOCON','BIRLACORPN','BLUEDART','BLUESTARCO','BOMDYEING','BOSCHLTD','BPCL','BRIGADE','BRITANNIA','BSE',
                'BSOFT','CAMLINFINE','CANBK','CANFINHOME','CAPACITE','CAPLIPOINT','CARBORUNIV','CARERATING','CASTROLIND','CCL',
                'CDSL','CEATLTD','CENTRALBK','CENTRUM','CENTURYPLY','CENTURYTEX','CERA','CESC','CGCL','CHALET','CHAMBLFERT',
                'CHEMCON','CHENNPETRO','CHOLAFIN','CHOLAHLDNG','CIPLA','COALINDIA','COCHINSHIP','COFORGE','COLPAL','CONCOR',
                'CONFIPET','COROMANDEL','CRAFTSMAN','CREDITACC','CRISIL','CROMPTON','CSBBANK','CUB','CUMMINSIND','CYIENT',
                'DAAWAT','DABUR','DALBHARAT','DALMIASUG','DBCORP','DBL','DCAL','DCBBANK','DCMSHRIRAM','DEEPAKNTR','DELTACORP',
                'DEN','DFMFOODS','DHAMPURSUG','DHANI','DHANUKA','DIAMONDYD','DISHTV','DIVISLAB','DIXON','DLF','DMART','DOLLAR',
                'DRREDDY','EASEMYTRIP','EDELWEISS','EICHERMOT','EIDPARRY','EIHOTEL','ELGIEQUIP','EMAMILTD','ENDURANCE',
                'ENGINERSIN','EPL','EQUITAS','EQUITASBNK','ERIS','ESABINDIA','ESCORTS','EVEREADY','EXIDEIND','FACT',
                'FCONSUMER','FDC','FEDERALBNK','FILATEX','FINCABLES','FINEORG','FINPIPE','FMGOETZE','FORTIS','FRETAIL',
                'FSL','GABRIEL','GAEL','GAIL','GALAXYSURF','GANECOS','GARFIBRES','GATI','GENUSPOWER','GEOJITFSL','GEPIL',
                'GESHIP','GET&D','GHCL','GICRE','GILLETTE','GLAND','GLAXO','GLENMARK','GMDCLTD','GMMPFAUDLR','GMRINFRA',
                'GNFC','GODFRYPHLP','GODREJAGRO','GODREJCP','GODREJIND','GODREJPROP','GPPL','GRANULES','GRAPHITE','GRASIM',
                'GREAVESCOT','GREENLAM','GREENPLY','GRINDWELL','GRSE','GSFC','GSPL','GTPL','GUJALKALI','GUJGASLTD','GULFOILLUB',
                'HAL','HAPPSTMNDS','HATHWAY','HATSUN','HAVELLS','HCC','HCG','HCLTECH','HDFC','HDFCAMC','HDFCBANK','HDFCLIFE',
                'HEG','HEIDELBERG','HEMIPROP','HERANBA','HERITGFOOD','HEROMOTOCO','HESTERBIO','HFCL','HGINFRA','HIKAL','HIL',
                'HIMATSEIDE','HINDALCO','HINDCOPPER','HINDOILEXP','HINDPETRO','HINDUNILVR','HINDZINC','HOMEFIRST','HONAUT',
                'HSCL','HUDCO','HUHTAMAKI','IBREALEST','IBULHSGFIN','ICICIBANK','ICICIGI','ICICIPRULI','ICIL','ICRA','IDBI',
                'IDEA','IDFC','IDFCFIRSTB','IEX','IFBIND','IFCI','IGL','IGPL','IIFLSEC','IIFLWAM','IMFA','INDHOTEL','INDIACEM',
                'INDIAGLYCO','INDIAMART','INDIANB','INDIGO','INDIGOPNTS','INDOCO','INDOSTAR','INDUSINDBK','INDUSTOWER',
                'INEOSSTYRO','INFIBEAM','INFY','INGERRAND','INOXLEISUR','INOXWIND','INTELLECT','IOB','IOC','IOLCP','IPCALAB',
                'IRB','IRCON','IRCTC','IRFC','ISEC','ITC','ITDC','ITDCEM','ITI','J&KBANK','JAGRAN','JAICORPLTD','JAMNAAUTO',
                'JBCHEPHARM','JBMA','JCHAC','JINDALPOLY','JINDALSAW','JINDALSTEL','JKCEMENT','JKIL','JKLAKSHMI','JKPAPER',
                'JKTYRE','JMCPROJECT','JMFINANCIL','JPPOWER','JSL','JSLHISAR','JSWHL','JSWSTEEL','JTEKTINDIA','JUBLFOOD',
                'JUBLINGREA','JUBLPHARMA','JUSTDIAL','JYOTHYLAB','KAJARIACER','KALPATPOWR','KALYANKJIL','KANSAINER',
                'KARURVYSYA','KEC','KEI','KIOCL','KIRIINDUS','KIRLOSENG','KIRLOSIND','KNRCON','KOLTEPATIL','KOTAKBANK',
                'KPITTECH','KPRMILL','KRBL','KSB','KSCL','KSL','KTKBANK','L&TFH','LALPATHLAB','LAOPALA','LAURUSLABS',
                'LAXMIMACH','LEMONTREE','LICHSGFIN','LINDEINDIA','LT','LTI','LTTS','LUMAXIND','LUPIN','LUXIND','LXCHEM',
                'M&M','M&MFIN','MAHABANK','MAHINDCIE','MAHLIFE','MAHLOG','MAHSCOOTER','MAHSEAMLES','MAITHANALL','MANAPPURAM',
                'MARICO','MARKSANS','MARUTI','MASFIN','MASTEK','MATRIMONY','MAXHEALTH','MAYURUNIQ','MAZDOCK','MCDOWELL-N',
                'METROPOLIS','MFSL','MGL','MHRIL','MIDHANI','MINDACORP','MINDAIND','MINDTREE','MMFL','MMTC','MOIL','MOREPENLAB',
                'MOTHERSUMI','MOTILALOFS','MPHASIS','MRF','MRPL','MSTCLTD','MTARTECH','MTNL','MUTHOOTFIN','NAM-INDIA',
                'NATCOPHARM','NATIONALUM','NAUKRI','NAVINFLUOR','NAVNETEDUL','NAZARA','NBCC','NBVENTURES','NCC','NEOGEN',
                'NESCO','NETWORK18','NEWGEN','NFL','NH','NHPC','NIACL','NIITLTD','NILKAMAL','NLCINDIA','NMDC','NOCIL','NTPC',
                'NUCLEUS','OAL','OBEROIRLTY','OFSS','OIL','OMAXE','ONGC','ORIENTCEM','ORIENTELEC','ORISSAMINE','PAGEIND',
                'PAISALO','PCJEWELLER','PEL','PERSISTENT','PETRONET','PFC','PFIZER','PGHH','PGHL','PHOENIXLTD','PIDILITIND',
                'PIIND','PILANIINVS','PNB','PNCINFRA','POLYCAB','POLYMED','POLYPLEX','POWERGRID','POWERINDIA','PRAKASH',
                'PRESTIGE','PRINCEPIPE','PRIVISCL','PRSMJOHNSN','PSB','PSPPROJECT','PTC','PURVA','PVR','QUESS','QUICKHEAL',
                'RADICO','RAILTEL','RAIN','RAJESHEXPO','RALLIS','RAMCOCEM','RAMCOIND','RAMCOSYS','RATNAMANI','RAYMOND',
                'RBLBANK','RCF','RECLTD','REDINGTON','RELAXO','RELIANCE','RELIGARE','REPCOHOME','RESPONIND','RITES','RKFORGE',
                'ROSSARI','ROUTE','RSYSTEMS','RUCHI','RUPA','RVNL','SAFARI','SAGCEM','SAIL','SANDHAR','SANOFI','SASKEN',
                'SBICARD','SBILIFE','SBIN','SCHAEFFLER','SCHNEIDER','SCI','SEQUENT','SFL','SHARDACROP','SHILPAMED','SHK',
                'SHOPERSTOP','SHREECEM','SHRIRAMCIT','SIEMENS','SIS','SJVN','SKFINDIA','SOBHA','SOLARA','SOLARINDS',
                'SONATSOFTW','SOTL','SOUTHBANK','SPANDANA','SPARC','SRF','SRTRANSFIN','STAR','STARCEMENT','STLTECH',
                'STOVEKRAFT','SUBEXLTD','SUBROS','SUDARSCHEM','SUMICHEM','SUNCLAYLTD','SUNDARMFIN','SUNDRMFAST','SUNPHARMA',
                'SUNTECK','SUNTV','SUPRAJIT','SUPREMEIND','SURYAROSNI','SURYODAY','SUVENPHAR','SUVIDHAA','SUZLON',
                'SWANENERGY','SWARAJENG','SWSOLAR','SYMPHONY','SYNGENE','TASTYBITE','TATACHEM','TATACOFFEE','TATACOMM',
                'TATACONSUM','TATAELXSI','TATAINVEST','TATAMETALI','TATAMOTORS','TATAPOWER','TATASTEEL','TCI','TCIEXP',
                'TCNSBRANDS','TCS','TEAMLEASE','TECHM','TECHNOE','THERMAX','THOMASCOOK','THYROCARE','TIDEWATER','TIINDIA',
                'TIMETECHNO','TIMKEN','TINPLATE','TITAN','TORNTPHARM','TORNTPOWER','TRENT','TRITURBINE','TRIVENI','TTKPRESTIG',
                'TV18BRDCST','TVSMOTOR','TVSSRICHAK','TVTODAY','UBL','UCOBANK','UFLEX','UJJIVAN','UJJIVANSFB','ULTRACEMCO',
                'UNICHEMLAB','UNIONBANK','UPL','UTIAMC','VAIBHAVGBL','VAKRANGEE','VARROC','VBL','VEDL','VENKEYS','VESUVIUS',
                'VGUARD','VINATIORGA','VIPIND','VMART','VOLTAS','VRLLOG','VSTIND','VSTTILLERS','VTL','WABAG',
                'WELCORP','WELENT','WELSPUNIND','WHIRLPOOL','WIPRO','WOCKPHARMA','WSTCSTPAPR','YESBANK','ZEEL','ZENSARTECH',
                'ZYDUSWELL',]

In [3]:
def url(i) :
    return f'https://archives.nseindia.com/products/content/sec_bhavdata_full_{oldDate(i).strftime("%d%m%Y")}.csv'

def oldDate(n):
    return datetime.now() - timedelta(n)

def path(i,j):
    if j == 0:
        return f'Raw_bhav_copy/Raw_bhavcopy_{oldDate(i).strftime("%Y-%m-%d")}.csv'
    else:
        return f'Clean_bhav_copy/Clean_bhavcopy_{oldDate(i).strftime("%Y-%m-%d")}.csv'
    
def Comapny_file_path(name):
    return f'Company_file/{name}.csv'

def Analyzed_company_file_path(name):
    return f'Analyzed_Company_file/{name}.csv'

In [4]:
def rawdown(x):
    for i in (range(0,x)):
        try: 
            r = requests.get(url(i), timeout=1)
            print(f"Bhavcopy of {oldDate(i).strftime('%Y-%m-%d')} downloaded")
            df = pd.read_csv(url(i))
            df.to_csv(path(i,0),index=False)
        except requests.exceptions.Timeout as err: 
            pass
        
x = int(input("Enter Number of days back you want to perform operation: "))
rawdown(x)

Enter Number of days back you want to perform operation: 10
Bhavcopy of 2022-12-05 downloaded
Bhavcopy of 2022-12-04 downloaded
Bhavcopy of 2022-12-02 downloaded
Bhavcopy of 2022-12-01 downloaded
Bhavcopy of 2022-11-30 downloaded
Bhavcopy of 2022-11-29 downloaded
Bhavcopy of 2022-11-28 downloaded
Bhavcopy of 2022-11-27 downloaded

# CLEANING

In [5]:
for i in range(1,x):
    try:
        raw_df = pd.read_csv(path(i,0))

        #Reanming columns
        old_col_list = [' SYMBOL',' SERIES',' DATE1',' PREV_CLOSE',' OPEN_PRICE',' HIGH_PRICE',
                        ' LOW_PRICE',' LAST_PRICE',' CLOSE_PRICE',' AVG_PRICE',' TTL_TRD_QNTY',
                        ' TURNOVER_LACS',' NO_OF_TRADES',' DELIV_QTY',' DELIV_PER']

        for j in old_col_list: 
            raw_df.rename(columns = {j:j.strip()}, inplace = True)


        #Deleting 'Turnover_Lacs' column which is not needed 
        raw_df.drop('TURNOVER_LACS', axis=1, inplace=True) 
        raw_df.rename(columns={'DATE1':'DATE'}, inplace=True)


        # Keeping companies who comes under equity section
        raw_df = raw_df.loc[raw_df['SERIES'] == ' EQ'] 
        raw_df.reset_index(drop=True, inplace=True)
        
        # Creating temp datafrmae this data frame will keep records of company which are in our list 
        temp_df = pd.DataFrame()
        for z in Company_list:
            temp_df = temp_df.append(raw_df.loc[raw_df['SYMBOL'] == z], ignore_index=True) 
        print(f'{oldDate(i).strftime("%Y-%m-%d")} cleaned succesfully')
        # Saving clean temp_df to Local system in Clean_bhovcopy file 
        temp_df.to_csv(path(i,1),index=False)
    except:
        pass

2022-12-05 cleaned succesfully
2022-12-04 cleaned succesfully
2022-12-02 cleaned succesfully
2022-12-01 cleaned succesfully
2022-11-30 cleaned succesfully
2022-11-29 cleaned succesfully
2022-11-28 cleaned succesfully
2022-11-27 cleaned succesfully

# SPLITTING

In [6]:
COLUMN_NAMES = ['SYMBOL','SERIES','DATE','PREV_CLOSE','OPEN_PRICE','HIGH_PRICE','LOW_PRICE','LAST_PRICE',
                'CLOSE_PRICE','AVG_PRICE','TTL_TRD_QNTY','NO_OF_TRADES','DELIV_QTY','DELIV_PER','DELIV_VALUE',
                '5DDeVA','%Change_In_Price','%Change_In_Deliv_vs_AVG','Intraday_volume']
for i in Company_list:
    df = pd.DataFrame(columns=COLUMN_NAMES)
    df.to_csv(f'Company_file/{i}.csv',index=False)

In [7]:
for i in reversed(range(0,x)):
    try:
        df = pd.read_csv(path(i,1))
        print(oldDate(i).strftime("%Y-%m-%d"))
        for i in Company_list:
            # Loading companys csv file in program 
            company_df = pd.read_csv(Comapny_file_path(i))
            
            # Finding comapnys row from clean bhav copy 
            temp_df = df[df['SYMBOL']== i]

            # Adding companys now to company's csv file 
            company_df = pd.concat([company_df, temp_df], ignore_index = True, axis = 0)

            company_df.drop_duplicates(subset ="DATE",keep = "last", inplace = True,ignore_index= True)    
            company_df.to_csv(Comapny_file_path(i), index=False)
    except:
        print(f'{oldDate(i).strftime("%Y-%m-%d")} --> no data')

2022-11-27
2022-11-28
2022-11-29
2022-11-30
2022-12-01
2022-12-02
2022-12-03 --> no data
2022-12-04
2022-12-05
2022-12-06 --> no data

In [8]:
#visual cheaking
# for i in Company_list:
#     df = pd.read_csv(Comapny_file_path(i)) 
#     display(df.tail(1))

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,3MINDIA,EQ,05-Dec-2022,23149.35,23165.0,23237.35,22916.6,23120.0,23108.35,23070.16,1739,951,945,54.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,AARTIDRUGS,EQ,05-Dec-2022,446.05,446.05,463.5,444.0,461.0,460.25,454.59,122103,5572,62103,50.86,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,AARTIIND,EQ,05-Dec-2022,673.9,677.3,679.95,671.0,674.0,674.8,674.54,386079,16017,165061,42.75,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,AAVAS,EQ,05-Dec-2022,1914.35,1924.35,1924.35,1881.65,1893.95,1890.1,1899.24,79063,10885,36927,46.71,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ABB,EQ,05-Dec-2022,2978.1,2975.0,3001.95,2947.0,2974.95,2975.6,2973.92,216805,19399,102092,47.09,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ABCAPITAL,EQ,05-Dec-2022,151.7,152.5,159.2,151.5,158.45,158.65,156.04,18326577,89159,5806587,31.68,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ABFRL,EQ,05-Dec-2022,317.2,317.75,318.75,313.0,315.2,315.2,315.12,1220577,14141,447351,36.65,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ACC,EQ,05-Dec-2022,2609.3,2610.2,2628.8,2594.0,2622.05,2621.1,2614.16,458990,42225,200755,43.74,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ACCELYA,EQ,05-Dec-2022,1707.3,1737.0,1746.0,1671.0,1681.9,1687.4,1710.21,64935,6564,27239,41.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ACE,EQ,05-Dec-2022,331.25,332.9,339.95,330.9,333.15,332.8,335.04,346035,8242,137950,39.87,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ADANIENT,EQ,05-Dec-2022,3922.5,3928.9,3939.0,3810.05,3930.2,3930.4,3874.71,2392866,88778,504398,21.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ADANIPORTS,EQ,05-Dec-2022,888.2,891.6,896.5,878.55,892.0,893.15,887.98,3966501,58081,1301335,32.81,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ADFFOODS,EQ,05-Dec-2022,816.5,822.0,822.0,790.55,804.0,799.65,807.55,19705,2161,9642,48.93,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ADVENZYMES,EQ,05-Dec-2022,283.6,283.7,310.95,283.7,308.0,307.15,304.33,942450,23103,295481,31.35,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,AEGISCHEM,EQ,05-Dec-2022,330.55,333.0,334.85,325.0,330.5,329.65,330.35,367020,13327,148560,40.48,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,AHLUCONT,EQ,05-Dec-2022,433.95,440.45,445.0,421.3,437.0,439.9,437.88,23091,1917,11901,51.54,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,AIAENG,EQ,05-Dec-2022,2761.85,2798.7,2813.1,2715.1,2769.0,2750.35,2758.83,55603,9329,36330,65.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,AJANTPHARM,EQ,05-Dec-2022,1252.8,1253.0,1266.2,1249.2,1258.6,1259.95,1259.16,119094,6354,97411,81.79,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,AKZOINDIA,EQ,05-Dec-2022,2296.6,2331.05,2335.0,2288.05,2306.65,2302.45,2313.28,20389,4790,13295,65.21,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ALEMBICLTD,EQ,05-Dec-2022,76.15,76.65,80.95,76.6,78.05,78.05,78.72,778948,8040,325326,41.76,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ALKEM,EQ,05-Dec-2022,3114.45,3140.0,3144.05,3111.3,3122.5,3119.85,3121.86,26472,5940,10730,40.53,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ALKYLAMINE,EQ,05-Dec-2022,2829.05,2822.25,2848.0,2780.0,2800.95,2798.55,2813.57,44332,8651,20822,46.97,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ALLCARGO,EQ,05-Dec-2022,440.15,440.6,441.55,423.25,424.8,425.25,428.03,841268,15421,478804,56.91,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [SYMBOL, SERIES, DATE, PREV_CLOSE, OPEN_PRICE, HIGH_PRICE, LOW_PRICE, LAST_PRICE, CLOSE_PRICE, AVG_PRICE, TTL_TRD_QNTY, NO_OF_TRADES, DELIV_QTY, DELIV_PER, DELIV_VALUE, 5DDeVA, %Change_In_Price, %Change_In_Deliv_vs_AVG, Intraday_volume]
Index: []

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,AMARAJABAT,EQ,05-Dec-2022,653.1,658.85,662.15,649.35,658.9,659.1,657.45,830956,19890,305814,36.8,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,AMBER,EQ,05-Dec-2022,2011.75,2029.0,2055.45,2005.05,2049.0,2048.85,2040.26,122074,7281,72365,59.28,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,AMBUJACEM,EQ,05-Dec-2022,577.95,580.85,582.35,571.8,572.3,573.35,574.7,5491648,43829,3237594,58.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,AMRUTANJAN,EQ,05-Dec-2022,712.35,712.3,715.85,705.0,707.0,706.4,709.37,14732,1937,8530,57.9,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ANURAS,EQ,05-Dec-2022,719.6,720.9,726.95,716.0,718.7,719.0,721.21,36170,2786,17585,48.62,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,APARINDS,EQ,05-Dec-2022,1576.45,1595.0,1597.95,1552.0,1561.0,1565.25,1573.28,70031,8350,26617,38.01,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,APLAPOLLO,EQ,05-Dec-2022,1185.5,1189.0,1193.0,1126.5,1140.0,1142.25,1154.25,1351186,56567,681332,50.42,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,APLLTD,EQ,05-Dec-2022,598.7,601.9,605.95,595.65,596.7,596.9,599.76,33877,2170,18044,53.26,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,APOLLOHOSP,EQ,05-Dec-2022,4871.45,4885.0,4901.95,4766.95,4775.0,4778.35,4816.4,684834,58080,330260,48.22,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,APOLLOPIPE,EQ,05-Dec-2022,510.55,510.55,528.0,510.0,511.0,513.85,519.93,119386,8705,37567,31.47,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,APOLLOTYRE,EQ,05-Dec-2022,319.2,322.2,323.65,317.35,318.5,318.95,320.15,2711201,30241,621799,22.93,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ARVIND,EQ,05-Dec-2022,99.4,99.75,102.9,98.65,102.0,101.85,101.44,2414500,15652,1018487,42.18,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ARVINDFASN,EQ,05-Dec-2022,325.2,327.45,332.65,323.6,329.85,330.5,329.21,159236,4578,82297,51.68,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ASAHIINDIA,EQ,05-Dec-2022,613.1,616.2,619.1,612.05,613.95,614.05,614.24,40434,3904,21605,53.43,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ASHIANA,EQ,05-Dec-2022,146.85,149.4,150.7,146.6,149.0,149.25,148.76,128653,1743,88176,68.54,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ASHOKA,EQ,05-Dec-2022,81.45,81.9,83.9,80.55,80.95,80.95,82.32,1583557,8857,712035,44.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ASHOKLEY,EQ,05-Dec-2022,146.05,146.85,147.75,146.1,147.1,147.25,147.12,5524832,39084,2156913,39.04,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ASIANPAINT,EQ,05-Dec-2022,3143.45,3130.0,3168.7,3112.5,3152.05,3156.9,3147.5,926122,56163,453658,48.98,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ASTEC,EQ,05-Dec-2022,1990.45,1990.45,2013.95,1952.0,1963.0,1960.7,1987.3,8903,2623,4392,49.33,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ASTERDM,EQ,05-Dec-2022,233.5,233.45,235.15,230.45,231.95,231.3,232.58,139392,5650,65696,47.13,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ASTRAL,EQ,05-Dec-2022,2018.35,2031.85,2047.5,2001.0,2038.0,2040.7,2027.37,537738,37612,147146,27.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ASTRAZEN,EQ,05-Dec-2022,3277.65,3280.0,3310.0,3268.75,3305.0,3304.85,3299.49,3950,1278,2007,50.81,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ATFL,EQ,05-Dec-2022,808.85,812.9,829.0,802.0,826.0,823.45,818.5,53995,2462,43389,80.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ATUL,EQ,05-Dec-2022,8887.35,8889.95,8947.85,8782.55,8805.1,8818.25,8839.75,27758,4321,11779,42.43,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,AUBANK,EQ,05-Dec-2022,648.35,650.0,656.0,646.25,649.45,651.15,650.88,1406695,22950,400102,28.44,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,AUROPHARMA,EQ,05-Dec-2022,470.0,472.3,472.8,465.15,466.4,465.85,467.28,1202935,23417,666384,55.4,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,AUTOAXLES,EQ,05-Dec-2022,2010.65,2024.0,2024.0,1962.5,1980.0,1973.5,1987.49,7363,1615,4322,58.7,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,AVANTIFEED,EQ,05-Dec-2022,397.2,402.0,408.9,399.5,401.0,401.1,403.51,383018,9549,145418,37.97,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,AXISBANK,EQ,05-Dec-2022,905.15,907.0,907.3,897.6,898.85,899.2,900.55,5098164,119932,3285963,64.45,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BAJAJ-AUTO,EQ,05-Dec-2022,3659.35,3672.0,3672.0,3638.0,3660.0,3659.9,3651.01,163476,16551,76171,46.59,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BAJAJCON,EQ,05-Dec-2022,169.3,171.0,177.45,169.3,175.5,175.5,174.81,2007688,22800,866818,43.17,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BAJAJELEC,EQ,05-Dec-2022,1108.5,1114.3,1118.8,1103.5,1117.9,1114.95,1110.91,157669,3647,131739,83.55,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BAJAJFINSV,EQ,05-Dec-2022,1642.65,1650.0,1655.0,1631.4,1633.5,1634.2,1637.34,1383542,53969,768081,55.52,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BAJAJHLDNG,EQ,05-Dec-2022,6374.45,6381.0,6381.0,6202.0,6248.8,6257.15,6260.35,114361,20261,63132,55.2,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BAJFINANCE,EQ,05-Dec-2022,6675.75,6674.55,6699.0,6632.0,6661.0,6660.45,6664.69,1029250,125387,675021,65.58,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BALAMINES,EQ,05-Dec-2022,3000.05,3015.1,3027.65,2918.0,2934.0,2932.55,2946.25,71611,11508,39251,54.81,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BALKRISIND,EQ,05-Dec-2022,2060.9,2064.0,2086.7,2058.5,2063.0,2064.3,2069.36,256146,17220,91728,35.81,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BALMLAWRIE,EQ,05-Dec-2022,122.45,122.85,124.5,122.5,122.95,122.9,123.4,180290,2226,113302,62.84,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BALRAMCHIN,EQ,05-Dec-2022,386.75,387.0,388.7,380.85,383.35,383.1,385.09,1316769,16800,399402,30.33,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BANARISUG,EQ,05-Dec-2022,3084.05,3118.0,3120.0,3030.05,3075.0,3053.95,3061.51,704,357,375,53.27,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BANDHANBNK,EQ,05-Dec-2022,240.1,242.15,244.85,240.3,240.85,240.95,242.61,10756810,81550,4132801,38.42,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BANKBARODA,EQ,05-Dec-2022,171.2,172.3,172.4,170.3,172.25,171.95,171.33,17705726,95913,6122707,34.58,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BANKINDIA,EQ,05-Dec-2022,84.55,85.1,87.5,84.9,86.3,86.3,86.22,16512468,54690,6614487,40.06,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BASF,EQ,05-Dec-2022,2664.0,2666.0,2698.2,2641.0,2645.0,2651.75,2666.77,12663,3066,6784,53.57,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BATAINDIA,EQ,05-Dec-2022,1735.25,1735.25,1738.85,1722.7,1726.7,1735.05,1733.46,175391,11768,86423,49.27,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BBTC,EQ,05-Dec-2022,1005.05,1019.0,1048.0,1002.0,1034.0,1036.1,1029.11,197623,11460,82536,41.76,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BDL,EQ,05-Dec-2022,966.3,970.0,972.1,960.3,961.1,962.0,964.53,322616,10977,110747,34.33,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BECTORFOOD,EQ,05-Dec-2022,431.6,434.9,442.8,431.9,437.05,436.35,438.79,160629,12359,73546,45.79,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BEL,EQ,05-Dec-2022,106.15,106.35,107.6,105.0,107.5,107.45,106.4,17476086,64936,9258876,52.98,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BEML,EQ,05-Dec-2022,1462.75,1474.0,1574.0,1466.5,1564.95,1561.1,1547.66,678021,31122,166607,24.57,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BEPL,EQ,05-Dec-2022,116.25,117.7,117.8,115.4,115.4,116.05,116.76,192264,3085,95691,49.77,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BERGEPAINT,EQ,05-Dec-2022,616.4,617.05,628.0,613.8,622.0,622.2,623.15,852853,26191,355848,41.72,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BHARATFORG,EQ,05-Dec-2022,854.95,855.45,859.4,845.1,845.95,847.45,849.12,792068,24514,467975,59.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BHARATRAS,EQ,05-Dec-2022,10121.5,10218.7,10280.05,10120.0,10121.25,10135.05,10161.2,1085,533,569,52.44,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BHARTIARTL,EQ,05-Dec-2022,848.65,851.0,851.6,840.85,843.7,844.1,844.48,3311316,92049,2190055,66.14,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BHEL,EQ,05-Dec-2022,90.55,91.35,91.55,87.1,87.65,87.65,88.26,54166041,110413,12853810,23.73,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BIOCON,EQ,05-Dec-2022,283.55,284.2,285.3,278.9,279.1,279.45,281.32,1492167,20457,588847,39.46,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BIRLACORPN,EQ,05-Dec-2022,979.8,985.0,995.0,970.05,978.95,978.8,985.0,89721,10082,39039,43.51,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BLUEDART,EQ,05-Dec-2022,7645.85,7645.0,7732.95,7551.0,7623.0,7572.05,7632.82,11067,3587,5333,48.19,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BLUESTARCO,EQ,05-Dec-2022,1230.6,1239.7,1239.95,1215.8,1227.0,1226.6,1226.58,17508,2912,9410,53.75,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BOMDYEING,EQ,05-Dec-2022,85.3,86.0,87.55,85.35,86.35,86.3,86.32,2405753,11964,674378,28.03,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BOSCHLTD,EQ,05-Dec-2022,17143.3,17145.0,17270.9,17021.6,17120.0,17198.7,17186.36,26790,4773,14541,54.28,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BPCL,EQ,05-Dec-2022,341.1,340.9,341.8,337.5,338.25,338.4,339.1,2488273,42155,1288997,51.8,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BRIGADE,EQ,05-Dec-2022,494.3,496.95,501.0,495.05,499.4,498.75,498.6,143664,9110,65144,45.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BRITANNIA,EQ,05-Dec-2022,4432.9,4422.85,4427.65,4370.0,4385.45,4403.35,4394.89,212913,23217,119432,56.09,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BSE,EQ,05-Dec-2022,572.6,573.05,575.4,568.35,569.95,570.1,570.81,339085,17184,185581,54.73,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,BSOFT,EQ,05-Dec-2022,331.55,333.2,334.7,328.35,329.8,329.45,331.82,3717789,46514,1641181,44.14,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CAMLINFINE,EQ,05-Dec-2022,156.75,158.7,158.7,154.15,154.5,154.8,155.95,256957,5570,107874,41.98,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CANBK,EQ,05-Dec-2022,319.15,320.0,323.3,315.55,322.1,322.5,319.32,8881872,47314,3075020,34.62,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CANFINHOME,EQ,05-Dec-2022,551.8,554.0,569.0,547.1,563.5,563.5,562.35,1468184,23828,502227,34.21,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CAPACITE,EQ,05-Dec-2022,144.4,145.4,145.95,142.0,143.9,144.55,144.17,164458,3626,96827,58.88,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CAPLIPOINT,EQ,05-Dec-2022,761.05,765.35,777.8,759.0,760.0,765.6,770.73,121516,7333,47340,38.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CARBORUNIV,EQ,05-Dec-2022,861.65,861.65,864.0,845.0,850.0,849.85,851.4,69403,4577,45677,65.81,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CARERATING,EQ,05-Dec-2022,572.1,573.1,584.0,563.15,578.5,578.45,575.58,132832,5116,75931,57.16,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CASTROLIND,EQ,05-Dec-2022,129.6,130.3,131.5,129.5,130.45,130.0,130.57,535333,10719,303071,56.61,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CCL,EQ,05-Dec-2022,529.8,531.8,534.35,506.2,509.9,509.15,514.74,386407,20390,179278,46.4,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CDSL,EQ,05-Dec-2022,1236.85,1239.0,1243.05,1230.0,1233.3,1233.9,1234.88,179679,12922,92343,51.39,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CEATLTD,EQ,05-Dec-2022,1937.55,1940.0,1947.25,1882.55,1897.55,1895.7,1918.88,143020,10844,34490,24.12,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CENTRALBK,EQ,05-Dec-2022,25.5,25.7,25.95,25.35,25.85,25.85,25.68,9852093,11370,3377166,34.28,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CENTRUM,EQ,05-Dec-2022,27.15,27.5,27.95,26.15,26.75,26.65,27.41,499394,2159,323270,64.73,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CENTURYPLY,EQ,05-Dec-2022,563.75,563.75,572.95,560.85,572.8,570.55,566.4,100278,7417,50020,49.88,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CENTURYTEX,EQ,05-Dec-2022,810.7,814.45,818.5,802.45,804.0,806.1,809.65,142112,5821,77796,54.74,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CERA,EQ,05-Dec-2022,5368.95,5405.0,5499.9,5350.75,5428.0,5418.55,5430.58,22732,5772,7444,32.75,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CESC,EQ,05-Dec-2022,75.55,75.6,76.2,75.6,75.85,75.9,75.92,1601091,7042,690018,43.1,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CGCL,EQ,05-Dec-2022,751.5,751.5,760.0,738.0,757.0,757.05,741.75,977773,5693,818036,83.66,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CHALET,EQ,05-Dec-2022,368.05,369.6,373.0,364.0,368.0,367.6,368.07,92368,2835,62512,67.68,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CHAMBLFERT,EQ,05-Dec-2022,302.05,305.0,310.5,303.05,309.3,309.45,308.04,1903422,22610,441688,23.2,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CHEMCON,EQ,05-Dec-2022,304.65,305.6,307.45,301.5,304.6,303.55,304.0,124606,6450,59053,47.39,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CHENNPETRO,EQ,05-Dec-2022,216.5,217.35,220.85,215.0,218.2,218.2,217.73,619932,10111,236168,38.1,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CHOLAFIN,EQ,05-Dec-2022,731.65,735.0,742.8,727.6,738.0,737.7,735.97,1058745,26024,509166,48.09,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CHOLAHLDNG,EQ,05-Dec-2022,606.75,614.95,619.45,601.0,602.1,604.35,609.04,35240,3796,17002,48.25,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CIPLA,EQ,05-Dec-2022,1114.35,1114.35,1122.55,1108.15,1116.0,1115.35,1112.79,1236554,80837,720197,58.24,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,COALINDIA,EQ,05-Dec-2022,226.6,226.6,231.8,226.5,231.3,231.25,229.51,8732711,86678,4663623,53.4,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,COCHINSHIP,EQ,05-Dec-2022,660.3,665.15,687.0,652.35,662.4,661.1,672.92,1732690,34383,299780,17.3,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,COFORGE,EQ,05-Dec-2022,4237.5,4265.0,4265.0,4176.1,4186.0,4191.8,4219.87,248429,26139,76080,30.62,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,COLPAL,EQ,05-Dec-2022,1617.9,1628.75,1629.15,1594.85,1595.0,1598.25,1605.81,448032,14573,319656,71.35,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CONCOR,EQ,05-Dec-2022,781.25,784.0,786.5,771.7,775.1,776.05,777.67,696749,22126,337336,48.42,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CONFIPET,EQ,05-Dec-2022,78.7,78.9,80.6,78.15,79.4,79.6,79.26,1225211,8634,582460,47.54,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,COROMANDEL,EQ,05-Dec-2022,914.0,918.8,924.0,910.3,923.65,921.0,916.54,423257,30240,246861,58.32,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CRAFTSMAN,EQ,05-Dec-2022,3182.15,3203.15,3339.9,3182.15,3259.0,3265.3,3275.91,47258,12096,16486,34.89,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CREDITACC,EQ,05-Dec-2022,947.8,938.1,938.1,923.15,932.0,931.25,930.22,140146,11547,84041,59.97,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CRISIL,EQ,05-Dec-2022,2927.75,2954.0,2954.0,2841.0,2858.0,2859.85,2877.33,62810,8319,35128,55.93,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CROMPTON,EQ,05-Dec-2022,368.25,371.15,374.8,368.45,369.55,369.95,370.56,1356881,16683,914239,67.38,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CSBBANK,EQ,05-Dec-2022,219.25,219.25,227.0,219.25,224.6,224.45,224.1,351537,5918,179930,51.18,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CUB,EQ,05-Dec-2022,191.65,192.0,199.4,191.25,195.9,195.65,196.41,6629358,46227,2143517,32.33,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CUMMINSIND,EQ,05-Dec-2022,1442.1,1445.0,1455.0,1428.3,1445.0,1445.0,1443.22,474730,28976,221480,46.65,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,CYIENT,EQ,05-Dec-2022,844.3,849.95,857.9,831.1,855.9,855.25,842.03,265931,16310,161385,60.69,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DAAWAT,EQ,05-Dec-2022,115.75,116.0,116.65,113.85,114.0,114.05,114.78,701535,6371,348079,49.62,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DABUR,EQ,05-Dec-2022,591.15,591.0,592.5,582.85,588.0,587.1,585.88,3137533,50256,2240126,71.4,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DALBHARAT,EQ,05-Dec-2022,1936.7,1939.0,1946.85,1875.0,1878.0,1885.5,1896.28,509770,34186,281628,55.25,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DALMIASUG,EQ,05-Dec-2022,366.9,368.7,371.4,361.3,370.0,367.75,366.92,109258,6100,50598,46.31,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DBCORP,EQ,05-Dec-2022,117.25,117.8,126.0,117.8,124.5,124.05,123.06,765466,9785,346665,45.29,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DBL,EQ,05-Dec-2022,238.1,242.85,247.0,240.15,240.3,241.4,243.47,709866,11698,247958,34.93,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DCAL,EQ,05-Dec-2022,97.85,98.5,101.95,98.35,99.7,99.8,100.52,1202774,8505,681656,56.67,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DCBBANK,EQ,05-Dec-2022,136.5,137.5,140.0,126.0,130.0,129.95,133.13,7169103,38192,2621738,36.57,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DCMSHRIRAM,EQ,05-Dec-2022,888.65,892.45,893.65,878.55,887.95,883.65,888.69,22734,2123,11966,52.63,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DEEPAKNTR,EQ,05-Dec-2022,2211.5,2222.55,2260.9,2197.0,2251.0,2255.45,2238.13,659986,36315,199045,30.16,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DELTACORP,EQ,05-Dec-2022,228.4,229.5,234.9,228.2,234.05,234.2,233.02,5956549,32942,1956796,32.85,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DEN,EQ,05-Dec-2022,37.0,37.05,37.5,36.5,36.65,36.7,37.0,1616437,4195,634897,39.28,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DFMFOODS,EQ,05-Dec-2022,402.75,413.0,415.0,389.6,408.5,410.35,408.76,318235,6974,162934,51.2,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DHAMPURSUG,EQ,05-Dec-2022,234.6,234.95,236.9,229.1,230.5,230.2,232.91,285492,6151,138510,48.52,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DHANI,EQ,05-Dec-2022,46.95,47.4,49.25,47.05,47.4,47.3,48.15,4117809,9440,2098485,50.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DHANUKA,EQ,05-Dec-2022,705.3,714.0,714.8,698.65,700.35,701.45,707.06,29201,2890,16289,55.78,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DIAMONDYD,EQ,05-Dec-2022,942.8,935.2,953.55,890.7,901.4,910.35,915.49,25182,2471,8331,33.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DISHTV,EQ,05-Dec-2022,22.2,22.55,23.2,22.0,22.45,22.35,22.54,14943169,14685,8145062,54.51,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DIVISLAB,EQ,05-Dec-2022,3381.25,3394.95,3395.0,3347.0,3364.5,3368.85,3361.0,379966,36876,210204,55.32,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DIXON,EQ,05-Dec-2022,4375.15,4380.0,4405.0,4344.6,4353.0,4368.3,4373.76,68056,8332,27156,39.9,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DLF,EQ,05-Dec-2022,410.75,412.3,418.5,410.0,416.5,417.25,415.7,6361119,78266,2270553,35.69,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DMART,EQ,05-Dec-2022,4005.75,4010.0,4049.95,3975.0,4029.0,4028.15,4006.31,217716,31136,118631,54.49,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DOLLAR,EQ,05-Dec-2022,428.65,430.65,431.6,424.9,427.0,426.15,427.7,49398,2324,31406,63.58,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,DRREDDY,EQ,05-Dec-2022,4510.4,4529.9,4532.0,4450.15,4475.6,4479.4,4486.94,392339,31670,258153,65.8,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,EASEMYTRIP,EQ,05-Dec-2022,64.3,65.0,65.3,59.6,61.3,61.2,61.66,35612516,104454,9085978,25.51,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,EDELWEISS,EQ,05-Dec-2022,67.0,67.5,71.9,67.2,69.4,69.65,70.23,7589407,25856,1922955,25.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,EICHERMOT,EQ,05-Dec-2022,3331.85,3328.1,3360.0,3326.1,3338.0,3344.4,3343.18,518257,41592,211182,40.75,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,EIDPARRY,EQ,05-Dec-2022,603.95,600.15,607.2,597.9,598.05,600.5,602.98,150444,7669,76646,50.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,EIHOTEL,EQ,05-Dec-2022,175.95,175.95,177.95,175.7,177.4,177.3,176.85,292875,5347,182208,62.21,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ELGIEQUIP,EQ,05-Dec-2022,488.85,492.0,493.75,486.8,489.0,491.45,490.51,141759,7025,65327,46.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,EMAMILTD,EQ,05-Dec-2022,459.5,460.0,462.5,457.6,459.5,459.15,458.66,198259,10146,130141,65.64,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ENDURANCE,EQ,05-Dec-2022,1504.85,1512.8,1517.85,1491.2,1499.0,1501.85,1501.79,15592,4254,7561,48.49,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ENGINERSIN,EQ,05-Dec-2022,82.4,82.8,82.9,80.4,80.75,80.65,81.23,3186977,11401,1638608,51.42,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,EPL,EQ,05-Dec-2022,159.95,162.0,166.4,161.35,162.9,162.9,164.06,400620,13482,180086,44.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,EQUITAS,EQ,05-Dec-2022,118.9,119.0,122.2,118.3,119.15,119.9,120.0,1250627,10084,829007,66.29,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,EQUITASBNK,EQ,05-Dec-2022,56.65,56.9,57.2,55.5,55.8,55.95,56.33,1287524,5033,704875,54.75,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ERIS,EQ,05-Dec-2022,664.85,660.0,672.0,658.3,660.0,659.5,662.55,28161,2215,21186,75.23,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ESABINDIA,EQ,05-Dec-2022,4151.3,4155.0,4229.85,4131.6,4200.0,4196.55,4181.23,15438,2967,5950,38.54,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ESCORTS,EQ,05-Dec-2022,2323.8,2343.2,2347.0,2308.0,2320.0,2322.5,2326.11,337111,15067,162408,48.18,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,EVEREADY,EQ,05-Dec-2022,348.55,350.4,354.4,344.5,351.0,347.8,346.92,94881,2176,59422,62.63,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,EXIDEIND,EQ,05-Dec-2022,190.6,191.15,192.45,189.05,191.25,191.6,191.25,4492358,35747,2508832,55.85,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,FACT,EQ,05-Dec-2022,146.25,147.85,150.8,145.55,146.6,146.55,148.33,450612,6700,141983,31.51,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [SYMBOL, SERIES, DATE, PREV_CLOSE, OPEN_PRICE, HIGH_PRICE, LOW_PRICE, LAST_PRICE, CLOSE_PRICE, AVG_PRICE, TTL_TRD_QNTY, NO_OF_TRADES, DELIV_QTY, DELIV_PER, DELIV_VALUE, 5DDeVA, %Change_In_Price, %Change_In_Deliv_vs_AVG, Intraday_volume]
Index: []

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,FDC,EQ,05-Dec-2022,283.55,283.0,289.9,282.6,286.05,285.4,286.72,89090,4296,36616,41.1,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,FEDERALBNK,EQ,05-Dec-2022,133.25,133.8,137.65,133.05,137.5,137.3,136.1,14401826,78952,5622241,39.04,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,FILATEX,EQ,05-Dec-2022,97.65,98.15,99.85,97.2,98.5,98.0,98.33,214482,5349,124340,57.97,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,FINCABLES,EQ,05-Dec-2022,564.1,568.85,568.9,558.0,560.0,560.4,560.8,146683,7715,80156,54.65,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,FINEORG,EQ,05-Dec-2022,6105.6,6150.0,6220.0,6121.1,6187.9,6174.75,6178.45,46871,9368,28909,61.68,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,FINPIPE,EQ,05-Dec-2022,163.4,164.1,175.75,163.55,175.15,174.35,172.67,5308683,47631,1592081,29.99,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,FMGOETZE,EQ,05-Dec-2022,308.8,311.15,311.5,306.4,307.0,307.2,308.13,58348,989,40529,69.46,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,FORTIS,EQ,05-Dec-2022,288.7,289.95,291.95,286.2,288.45,287.8,290.61,1605493,8664,1348002,83.96,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [SYMBOL, SERIES, DATE, PREV_CLOSE, OPEN_PRICE, HIGH_PRICE, LOW_PRICE, LAST_PRICE, CLOSE_PRICE, AVG_PRICE, TTL_TRD_QNTY, NO_OF_TRADES, DELIV_QTY, DELIV_PER, DELIV_VALUE, 5DDeVA, %Change_In_Price, %Change_In_Deliv_vs_AVG, Intraday_volume]
Index: []

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,FSL,EQ,05-Dec-2022,113.55,114.1,114.8,112.7,113.6,113.5,113.67,2061997,11771,870305,42.21,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GABRIEL,EQ,05-Dec-2022,189.3,190.95,191.65,185.55,186.05,187.1,188.19,352579,6470,179876,51.02,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GAEL,EQ,05-Dec-2022,240.15,241.4,242.05,236.05,236.95,237.1,237.57,204332,6821,110072,53.87,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GAIL,EQ,05-Dec-2022,93.2,93.5,93.9,92.65,93.2,93.15,93.1,15148621,36783,10976500,72.46,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GALAXYSURF,EQ,05-Dec-2022,2758.9,2752.0,2800.0,2752.0,2767.0,2768.6,2772.6,20111,4152,10578,52.6,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GANECOS,EQ,05-Dec-2022,890.3,882.0,940.0,882.0,929.9,926.9,916.12,157761,7124,51737,32.79,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GARFIBRES,EQ,05-Dec-2022,3428.95,3455.65,3462.85,3375.9,3415.0,3415.45,3427.65,9855,2885,5464,55.44,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GATI,EQ,05-Dec-2022,161.95,163.45,163.6,161.05,162.0,162.0,162.12,242486,3607,129235,53.3,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GENUSPOWER,EQ,05-Dec-2022,94.85,95.55,98.2,95.25,96.45,96.0,96.52,605635,5734,198030,32.7,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GEOJITFSL,EQ,05-Dec-2022,47.65,47.85,49.1,47.85,47.95,48.05,48.39,917404,6233,556210,60.63,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GEPIL,EQ,05-Dec-2022,164.3,164.0,164.0,158.4,160.25,160.85,161.13,278496,4944,140307,50.38,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GESHIP,EQ,05-Dec-2022,693.95,697.05,702.9,684.05,685.5,691.05,693.16,276996,15830,114516,41.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GET&D,EQ,05-Dec-2022,129.95,129.95,131.0,125.35,125.95,125.9,127.7,120739,2519,68501,56.73,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GHCL,EQ,05-Dec-2022,575.55,575.8,578.3,572.5,573.0,573.5,575.12,109742,4732,64078,58.39,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GICRE,EQ,05-Dec-2022,148.65,149.2,151.95,148.5,149.5,149.55,150.46,780956,10541,342015,43.79,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GILLETTE,EQ,05-Dec-2022,5174.1,5174.1,5185.55,5112.3,5132.0,5141.2,5139.79,3007,968,1786,59.39,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GLAND,EQ,05-Dec-2022,1720.75,1735.15,1769.95,1728.25,1744.0,1748.55,1750.24,399015,18405,107391,26.91,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GLAXO,EQ,05-Dec-2022,1336.15,1337.35,1344.9,1319.9,1342.0,1341.85,1334.31,39178,4375,24022,61.32,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GLENMARK,EQ,05-Dec-2022,434.95,434.95,439.4,431.0,434.55,435.8,435.69,955377,15174,297212,31.11,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GMDCLTD,EQ,05-Dec-2022,161.05,161.95,163.45,158.55,160.3,160.3,160.53,992543,8326,350737,35.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GMMPFAUDLR,EQ,05-Dec-2022,1945.4,1945.4,1953.85,1896.0,1909.0,1906.55,1915.21,61849,8835,37467,60.58,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GMRINFRA,EQ,05-Dec-2022,42.9,42.95,43.6,42.7,43.45,43.4,43.15,16381267,49537,7329674,44.74,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GNFC,EQ,05-Dec-2022,595.9,598.4,608.9,595.3,599.5,599.15,599.77,1242199,24244,286300,23.05,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GODFRYPHLP,EQ,05-Dec-2022,1819.75,1830.0,1835.15,1755.0,1774.0,1772.6,1796.88,60544,5885,28164,46.52,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GODREJAGRO,EQ,05-Dec-2022,484.7,484.7,486.95,482.45,486.5,485.7,484.78,46879,2510,25829,55.1,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GODREJCP,EQ,05-Dec-2022,881.65,882.15,885.0,873.95,881.25,882.5,879.08,970685,23177,306120,31.54,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GODREJIND,EQ,05-Dec-2022,457.6,458.8,466.0,458.3,465.0,464.65,463.16,207874,5917,96024,46.19,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GODREJPROP,EQ,05-Dec-2022,1333.6,1339.9,1361.85,1331.25,1354.5,1355.4,1350.64,833768,44484,306259,36.73,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GPPL,EQ,05-Dec-2022,92.1,92.3,92.3,91.0,91.35,91.45,91.58,533099,7518,299211,56.13,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GRANULES,EQ,05-Dec-2022,339.6,341.2,346.4,340.05,341.5,341.15,343.31,1010015,13955,228727,22.65,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GRAPHITE,EQ,05-Dec-2022,391.3,392.9,408.0,392.9,403.9,403.6,402.44,1646640,28279,518319,31.48,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GRASIM,EQ,05-Dec-2022,1819.65,1827.8,1837.0,1812.8,1817.35,1816.15,1824.31,833967,46169,324385,38.9,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GREAVESCOT,EQ,05-Dec-2022,147.9,148.7,148.7,145.35,146.2,146.05,146.89,1324309,15678,827442,62.48,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GREENLAM,EQ,05-Dec-2022,334.75,338.7,338.7,326.25,327.2,329.8,333.44,13462,934,9881,73.4,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GREENPLY,EQ,05-Dec-2022,160.4,162.0,162.4,160.0,160.3,160.15,161.02,130597,5934,72502,55.52,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GRINDWELL,EQ,05-Dec-2022,1937.9,1935.0,1976.2,1900.0,1920.0,1927.35,1948.78,80596,7928,47059,58.39,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GRSE,EQ,05-Dec-2022,516.05,516.95,535.8,511.85,513.95,515.35,523.4,1596647,25993,309721,19.4,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GSFC,EQ,05-Dec-2022,131.4,132.1,134.85,131.7,133.7,133.5,133.3,1555166,11252,740749,47.63,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GSPL,EQ,05-Dec-2022,263.7,265.9,267.85,257.6,257.9,261.0,263.15,812224,10223,450855,55.51,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GTPL,EQ,05-Dec-2022,139.1,140.7,142.5,139.45,140.0,140.15,140.72,90413,1893,41201,45.57,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GUJALKALI,EQ,05-Dec-2022,794.0,791.25,810.1,791.25,801.0,800.4,801.21,117160,6209,42248,36.06,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GUJGASLTD,EQ,05-Dec-2022,516.3,519.95,520.0,504.15,507.95,508.5,508.25,1273186,22100,400368,31.45,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,GULFOILLUB,EQ,05-Dec-2022,455.8,459.95,465.85,459.95,465.6,463.9,463.24,77633,8687,50318,64.82,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HAL,EQ,05-Dec-2022,2774.25,2792.25,2799.0,2766.15,2775.0,2783.3,2779.3,680281,39989,219717,32.3,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HAPPSTMNDS,EQ,05-Dec-2022,985.7,993.4,995.0,974.0,980.0,980.5,983.82,145618,9787,75266,51.69,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HATHWAY,EQ,05-Dec-2022,17.35,17.55,17.75,17.4,17.55,17.6,17.62,3389619,5087,1534161,45.26,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HATSUN,EQ,05-Dec-2022,945.55,946.05,974.9,946.05,963.0,963.9,965.04,81412,5719,24702,30.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HAVELLS,EQ,05-Dec-2022,1238.95,1240.0,1240.0,1217.75,1235.0,1234.35,1229.42,658970,24066,398432,60.46,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HCC,EQ,05-Dec-2022,18.55,18.75,19.6,18.5,19.2,19.2,19.16,91785714,38987,34295442,37.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HCG,EQ,05-Dec-2022,304.9,314.4,314.4,299.0,305.9,305.85,304.01,118944,5107,71159,59.83,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HCLTECH,EQ,05-Dec-2022,1135.55,1133.25,1141.95,1127.2,1130.0,1130.85,1131.03,2646466,69731,1722717,65.09,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HDFC,EQ,05-Dec-2022,2665.3,2659.05,2681.0,2636.05,2674.15,2675.8,2659.34,3267404,107171,2275477,69.64,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HDFCAMC,EQ,05-Dec-2022,2193.95,2201.05,2205.5,2175.0,2182.85,2186.8,2191.36,221880,10084,157799,71.12,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HDFCBANK,EQ,05-Dec-2022,1607.1,1609.95,1614.6,1596.2,1613.0,1612.95,1604.77,5796311,198169,3767906,65.01,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HDFCLIFE,EQ,05-Dec-2022,589.85,591.9,593.8,584.8,588.5,588.9,588.59,2199625,49152,1531354,69.62,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HEG,EQ,05-Dec-2022,1060.0,1066.0,1093.0,1063.95,1079.0,1079.65,1080.78,427450,20790,121885,28.51,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HEIDELBERG,EQ,05-Dec-2022,207.0,208.0,208.65,204.2,204.3,204.6,205.37,155465,3083,98472,63.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HEMIPROP,EQ,05-Dec-2022,102.85,104.7,114.8,104.0,113.7,113.25,111.56,12452069,61861,3617997,29.06,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HERANBA,EQ,05-Dec-2022,533.25,539.4,540.25,535.0,537.0,537.4,537.46,37394,2745,26681,71.35,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HERITGFOOD,EQ,05-Dec-2022,345.45,347.2,347.9,339.3,341.15,341.7,342.43,101295,8217,61839,61.05,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HEROMOTOCO,EQ,05-Dec-2022,2820.45,2810.0,2832.9,2785.65,2825.0,2827.65,2816.67,397713,26161,193434,48.64,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HESTERBIO,EQ,05-Dec-2022,1858.85,1868.1,1890.45,1852.6,1884.95,1882.45,1875.91,2169,456,1513,69.76,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HFCL,EQ,05-Dec-2022,81.4,81.9,84.45,80.45,83.3,83.45,82.65,20399306,40964,6498941,31.86,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HGINFRA,EQ,05-Dec-2022,593.2,592.9,597.95,585.05,586.05,586.95,591.12,34052,3660,18070,53.07,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HIKAL,EQ,05-Dec-2022,342.7,343.0,358.35,343.0,346.5,348.5,351.05,346785,9702,148316,42.77,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HIL,EQ,05-Dec-2022,2764.25,2789.95,2807.0,2740.1,2760.0,2763.2,2769.33,12298,2646,7088,57.64,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HIMATSEIDE,EQ,05-Dec-2022,96.4,96.4,97.75,94.9,95.6,95.8,96.17,287960,5608,159340,55.33,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HINDALCO,EQ,05-Dec-2022,461.1,466.15,483.85,466.15,482.0,481.2,476.35,14599958,173718,4074151,27.91,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HINDCOPPER,EQ,05-Dec-2022,118.65,119.65,122.5,119.25,121.55,121.45,121.48,5673261,24036,1835049,32.35,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HINDOILEXP,EQ,05-Dec-2022,143.7,144.65,145.7,142.9,143.9,143.65,144.3,202217,2313,92542,45.76,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HINDPETRO,EQ,05-Dec-2022,235.7,235.5,236.15,229.4,229.9,230.1,232.13,2602442,29770,1289260,49.54,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HINDUNILVR,EQ,05-Dec-2022,2615.1,2600.0,2625.0,2585.15,2620.0,2619.85,2609.42,1640511,78675,1051823,64.12,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HINDZINC,EQ,05-Dec-2022,305.4,306.1,315.0,306.1,314.8,314.05,312.7,1227211,20796,533804,43.5,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HOMEFIRST,EQ,05-Dec-2022,757.65,757.75,762.05,740.8,749.5,747.4,755.41,142066,15803,80588,56.73,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HONAUT,EQ,05-Dec-2022,42369.05,42388.0,42964.75,42071.55,42250.0,42328.05,42445.72,4091,2435,1334,32.61,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HSCL,EQ,05-Dec-2022,101.1,101.8,105.4,101.8,104.45,104.25,104.08,4963668,20977,1889616,38.07,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HUDCO,EQ,05-Dec-2022,52.8,53.2,54.0,52.3,52.95,52.9,53.13,10411579,18910,2741350,26.33,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,HUHTAMAKI,EQ,05-Dec-2022,195.05,195.05,199.4,195.0,198.95,197.9,197.35,38128,1276,25843,67.78,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IBREALEST,EQ,05-Dec-2022,85.85,86.5,89.2,86.25,87.45,87.6,87.89,13396585,37167,4088967,30.52,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IBULHSGFIN,EQ,05-Dec-2022,142.8,143.55,149.0,143.0,146.25,146.6,146.69,15640318,56167,3442357,22.01,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ICICIBANK,EQ,05-Dec-2022,930.6,937.0,937.0,928.4,933.9,933.6,932.34,10984608,252201,8258310,75.18,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ICICIGI,EQ,05-Dec-2022,1238.65,1239.95,1244.75,1218.0,1219.9,1223.4,1228.49,423089,16577,223509,52.83,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ICICIPRULI,EQ,05-Dec-2022,482.25,484.8,484.8,470.75,474.9,475.3,474.8,1866186,33542,1063378,56.98,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ICIL,EQ,05-Dec-2022,139.15,140.25,141.9,140.05,140.5,140.25,140.67,144263,2369,84181,58.35,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ICRA,EQ,05-Dec-2022,4390.15,4442.6,4442.6,4340.0,4408.55,4418.35,4399.18,3085,874,1791,58.06,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IDBI,EQ,05-Dec-2022,53.9,54.05,55.3,53.7,54.15,54.25,54.36,12976810,21508,3994481,30.78,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IDEA,EQ,05-Dec-2022,8.3,8.35,8.35,8.15,8.2,8.15,8.24,54867545,75749,21415683,39.03,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IDFC,EQ,05-Dec-2022,83.8,83.8,86.3,83.7,85.0,85.15,85.21,9488092,41621,2648815,27.92,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IDFCFIRSTB,EQ,05-Dec-2022,59.0,59.3,61.2,58.9,60.35,60.4,60.45,60123157,101434,15282140,25.42,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IEX,EQ,05-Dec-2022,150.2,150.9,152.4,150.0,150.85,151.0,151.3,5017611,35919,1620400,32.29,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IFBIND,EQ,05-Dec-2022,951.5,956.3,957.95,924.7,930.9,927.7,934.03,48165,4970,25384,52.7,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IFCI,EQ,05-Dec-2022,13.8,14.0,14.55,13.85,14.3,14.3,14.27,26652211,14542,8061882,30.25,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IGL,EQ,05-Dec-2022,438.45,440.65,440.65,425.75,435.0,435.45,432.49,3186894,51936,1067640,33.5,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IGPL,EQ,05-Dec-2022,531.8,533.0,549.0,533.0,543.65,543.5,544.0,52054,2915,26884,51.65,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IIFLSEC,EQ,05-Dec-2022,68.65,69.35,71.55,68.65,68.95,69.0,69.61,789094,6932,313126,39.68,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IIFLWAM,EQ,05-Dec-2022,1797.85,1800.0,1823.95,1776.55,1788.0,1798.7,1803.4,292803,3397,276302,94.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IMFA,EQ,05-Dec-2022,266.55,268.35,274.3,268.1,269.95,269.15,272.08,126171,3082,87155,69.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,INDHOTEL,EQ,05-Dec-2022,324.55,325.85,326.35,321.1,323.55,324.25,324.2,2844044,37101,1393914,49.01,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,INDIACEM,EQ,05-Dec-2022,248.85,249.7,251.05,246.2,247.2,248.1,248.63,1665776,12940,272712,16.37,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,INDIAGLYCO,EQ,05-Dec-2022,780.2,784.65,786.0,770.0,770.2,772.55,777.9,20812,1656,10903,52.39,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,INDIAMART,EQ,05-Dec-2022,4466.75,4489.1,4496.0,4430.0,4470.05,4479.7,4475.2,40431,8258,15730,38.91,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,INDIANB,EQ,05-Dec-2022,282.35,282.9,286.3,282.0,284.0,284.5,284.07,1451799,22271,379858,26.16,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,INDIGO,EQ,05-Dec-2022,1916.5,1915.0,1934.45,1906.25,1916.0,1919.05,1919.28,298145,21756,129091,43.3,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,INDIGOPNTS,EQ,05-Dec-2022,1340.55,1358.0,1358.0,1330.05,1335.0,1335.15,1337.14,81052,10035,44625,55.06,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,INDOCO,EQ,05-Dec-2022,397.9,393.0,397.2,391.15,394.0,393.05,394.38,30187,2789,18544,61.43,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [SYMBOL, SERIES, DATE, PREV_CLOSE, OPEN_PRICE, HIGH_PRICE, LOW_PRICE, LAST_PRICE, CLOSE_PRICE, AVG_PRICE, TTL_TRD_QNTY, NO_OF_TRADES, DELIV_QTY, DELIV_PER, DELIV_VALUE, 5DDeVA, %Change_In_Price, %Change_In_Deliv_vs_AVG, Intraday_volume]
Index: []

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,INDUSINDBK,EQ,05-Dec-2022,1178.7,1182.0,1198.0,1179.85,1194.25,1195.5,1192.03,3842074,78181,2467769,64.23,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,INDUSTOWER,EQ,05-Dec-2022,202.75,202.8,203.3,200.5,201.5,201.55,201.42,987246,8263,536573,54.35,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,INEOSSTYRO,EQ,05-Dec-2022,824.4,827.0,843.45,826.95,837.0,838.45,835.91,45767,4752,18947,41.4,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,INFIBEAM,EQ,05-Dec-2022,17.15,17.35,18.3,17.05,17.85,17.85,17.73,12645776,11011,5095639,40.3,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,INFY,EQ,05-Dec-2022,1637.9,1638.0,1644.85,1623.3,1638.65,1639.75,1634.5,3824966,133011,2527285,66.07,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,INGERRAND,EQ,05-Dec-2022,2144.55,2127.95,2148.6,2123.0,2126.6,2128.1,2135.8,13138,2313,6416,48.84,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,INOXLEISUR,EQ,05-Dec-2022,555.0,555.0,566.3,552.55,562.0,562.5,561.65,283768,9845,142283,50.14,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,INOXWIND,EQ,05-Dec-2022,127.2,121.0,127.0,121.0,125.0,124.8,124.6,493021,5830,186636,37.86,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,INTELLECT,EQ,05-Dec-2022,470.3,472.0,476.0,460.0,463.6,464.6,465.62,692294,18618,306288,44.24,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IOB,EQ,05-Dec-2022,22.95,23.0,23.4,22.0,22.35,22.35,22.72,23394867,18640,8760918,37.45,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IOC,EQ,05-Dec-2022,77.0,77.05,77.7,76.7,77.05,77.05,77.12,10947250,43916,5858825,53.52,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IOLCP,EQ,05-Dec-2022,346.6,345.1,350.8,341.1,343.5,343.4,346.64,73373,3375,33253,45.32,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IPCALAB,EQ,05-Dec-2022,868.55,871.6,871.6,862.05,863.2,863.8,864.09,238502,8457,169786,71.19,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IRB,EQ,05-Dec-2022,274.55,276.0,280.0,271.25,279.15,276.95,275.9,1284409,15318,471534,36.71,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IRCON,EQ,05-Dec-2022,63.25,64.0,64.15,61.6,62.1,62.1,62.93,9523461,25429,2858264,30.01,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IRCTC,EQ,05-Dec-2022,730.1,733.0,733.7,725.1,730.0,729.1,728.45,1114128,26536,424102,38.07,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,IRFC,EQ,05-Dec-2022,34.5,34.7,34.7,33.45,33.6,33.65,33.94,71585440,115551,21428996,29.93,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ISEC,EQ,05-Dec-2022,536.35,537.6,542.8,528.05,531.3,530.55,532.42,200786,12528,110049,54.81,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ITC,EQ,05-Dec-2022,337.15,337.65,338.85,334.15,336.6,336.75,335.88,9716390,131793,6175352,63.56,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ITDC,EQ,05-Dec-2022,377.55,379.8,381.45,371.5,372.5,373.05,376.52,56586,2822,27406,48.43,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ITDCEM,EQ,05-Dec-2022,122.5,123.35,130.35,122.5,128.8,129.25,127.55,2786037,17442,1701093,61.06,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ITI,EQ,05-Dec-2022,114.5,114.0,117.4,113.15,114.3,114.0,115.39,652092,7878,157018,24.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,J&KBANK,EQ,05-Dec-2022,46.6,47.0,51.75,46.4,51.75,51.25,49.7,26000531,33965,9763005,37.55,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JAGRAN,EQ,05-Dec-2022,72.2,72.7,75.8,71.75,75.0,74.95,74.24,937856,4971,752897,80.28,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JAICORPLTD,EQ,05-Dec-2022,168.6,169.4,177.8,166.75,175.0,175.4,173.61,2790193,20751,768458,27.54,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JAMNAAUTO,EQ,05-Dec-2022,112.5,113.0,113.6,111.65,112.25,112.3,112.56,354696,5604,166558,46.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JBCHEPHARM,EQ,05-Dec-2022,2000.75,2012.65,2041.55,1989.5,2037.0,2019.4,2010.69,57998,7100,24324,41.94,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JBMA,EQ,05-Dec-2022,426.25,439.7,439.7,426.2,429.15,427.55,430.93,48035,4044,21123,43.97,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JCHAC,EQ,05-Dec-2022,1156.85,1156.85,1197.0,1156.85,1176.0,1184.3,1181.76,22279,5356,7181,32.23,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JINDALPOLY,EQ,05-Dec-2022,879.1,884.0,892.85,879.2,881.95,882.75,885.28,32741,2429,22402,68.42,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JINDALSAW,EQ,05-Dec-2022,94.05,94.5,96.6,93.2,94.15,94.15,95.23,1584412,9272,685153,43.24,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JINDALSTEL,EQ,05-Dec-2022,564.45,571.3,573.5,566.05,567.0,569.35,569.51,2829575,54873,763307,26.98,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JKCEMENT,EQ,05-Dec-2022,3236.35,3243.75,3262.2,3166.5,3184.7,3190.6,3197.2,109839,9587,36340,33.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JKIL,EQ,05-Dec-2022,279.6,276.8,285.65,271.65,273.0,273.2,276.27,188129,5339,94176,50.06,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JKLAKSHMI,EQ,05-Dec-2022,748.55,748.55,834.75,747.0,822.9,825.35,800.9,3968081,84372,822641,20.73,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JKPAPER,EQ,05-Dec-2022,414.1,415.9,416.6,406.5,408.4,408.2,409.69,552692,10879,252021,45.6,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JKTYRE,EQ,05-Dec-2022,202.95,205.0,209.0,202.6,203.7,204.1,205.17,3588678,26824,782316,21.8,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JMCPROJECT,EQ,05-Dec-2022,126.0,126.0,128.95,124.0,126.0,126.9,126.72,258369,7071,140508,54.38,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JMFINANCIL,EQ,05-Dec-2022,79.55,80.5,84.9,80.1,80.7,80.75,82.16,12292400,41465,4361846,35.48,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JPPOWER,EQ,05-Dec-2022,7.95,8.0,8.3,7.85,8.1,8.05,8.14,137041295,27989,29943057,21.85,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JSL,EQ,05-Dec-2022,176.95,178.45,180.95,176.7,179.1,179.0,179.66,1519011,13757,1133247,74.6,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JSLHISAR,EQ,05-Dec-2022,342.2,342.3,347.7,339.55,344.8,343.1,344.01,54594,3313,31366,57.45,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JSWHL,EQ,05-Dec-2022,4354.75,4354.75,4429.95,4350.0,4412.0,4413.7,4392.02,1146,383,625,54.54,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JSWSTEEL,EQ,05-Dec-2022,743.05,746.45,759.0,746.0,754.1,756.6,754.91,2129340,40253,710357,33.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JTEKTINDIA,EQ,05-Dec-2022,147.2,148.2,149.8,147.2,148.1,147.95,148.08,326067,4145,192601,59.07,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JUBLFOOD,EQ,05-Dec-2022,547.65,548.55,555.15,543.1,552.75,553.85,550.95,2164470,37382,938109,43.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JUBLINGREA,EQ,05-Dec-2022,529.35,531.4,544.0,530.1,535.1,534.55,536.48,269202,8170,106849,39.69,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JUBLPHARMA,EQ,05-Dec-2022,378.75,378.75,380.9,373.0,375.55,375.65,377.32,132416,11528,71365,53.89,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JUSTDIAL,EQ,05-Dec-2022,597.5,593.0,598.8,589.05,594.0,593.35,593.37,112053,3907,40560,36.2,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,JYOTHYLAB,EQ,05-Dec-2022,210.45,212.0,213.45,208.55,211.8,211.65,211.63,727901,13864,283122,38.9,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KAJARIACER,EQ,05-Dec-2022,1185.45,1177.25,1212.0,1170.05,1185.0,1184.5,1192.03,216494,11104,110436,51.01,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KALPATPOWR,EQ,05-Dec-2022,523.35,524.8,524.8,513.2,514.5,516.0,517.04,70170,4982,32589,46.44,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KALYANKJIL,EQ,05-Dec-2022,109.75,110.95,116.4,110.75,115.25,115.5,114.59,12499766,56485,2682876,21.46,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KANSAINER,EQ,05-Dec-2022,440.7,444.15,450.35,442.3,446.5,447.35,446.49,98826,5697,65309,66.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KARURVYSYA,EQ,05-Dec-2022,99.15,99.3,101.25,94.15,101.0,99.35,97.61,16575045,64726,7450930,44.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KEC,EQ,05-Dec-2022,419.25,418.5,424.75,418.0,419.45,419.05,420.98,362540,8494,279707,77.15,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KEI,EQ,05-Dec-2022,1616.35,1624.4,1644.0,1601.2,1608.0,1610.65,1621.25,234630,14769,126152,53.77,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KIOCL,EQ,05-Dec-2022,217.75,219.9,222.8,217.0,218.5,218.15,219.57,41598,2821,17098,41.1,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KIRIINDUS,EQ,05-Dec-2022,481.8,485.65,489.0,475.05,487.0,480.65,482.97,88573,3445,46410,52.4,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KIRLOSENG,EQ,05-Dec-2022,335.8,337.45,343.65,333.55,340.65,341.25,339.75,299082,7555,123358,41.25,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KIRLOSIND,EQ,05-Dec-2022,1929.3,1929.3,1983.5,1929.3,1970.0,1958.4,1963.5,7124,1039,5215,73.2,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KNRCON,EQ,05-Dec-2022,258.85,259.4,264.5,258.2,262.0,261.0,261.44,187299,5257,104562,55.83,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KOLTEPATIL,EQ,05-Dec-2022,315.95,317.15,317.15,311.5,313.0,313.2,314.33,88284,3041,41026,46.47,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KOTAKBANK,EQ,05-Dec-2022,1930.8,1942.0,1943.95,1920.0,1933.85,1938.45,1931.26,1245509,66850,768844,61.73,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KPITTECH,EQ,05-Dec-2022,719.0,721.95,722.0,712.05,717.0,718.2,717.91,556824,21829,236185,42.42,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KPRMILL,EQ,05-Dec-2022,544.6,548.95,552.45,537.0,543.45,543.1,542.82,621509,13954,470209,75.66,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KRBL,EQ,05-Dec-2022,426.45,430.0,433.0,420.0,422.0,423.3,426.94,487728,14102,198699,40.74,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KSB,EQ,05-Dec-2022,1927.5,1937.15,1957.95,1911.0,1948.0,1937.55,1931.71,21706,4318,9753,44.93,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KSCL,EQ,05-Dec-2022,515.15,517.75,525.0,512.7,524.9,523.15,519.49,105334,3980,74241,70.48,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KSL,EQ,05-Dec-2022,335.05,338.7,345.4,336.05,339.0,339.2,341.28,66055,3544,31840,48.2,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,KTKBANK,EQ,05-Dec-2022,151.3,152.1,164.45,151.1,156.8,156.8,159.94,14894319,66750,4281721,28.75,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,L&TFH,EQ,05-Dec-2022,91.35,92.1,93.9,91.8,93.15,93.3,93.08,20689507,63474,5317622,25.7,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,LALPATHLAB,EQ,05-Dec-2022,2478.15,2479.35,2510.0,2465.55,2485.0,2493.3,2487.57,188534,16544,72838,38.63,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,LAOPALA,EQ,05-Dec-2022,415.6,417.4,419.2,406.9,411.0,412.25,412.29,131767,6246,57855,43.91,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,LAURUSLABS,EQ,05-Dec-2022,423.6,423.5,426.15,418.2,420.6,420.5,420.79,1609869,24199,708231,43.99,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,LAXMIMACH,EQ,05-Dec-2022,13256.4,13425.0,13559.0,13230.8,13400.0,13376.05,13421.94,3704,1290,1749,47.22,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,LEMONTREE,EQ,05-Dec-2022,99.05,99.5,101.5,98.0,98.25,98.4,99.41,4425825,35752,1468428,33.18,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,LICHSGFIN,EQ,05-Dec-2022,393.6,395.4,404.25,394.3,403.05,403.05,400.39,2339996,28171,1018220,43.51,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,LINDEINDIA,EQ,05-Dec-2022,3117.0,3138.5,3139.95,3076.0,3101.0,3100.55,3098.65,27260,4377,17524,64.28,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,LT,EQ,05-Dec-2022,2085.5,2095.95,2096.8,2068.85,2088.6,2085.6,2082.63,1767537,139331,1236426,69.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
5,LTI,EQ,02-Dec-2022,5010.45,5024.0,5125.0,4970.0,5062.0,5065.75,5050.47,783131,65557,288176,36.8,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,LTTS,EQ,05-Dec-2022,4287.35,4281.0,4312.3,4214.4,4254.0,4248.95,4240.51,258701,25544,71829,27.77,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,LUMAXIND,EQ,05-Dec-2022,1910.75,1909.95,1925.1,1825.0,1840.0,1845.3,1858.63,24863,5151,11947,48.05,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,LUPIN,EQ,05-Dec-2022,776.0,778.0,778.0,761.35,768.9,770.1,767.15,734449,26375,254729,34.68,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,LUXIND,EQ,05-Dec-2022,1716.45,1730.4,1757.0,1716.55,1724.0,1722.5,1735.96,63887,7074,32931,51.55,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,LXCHEM,EQ,05-Dec-2022,304.2,305.3,321.0,304.3,318.4,318.75,315.32,2258828,34329,668514,29.6,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,M&M,EQ,05-Dec-2022,1264.6,1269.45,1269.45,1252.6,1259.2,1259.8,1258.45,2764806,65886,1774842,64.19,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,M&MFIN,EQ,05-Dec-2022,229.0,232.25,243.35,228.2,241.1,241.15,238.59,17008391,98587,3010057,17.7,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MAHABANK,EQ,05-Dec-2022,27.35,27.5,27.85,27.0,27.8,27.65,27.45,15276414,14835,4795137,31.39,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MAHINDCIE,EQ,05-Dec-2022,287.55,289.75,291.95,287.75,289.4,289.4,289.46,169913,4091,72955,42.94,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MAHLIFE,EQ,05-Dec-2022,392.2,395.25,395.25,382.9,386.0,385.2,385.84,138059,6478,66230,47.97,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MAHLOG,EQ,05-Dec-2022,507.9,511.55,511.6,498.0,498.55,499.05,501.24,93483,3668,55696,59.58,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MAHSCOOTER,EQ,05-Dec-2022,4956.6,4994.0,5000.35,4756.2,4776.0,4784.7,4855.49,14757,3526,8264,56.0,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MAHSEAMLES,EQ,05-Dec-2022,387.95,389.9,394.9,381.25,390.0,390.2,389.61,164137,8461,91453,55.72,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MAITHANALL,EQ,05-Dec-2022,957.7,962.5,974.35,950.0,953.0,952.65,956.9,24898,3131,13734,55.16,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MANAPPURAM,EQ,05-Dec-2022,119.4,120.9,126.0,120.7,123.7,123.7,124.04,24534022,91479,6094711,24.84,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MARICO,EQ,05-Dec-2022,503.85,504.95,506.5,499.8,500.6,500.95,501.3,1003133,24522,682266,68.01,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MARKSANS,EQ,05-Dec-2022,58.35,58.6,61.5,58.4,60.95,61.1,60.53,3508439,12486,1490754,42.49,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MARUTI,EQ,05-Dec-2022,8815.85,8844.0,8853.2,8765.0,8786.95,8792.05,8792.31,519621,78677,322614,62.09,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MASFIN,EQ,05-Dec-2022,847.6,845.05,845.6,825.0,828.0,827.15,831.69,36735,2980,25205,68.61,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MASTEK,EQ,05-Dec-2022,1787.3,1795.0,1804.3,1761.0,1767.95,1768.6,1775.3,44140,5774,18205,41.24,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MATRIMONY,EQ,05-Dec-2022,624.65,625.0,627.7,616.3,617.0,618.05,619.79,6271,938,3932,62.7,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MAXHEALTH,EQ,05-Dec-2022,447.5,451.25,452.15,435.2,439.3,437.6,441.37,1170296,50461,823660,70.38,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MAYURUNIQ,EQ,05-Dec-2022,455.1,455.1,458.95,445.05,445.05,445.75,451.8,16580,2124,9639,58.14,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MAZDOCK,EQ,05-Dec-2022,914.0,918.6,936.4,904.5,907.9,911.85,920.68,3482846,60820,524097,15.05,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MCDOWELL-N,EQ,05-Dec-2022,935.9,937.0,939.15,921.6,930.0,929.6,927.18,1024143,33324,605958,59.17,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,METROPOLIS,EQ,05-Dec-2022,1478.65,1486.4,1489.8,1445.0,1449.5,1451.35,1460.73,134089,8363,54889,40.93,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MFSL,EQ,05-Dec-2022,706.2,707.2,722.0,707.05,719.0,720.05,715.27,544781,19306,192508,35.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MGL,EQ,05-Dec-2022,907.25,909.0,911.7,897.4,905.0,904.15,903.11,160208,6311,26660,16.64,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MHRIL,EQ,05-Dec-2022,286.6,290.5,291.0,286.65,288.5,288.05,288.76,235515,5792,111436,47.32,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MIDHANI,EQ,05-Dec-2022,242.15,243.3,248.8,243.0,246.6,246.55,245.43,619705,10373,177034,28.57,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MINDACORP,EQ,05-Dec-2022,220.55,224.8,229.0,219.4,222.0,221.05,224.35,1153633,18691,492064,42.65,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [SYMBOL, SERIES, DATE, PREV_CLOSE, OPEN_PRICE, HIGH_PRICE, LOW_PRICE, LAST_PRICE, CLOSE_PRICE, AVG_PRICE, TTL_TRD_QNTY, NO_OF_TRADES, DELIV_QTY, DELIV_PER, DELIV_VALUE, 5DDeVA, %Change_In_Price, %Change_In_Deliv_vs_AVG, Intraday_volume]
Index: []

Empty DataFrame
Columns: [SYMBOL, SERIES, DATE, PREV_CLOSE, OPEN_PRICE, HIGH_PRICE, LOW_PRICE, LAST_PRICE, CLOSE_PRICE, AVG_PRICE, TTL_TRD_QNTY, NO_OF_TRADES, DELIV_QTY, DELIV_PER, DELIV_VALUE, 5DDeVA, %Change_In_Price, %Change_In_Deliv_vs_AVG, Intraday_volume]
Index: []

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MMFL,EQ,05-Dec-2022,861.1,856.0,898.5,856.0,897.0,894.75,891.06,54698,4910,28879,52.8,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MMTC,EQ,05-Dec-2022,41.95,42.2,42.45,41.4,41.5,41.6,41.81,2874730,7773,1115859,38.82,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MOIL,EQ,05-Dec-2022,168.35,169.25,171.0,164.6,166.45,166.0,167.38,335445,8511,146260,43.6,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MOREPENLAB,EQ,05-Dec-2022,30.9,31.05,32.7,30.9,31.7,31.8,31.94,3319700,8411,1120965,33.77,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [SYMBOL, SERIES, DATE, PREV_CLOSE, OPEN_PRICE, HIGH_PRICE, LOW_PRICE, LAST_PRICE, CLOSE_PRICE, AVG_PRICE, TTL_TRD_QNTY, NO_OF_TRADES, DELIV_QTY, DELIV_PER, DELIV_VALUE, 5DDeVA, %Change_In_Price, %Change_In_Deliv_vs_AVG, Intraday_volume]
Index: []

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MOTILALOFS,EQ,05-Dec-2022,666.2,666.0,673.95,664.0,670.0,668.65,668.21,157304,5375,99892,63.5,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MPHASIS,EQ,05-Dec-2022,2157.35,2164.95,2176.95,2112.2,2139.0,2135.95,2135.71,358098,22441,154682,43.2,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MRF,EQ,05-Dec-2022,94554.2,94711.95,95243.65,94052.45,94302.0,94673.7,94564.51,8584,5105,1617,18.84,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MRPL,EQ,05-Dec-2022,59.3,59.5,60.4,58.75,59.15,59.2,59.38,2879399,10908,949815,32.99,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MSTCLTD,EQ,05-Dec-2022,334.0,336.0,338.0,327.05,329.0,329.35,331.35,377775,9159,148749,39.38,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MTARTECH,EQ,05-Dec-2022,1737.8,1751.5,1823.9,1751.0,1762.05,1767.6,1786.05,699517,41428,167629,23.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MTNL,EQ,05-Dec-2022,23.7,23.85,24.3,23.55,23.55,23.6,23.88,2070700,3639,879258,42.46,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,MUTHOOTFIN,EQ,05-Dec-2022,1135.75,1137.95,1158.75,1133.05,1137.0,1142.1,1144.48,1396099,50039,746452,53.47,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NAM-INDIA,EQ,05-Dec-2022,269.75,270.5,271.7,267.0,267.4,267.55,268.64,398245,11408,261131,65.57,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NATCOPHARM,EQ,05-Dec-2022,581.95,585.0,586.05,577.0,580.2,579.05,580.39,130300,6826,85937,65.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NATIONALUM,EQ,05-Dec-2022,78.0,79.2,81.15,78.8,80.15,80.2,80.23,27249138,55782,9172144,33.66,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NAUKRI,EQ,05-Dec-2022,4042.6,4051.0,4073.95,3997.2,4058.0,4056.45,4043.74,336839,24845,91156,27.06,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NAVINFLUOR,EQ,05-Dec-2022,4418.45,4450.0,4543.9,4355.1,4398.6,4397.8,4453.63,299103,26116,57098,19.09,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NAVNETEDUL,EQ,05-Dec-2022,128.6,129.7,131.4,127.8,130.15,130.0,129.37,361563,4740,209533,57.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NAZARA,EQ,05-Dec-2022,621.05,624.2,633.5,612.15,615.6,615.1,623.51,307018,13110,85204,27.75,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NBCC,EQ,05-Dec-2022,42.65,42.95,43.4,42.1,42.35,42.3,42.73,9423488,17969,3617914,38.39,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [SYMBOL, SERIES, DATE, PREV_CLOSE, OPEN_PRICE, HIGH_PRICE, LOW_PRICE, LAST_PRICE, CLOSE_PRICE, AVG_PRICE, TTL_TRD_QNTY, NO_OF_TRADES, DELIV_QTY, DELIV_PER, DELIV_VALUE, 5DDeVA, %Change_In_Price, %Change_In_Deliv_vs_AVG, Intraday_volume]
Index: []

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NCC,EQ,05-Dec-2022,80.3,80.7,81.0,79.4,79.7,79.8,80.03,2688559,11138,1182064,43.97,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NEOGEN,EQ,05-Dec-2022,1291.4,1291.4,1304.05,1286.05,1288.0,1289.25,1291.54,27335,3658,14849,54.32,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NESCO,EQ,05-Dec-2022,629.45,638.0,645.0,631.95,639.8,638.65,639.15,83454,3959,48313,57.89,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NETWORK18,EQ,05-Dec-2022,74.2,74.15,78.25,73.0,75.65,75.95,76.11,4160314,19197,927950,22.3,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NEWGEN,EQ,05-Dec-2022,370.2,371.45,384.75,371.4,384.6,382.65,378.71,199915,10067,104888,52.47,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NFL,EQ,05-Dec-2022,57.85,58.15,59.55,58.0,58.75,58.65,58.58,1332346,4684,553189,41.52,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NH,EQ,05-Dec-2022,757.6,769.95,769.95,751.45,754.0,755.4,759.22,130093,7196,79332,60.98,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NHPC,EQ,05-Dec-2022,41.95,42.3,43.2,41.9,41.95,41.95,42.26,16843753,30979,9533622,56.6,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NIACL,EQ,05-Dec-2022,110.25,111.0,112.45,109.2,110.05,109.95,110.98,711606,6973,262254,36.85,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NIITLTD,EQ,05-Dec-2022,341.45,343.5,343.5,330.75,332.5,333.6,334.84,428161,12044,140541,32.82,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NILKAMAL,EQ,05-Dec-2022,1932.9,1955.0,1960.0,1916.0,1917.0,1919.8,1927.38,9551,881,6725,70.41,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NLCINDIA,EQ,05-Dec-2022,88.25,89.5,91.45,88.7,89.1,89.3,90.11,11238632,50440,3809891,33.9,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NMDC,EQ,05-Dec-2022,119.9,120.9,123.05,120.45,122.95,122.75,121.99,7731152,42953,3616588,46.78,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NOCIL,EQ,05-Dec-2022,233.6,234.5,239.8,232.6,237.0,237.25,237.15,497998,8210,169709,34.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NTPC,EQ,05-Dec-2022,172.15,173.05,175.65,171.4,175.0,175.15,174.14,9861212,53164,5677909,57.58,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,NUCLEUS,EQ,05-Dec-2022,395.45,403.95,419.2,397.2,413.0,411.8,412.98,94749,4332,44605,47.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,OAL,EQ,05-Dec-2022,453.65,453.0,466.05,449.95,455.0,455.15,457.32,10060,569,6651,66.11,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,OBEROIRLTY,EQ,05-Dec-2022,954.25,954.75,961.1,944.6,959.0,956.75,955.56,418300,17950,129982,31.07,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,OFSS,EQ,05-Dec-2022,3218.8,3237.55,3240.0,3160.0,3175.0,3176.0,3184.84,113358,14547,46383,40.92,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,OIL,EQ,05-Dec-2022,207.9,209.0,212.5,207.7,211.2,212.0,210.51,921322,13993,521620,56.62,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,OMAXE,EQ,05-Dec-2022,78.8,79.7,84.4,78.8,83.0,83.3,82.55,479364,4989,290855,60.68,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ONGC,EQ,05-Dec-2022,140.9,141.5,143.95,140.6,143.75,143.75,142.49,18440387,91862,9424233,51.11,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ORIENTCEM,EQ,05-Dec-2022,131.6,132.45,133.7,129.5,131.0,130.6,130.88,601975,16192,320199,53.19,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ORIENTELEC,EQ,05-Dec-2022,279.5,280.9,281.85,275.25,278.0,276.6,279.21,152990,6675,115767,75.67,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ORISSAMINE,EQ,05-Dec-2022,2967.4,2912.05,3008.0,2912.05,2951.0,2960.95,2958.19,4182,1035,2697,64.49,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PAGEIND,EQ,05-Dec-2022,47539.15,47561.1,47889.95,47160.0,47450.0,47533.35,47468.7,12546,6153,6009,47.9,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PAISALO,EQ,05-Dec-2022,83.15,83.15,85.5,82.0,82.7,83.1,84.12,220266,2107,151936,68.98,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [SYMBOL, SERIES, DATE, PREV_CLOSE, OPEN_PRICE, HIGH_PRICE, LOW_PRICE, LAST_PRICE, CLOSE_PRICE, AVG_PRICE, TTL_TRD_QNTY, NO_OF_TRADES, DELIV_QTY, DELIV_PER, DELIV_VALUE, 5DDeVA, %Change_In_Price, %Change_In_Deliv_vs_AVG, Intraday_volume]
Index: []

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PEL,EQ,05-Dec-2022,859.7,864.0,906.2,861.0,904.8,896.25,890.02,3472292,62875,1345016,38.74,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PERSISTENT,EQ,05-Dec-2022,4345.25,4310.3,4327.9,4217.25,4264.7,4263.7,4257.86,304928,40735,108235,35.5,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PETRONET,EQ,05-Dec-2022,212.0,213.3,213.5,211.55,213.0,213.15,212.74,1308234,13071,872699,66.71,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PFC,EQ,05-Dec-2022,139.3,139.5,140.9,137.85,138.0,138.15,138.94,6833200,26374,4432692,64.87,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PFIZER,EQ,05-Dec-2022,4588.4,4612.45,4626.4,4552.0,4575.9,4566.15,4582.03,7722,2232,3745,48.5,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PGHH,EQ,05-Dec-2022,14140.8,14205.95,14329.65,14000.0,14225.0,14191.5,14124.32,11829,2435,8770,74.14,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PGHL,EQ,05-Dec-2022,4179.35,4168.6,4201.0,4100.0,4128.0,4116.35,4127.89,4457,1827,2574,57.75,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PHOENIXLTD,EQ,05-Dec-2022,1492.25,1500.0,1509.55,1444.15,1451.05,1449.6,1465.12,198410,21224,100042,50.42,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PIDILITIND,EQ,05-Dec-2022,2736.2,2728.1,2739.85,2694.0,2728.0,2733.8,2720.1,339575,26395,194132,57.17,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PIIND,EQ,05-Dec-2022,3485.6,3470.0,3535.0,3466.05,3472.5,3481.6,3492.3,237757,25284,124403,52.32,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PILANIINVS,EQ,05-Dec-2022,1933.95,1933.95,1955.95,1929.1,1937.05,1938.85,1941.49,2967,623,2185,73.64,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PNB,EQ,05-Dec-2022,54.0,54.3,55.35,53.8,55.2,55.15,54.74,99638073,118215,30077737,30.19,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PNCINFRA,EQ,05-Dec-2022,278.85,280.5,285.0,237.0,265.0,266.15,273.75,290333,6798,150757,51.93,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,POLYCAB,EQ,05-Dec-2022,2674.3,2689.9,2695.9,2645.65,2671.0,2672.6,2669.53,238730,21244,131547,55.1,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,POLYMED,EQ,05-Dec-2022,964.0,964.0,967.95,952.0,955.05,956.0,958.6,16706,2560,9165,54.86,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,POLYPLEX,EQ,05-Dec-2022,1785.1,1795.0,1806.95,1771.25,1778.0,1775.9,1785.06,62398,6999,36832,59.03,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,POWERGRID,EQ,05-Dec-2022,219.8,219.7,222.25,217.2,221.75,221.9,219.64,12358468,78590,8542697,69.12,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,POWERINDIA,EQ,05-Dec-2022,2936.25,2962.25,3017.2,2935.0,3017.2,3008.55,2991.89,26549,5076,12223,46.04,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PRAKASH,EQ,05-Dec-2022,55.35,55.8,58.1,55.6,57.15,57.35,57.07,1431125,7529,737494,51.53,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PRESTIGE,EQ,05-Dec-2022,507.8,508.1,511.4,493.0,495.2,495.35,501.68,456122,13086,282655,61.97,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PRINCEPIPE,EQ,05-Dec-2022,597.9,601.1,629.9,601.1,626.0,623.3,619.29,1180731,32185,227957,19.31,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PRIVISCL,EQ,05-Dec-2022,1192.5,1192.5,1214.0,1182.0,1204.3,1206.95,1197.91,22390,2513,8570,38.28,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PRSMJOHNSN,EQ,05-Dec-2022,127.85,128.5,129.35,124.35,125.2,124.9,125.92,760609,8188,375554,49.38,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PSB,EQ,05-Dec-2022,23.25,24.25,25.5,24.0,25.45,25.0,24.72,9510468,15534,3137775,32.99,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PSPPROJECT,EQ,05-Dec-2022,636.85,634.5,650.0,630.05,635.0,634.9,643.2,127798,5734,64013,50.09,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [SYMBOL, SERIES, DATE, PREV_CLOSE, OPEN_PRICE, HIGH_PRICE, LOW_PRICE, LAST_PRICE, CLOSE_PRICE, AVG_PRICE, TTL_TRD_QNTY, NO_OF_TRADES, DELIV_QTY, DELIV_PER, DELIV_VALUE, 5DDeVA, %Change_In_Price, %Change_In_Deliv_vs_AVG, Intraday_volume]
Index: []

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PURVA,EQ,05-Dec-2022,93.85,93.9,99.0,93.2,97.3,96.95,95.59,166096,2626,88568,53.32,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,PVR,EQ,05-Dec-2022,1899.0,1908.0,1919.75,1889.55,1905.0,1912.2,1910.43,291592,14310,85148,29.2,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,QUESS,EQ,05-Dec-2022,439.3,441.6,444.9,436.5,439.0,438.85,442.66,892098,10983,727919,81.6,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,QUICKHEAL,EQ,05-Dec-2022,181.7,181.7,184.7,179.9,183.0,182.3,182.05,67412,2617,26881,39.88,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RADICO,EQ,05-Dec-2022,1134.15,1130.0,1130.0,1096.0,1110.0,1110.45,1109.14,304637,17000,99473,32.65,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RAILTEL,EQ,05-Dec-2022,135.15,135.85,136.5,132.0,133.5,132.95,133.88,1681095,11098,673003,40.03,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RAIN,EQ,05-Dec-2022,185.35,186.0,190.9,185.1,187.1,187.2,188.22,2020195,13807,471239,23.33,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RAJESHEXPO,EQ,05-Dec-2022,727.3,725.9,743.0,716.35,734.9,735.5,729.07,260769,11467,47416,18.18,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RALLIS,EQ,05-Dec-2022,241.0,241.15,246.35,241.15,244.2,243.85,244.42,491391,12875,275674,56.1,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RAMCOCEM,EQ,05-Dec-2022,691.15,694.0,699.0,685.3,693.0,691.8,692.05,323965,10178,105990,32.72,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RAMCOIND,EQ,05-Dec-2022,166.55,169.0,169.35,166.0,167.4,167.35,167.31,96312,2283,56689,58.86,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RAMCOSYS,EQ,05-Dec-2022,272.75,273.7,275.75,267.35,271.15,271.05,272.34,35624,1884,14180,39.8,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RATNAMANI,EQ,05-Dec-2022,1973.1,1980.0,1989.3,1956.5,1977.0,1974.1,1970.76,7392,1444,4334,58.63,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RAYMOND,EQ,05-Dec-2022,1608.9,1578.0,1609.0,1542.8,1584.1,1581.05,1578.23,2222030,82562,222121,10.0,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RBLBANK,EQ,05-Dec-2022,152.5,153.25,156.4,152.2,154.7,154.85,154.55,9519690,33238,2429502,25.52,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RCF,EQ,05-Dec-2022,123.6,124.25,125.9,122.4,123.8,123.8,124.36,3917724,16646,1542128,39.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RECLTD,EQ,05-Dec-2022,111.0,111.4,113.05,110.5,111.75,111.85,111.76,11813355,33979,6741419,57.07,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,REDINGTON,EQ,05-Dec-2022,178.0,178.9,181.7,177.4,179.8,180.1,179.85,2177296,20647,975090,44.78,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RELAXO,EQ,05-Dec-2022,956.05,962.0,962.0,945.0,953.0,948.55,950.95,79380,8437,46973,59.17,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RELIANCE,EQ,05-Dec-2022,2722.15,2712.0,2716.75,2678.0,2682.0,2682.45,2694.53,6843367,227194,4861671,71.04,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RELIGARE,EQ,05-Dec-2022,180.65,181.45,183.4,174.8,177.95,178.45,179.46,1423016,14773,508285,35.72,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,REPCOHOME,EQ,05-Dec-2022,244.75,247.65,253.95,245.0,245.0,246.2,249.76,423988,7608,302034,71.24,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RESPONIND,EQ,05-Dec-2022,138.55,140.65,140.65,134.0,134.6,135.05,136.55,103629,2032,57914,55.89,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RITES,EQ,05-Dec-2022,374.15,376.0,376.05,368.0,369.0,369.2,371.41,305576,8069,125704,41.14,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RKFORGE,EQ,05-Dec-2022,237.8,241.9,242.0,232.9,233.9,234.7,237.26,1285668,9877,764554,59.47,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ROSSARI,EQ,05-Dec-2022,815.35,815.0,824.0,810.25,812.1,816.7,817.19,31333,4341,13812,44.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ROUTE,EQ,05-Dec-2022,1349.2,1354.0,1355.85,1332.25,1344.8,1347.2,1342.97,85962,7777,29077,33.83,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RSYSTEMS,EQ,05-Dec-2022,261.95,263.8,284.0,261.2,277.45,276.75,276.42,648414,13195,347000,53.52,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [SYMBOL, SERIES, DATE, PREV_CLOSE, OPEN_PRICE, HIGH_PRICE, LOW_PRICE, LAST_PRICE, CLOSE_PRICE, AVG_PRICE, TTL_TRD_QNTY, NO_OF_TRADES, DELIV_QTY, DELIV_PER, DELIV_VALUE, 5DDeVA, %Change_In_Price, %Change_In_Deliv_vs_AVG, Intraday_volume]
Index: []

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RUPA,EQ,05-Dec-2022,311.25,312.2,318.0,308.5,313.9,313.55,314.43,368136,9191,127198,34.55,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,RVNL,EQ,05-Dec-2022,75.15,75.9,76.95,71.4,71.4,71.4,73.26,18116172,75353,9593823,52.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SAFARI,EQ,05-Dec-2022,1653.7,1669.55,1688.95,1650.0,1660.05,1663.55,1667.76,6606,1704,3378,51.14,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SAGCEM,EQ,05-Dec-2022,232.2,232.95,244.35,228.05,242.05,241.45,239.63,224415,6116,124553,55.5,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SAIL,EQ,05-Dec-2022,86.75,87.2,88.65,87.0,88.05,88.1,88.07,21457721,53643,8197866,38.2,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SANDHAR,EQ,05-Dec-2022,230.6,228.0,233.5,226.85,231.0,231.25,231.13,43704,1843,30954,70.83,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SANOFI,EQ,05-Dec-2022,5742.65,5779.95,5779.95,5700.0,5701.0,5711.45,5717.21,10943,3142,8035,73.43,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SASKEN,EQ,05-Dec-2022,1014.8,1020.3,1027.0,995.0,1004.9,1001.4,1004.46,19140,2086,9543,49.86,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SBICARD,EQ,05-Dec-2022,838.35,838.95,842.0,828.3,829.5,831.15,833.03,1670685,41862,1226322,73.4,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SBILIFE,EQ,05-Dec-2022,1295.15,1298.1,1298.1,1273.65,1283.85,1284.55,1282.47,684421,27972,351547,51.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SBIN,EQ,05-Dec-2022,607.55,608.5,618.0,607.55,616.7,617.3,614.05,11585602,210728,5730406,49.46,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SCHAEFFLER,EQ,05-Dec-2022,2803.35,2820.6,2833.35,2686.0,2741.0,2736.05,2725.45,271472,30171,144347,53.17,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SCHNEIDER,EQ,05-Dec-2022,164.85,165.7,168.8,165.4,167.1,167.1,166.91,238689,4089,88845,37.22,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SCI,EQ,05-Dec-2022,133.9,134.55,139.4,134.35,136.15,135.95,137.37,2306807,13125,792597,34.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SEQUENT,EQ,05-Dec-2022,94.65,95.2,98.85,94.8,97.0,96.4,96.8,1845039,14779,708860,38.42,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SFL,EQ,05-Dec-2022,2631.25,2640.6,2662.0,2616.3,2625.0,2626.85,2633.44,11479,3459,7699,67.07,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SHARDACROP,EQ,05-Dec-2022,434.45,437.0,513.0,435.2,495.65,498.15,492.6,5637368,117606,381642,6.77,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SHILPAMED,EQ,05-Dec-2022,302.1,304.25,305.9,297.0,299.0,299.0,300.59,125679,3682,50861,40.47,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SHK,EQ,05-Dec-2022,137.4,137.0,148.45,137.0,143.0,142.45,144.54,1529649,25677,804123,52.57,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SHOPERSTOP,EQ,05-Dec-2022,696.2,692.0,704.95,685.35,695.0,694.4,691.65,43861,5825,30421,69.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SHREECEM,EQ,05-Dec-2022,24094.85,24090.0,24110.0,23688.85,23720.0,23755.6,23821.04,23170,8404,7639,32.97,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
1,SHRIRAMCIT,EQ,28-Nov-2022,1922.05,1920.1,2210.4,1904.5,2210.4,1921.8,1925.51,571997,18665,402067,70.29,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SIEMENS,EQ,05-Dec-2022,2766.75,2777.0,2785.1,2741.0,2767.9,2764.1,2757.89,176076,18573,101442,57.61,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SIS,EQ,05-Dec-2022,395.75,399.8,399.8,391.05,393.0,392.7,392.88,75457,4539,40714,53.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SJVN,EQ,05-Dec-2022,39.25,40.65,42.35,40.1,41.0,41.1,41.08,35794761,55249,9529251,26.62,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SKFINDIA,EQ,05-Dec-2022,4837.9,4842.2,4907.25,4750.0,4777.0,4767.45,4831.13,25500,6869,9664,37.9,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SOBHA,EQ,05-Dec-2022,637.15,641.35,674.4,640.0,673.0,670.05,661.05,776269,22749,212104,27.32,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SOLARA,EQ,05-Dec-2022,448.1,449.9,459.9,445.75,452.55,452.05,452.31,62288,5002,24382,39.14,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SOLARINDS,EQ,05-Dec-2022,4086.2,4104.95,4111.05,4006.0,4021.0,4025.55,4055.33,22344,5216,9827,43.98,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SONATSOFTW,EQ,05-Dec-2022,585.25,590.0,596.8,581.0,591.3,589.45,591.28,220865,15838,101685,46.04,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SOTL,EQ,05-Dec-2022,324.6,324.6,344.6,324.6,341.9,340.9,339.12,277824,10039,141797,51.04,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SOUTHBANK,EQ,05-Dec-2022,16.75,16.9,18.25,16.8,18.1,18.0,17.64,76267058,32888,32757568,42.95,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [SYMBOL, SERIES, DATE, PREV_CLOSE, OPEN_PRICE, HIGH_PRICE, LOW_PRICE, LAST_PRICE, CLOSE_PRICE, AVG_PRICE, TTL_TRD_QNTY, NO_OF_TRADES, DELIV_QTY, DELIV_PER, DELIV_VALUE, 5DDeVA, %Change_In_Price, %Change_In_Deliv_vs_AVG, Intraday_volume]
Index: []

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SPARC,EQ,05-Dec-2022,254.25,255.3,255.35,248.0,249.4,249.75,250.78,181068,4360,79292,43.79,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SRF,EQ,05-Dec-2022,2398.6,2413.4,2416.0,2373.2,2405.0,2399.05,2397.26,542347,36455,297867,54.92,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SRTRANSFIN,EQ,05-Dec-2022,1290.35,1296.0,1300.0,1279.0,1295.0,1294.85,1291.64,883532,22519,444700,50.33,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,STAR,EQ,05-Dec-2022,349.8,355.0,372.0,346.1,369.0,369.95,364.89,2084846,31646,607742,29.15,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,STARCEMENT,EQ,05-Dec-2022,106.55,106.0,107.75,105.0,107.0,106.15,105.96,160944,4538,78904,49.03,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,STLTECH,EQ,05-Dec-2022,176.85,177.9,179.35,175.5,176.3,176.35,176.94,522546,8971,262709,50.27,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,STOVEKRAFT,EQ,05-Dec-2022,611.6,619.0,620.95,607.0,608.0,609.15,609.91,64517,6328,36565,56.67,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SUBEXLTD,EQ,05-Dec-2022,33.9,34.1,34.85,33.75,34.45,34.45,34.38,4718737,9027,1824050,38.66,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SUBROS,EQ,05-Dec-2022,307.95,312.8,318.95,307.55,311.45,311.05,314.33,26995,2457,15362,56.91,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SUDARSCHEM,EQ,05-Dec-2022,392.0,392.0,394.45,389.05,390.0,389.6,390.31,93629,6481,58513,62.49,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SUMICHEM,EQ,05-Dec-2022,470.6,472.8,494.25,472.75,490.0,492.15,486.48,798461,16098,328152,41.1,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SUNCLAYLTD,EQ,05-Dec-2022,5309.1,5318.05,5366.3,5266.3,5350.0,5332.8,5328.58,2104,776,1025,48.72,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SUNDARMFIN,EQ,05-Dec-2022,2258.25,2245.15,2326.45,2245.15,2301.0,2315.0,2287.92,43099,7278,23375,54.24,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SUNDRMFAST,EQ,05-Dec-2022,910.0,909.0,927.05,907.3,925.05,925.3,919.15,57167,4486,29678,51.91,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SUNPHARMA,EQ,05-Dec-2022,1040.0,1042.15,1045.95,1030.75,1039.0,1039.4,1036.63,2294634,62816,1702084,74.18,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SUNTECK,EQ,05-Dec-2022,399.4,400.95,401.55,390.05,390.2,392.35,395.22,277533,10206,162633,58.6,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SUNTV,EQ,05-Dec-2022,491.65,495.0,497.0,488.65,496.0,496.4,493.81,584787,15543,237671,40.64,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SUPRAJIT,EQ,05-Dec-2022,344.65,344.95,347.9,335.15,339.0,337.5,342.0,133177,6227,74154,55.68,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SUPREMEIND,EQ,05-Dec-2022,2508.1,2508.1,2568.45,2460.05,2493.0,2488.4,2498.4,49519,7446,24484,49.44,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SURYAROSNI,EQ,05-Dec-2022,481.2,484.2,520.0,482.9,518.75,517.65,509.3,1020033,24467,333440,32.69,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SURYODAY,EQ,05-Dec-2022,104.35,105.1,114.2,104.6,111.3,111.35,110.79,793539,9742,294472,37.11,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SUVENPHAR,EQ,05-Dec-2022,467.35,467.1,471.1,461.5,462.35,463.15,464.44,240809,6306,189542,78.71,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SUVIDHAA,EQ,05-Dec-2022,5.15,5.25,5.45,5.2,5.45,5.4,5.37,226853,461,170972,75.37,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SUZLON,EQ,05-Dec-2022,9.45,9.55,10.4,9.5,10.1,10.0,9.99,439811540,157757,116817054,26.56,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SWANENERGY,EQ,05-Dec-2022,254.95,257.0,279.25,256.55,274.9,273.85,271.62,3057812,35453,529346,17.31,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SWARAJENG,EQ,05-Dec-2022,1616.4,1620.0,1669.0,1620.0,1655.0,1659.45,1646.64,7732,1261,4694,60.71,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SWSOLAR,EQ,05-Dec-2022,288.75,289.35,292.05,287.8,288.0,288.3,289.21,99059,2725,55103,55.63,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SYMPHONY,EQ,05-Dec-2022,931.05,943.95,949.0,935.0,937.0,938.5,942.4,23566,3754,12261,52.03,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,SYNGENE,EQ,05-Dec-2022,602.6,603.15,605.5,598.0,601.0,600.55,600.79,181610,9405,92533,50.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TASTYBITE,EQ,05-Dec-2022,11750.65,11750.0,11887.55,11703.0,11703.0,11744.3,11795.54,1002,348,613,61.18,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TATACHEM,EQ,05-Dec-2022,1039.35,1044.1,1071.45,1039.8,1058.0,1056.7,1060.17,1495223,50909,291217,19.48,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TATACOFFEE,EQ,05-Dec-2022,231.7,233.0,233.6,229.1,229.75,230.0,230.96,562805,5653,217251,38.6,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TATACOMM,EQ,05-Dec-2022,1321.55,1331.9,1354.45,1318.4,1319.5,1323.1,1336.12,849892,29709,396602,46.66,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TATACONSUM,EQ,05-Dec-2022,795.55,795.55,803.0,788.6,799.0,800.5,796.84,1540201,36748,757380,49.17,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TATAELXSI,EQ,05-Dec-2022,7033.95,7040.0,7047.3,6950.0,6951.0,6961.4,6980.48,122569,29523,63389,51.72,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TATAINVEST,EQ,05-Dec-2022,2329.15,2349.85,2349.85,2319.0,2324.95,2325.4,2326.01,15458,2718,9440,61.07,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TATAMETALI,EQ,05-Dec-2022,787.95,791.9,817.0,791.9,816.0,813.15,807.58,183816,7006,66020,35.92,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TATAMOTORS,EQ,05-Dec-2022,435.4,435.5,437.5,427.8,429.1,428.75,430.4,12857807,150850,6938199,53.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TATAPOWER,EQ,05-Dec-2022,225.25,225.25,225.85,222.35,225.0,224.2,223.87,10750610,111871,5235601,48.7,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TATASTEEL,EQ,05-Dec-2022,112.0,113.3,116.1,112.65,115.45,115.85,114.79,96441799,319132,39659429,41.12,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TCI,EQ,05-Dec-2022,679.35,685.0,687.0,666.0,671.0,673.15,676.51,40185,3602,23779,59.17,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TCIEXP,EQ,05-Dec-2022,1865.95,1865.95,1889.95,1862.5,1882.65,1886.75,1879.02,8419,1744,4604,54.69,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TCNSBRANDS,EQ,05-Dec-2022,567.35,568.0,581.0,565.5,568.0,569.3,573.3,30874,2526,19954,64.63,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TCS,EQ,05-Dec-2022,3439.15,3433.0,3439.15,3407.0,3425.0,3425.9,3418.7,1475065,97290,920179,62.38,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TEAMLEASE,EQ,05-Dec-2022,2528.45,2535.0,2541.1,2505.6,2515.55,2520.7,2520.49,3788,1105,1839,48.55,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TECHM,EQ,05-Dec-2022,1114.75,1120.0,1120.0,1096.25,1100.0,1099.75,1104.18,2760688,87453,1665465,60.33,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TECHNOE,EQ,05-Dec-2022,322.6,324.0,324.95,319.85,323.4,322.5,322.61,105585,4551,74895,70.93,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,THERMAX,EQ,05-Dec-2022,2095.25,2114.7,2120.0,2053.2,2056.45,2065.65,2092.98,48280,8665,23857,49.41,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,THOMASCOOK,EQ,05-Dec-2022,76.05,76.25,76.9,75.75,76.15,76.05,76.11,275172,2656,201527,73.24,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,THYROCARE,EQ,05-Dec-2022,640.25,641.0,646.95,638.15,643.0,641.45,640.66,24025,1794,17921,74.59,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TIDEWATER,EQ,05-Dec-2022,1067.3,1077.25,1079.35,1043.1,1048.15,1049.1,1062.15,24095,3399,12437,51.62,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TIINDIA,EQ,05-Dec-2022,2933.3,2940.0,2999.0,2918.3,2955.0,2957.65,2958.83,434419,36765,200061,46.05,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TIMETECHNO,EQ,05-Dec-2022,96.55,97.1,97.55,92.05,93.25,92.75,93.42,2640272,22383,1307773,49.53,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TIMKEN,EQ,05-Dec-2022,3504.7,3529.9,3575.0,3486.0,3525.0,3529.05,3527.99,112403,13467,22397,19.93,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TINPLATE,EQ,05-Dec-2022,328.95,330.9,345.95,330.05,341.0,341.2,339.18,694512,14844,261314,37.63,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TITAN,EQ,05-Dec-2022,2617.9,2629.0,2629.95,2589.25,2614.8,2615.65,2607.85,747114,60334,403501,54.01,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TORNTPHARM,EQ,05-Dec-2022,1621.1,1621.1,1632.1,1603.65,1612.4,1619.9,1614.03,164087,11346,86978,53.01,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TORNTPOWER,EQ,05-Dec-2022,549.7,550.25,553.5,541.5,546.0,547.5,546.92,273850,9268,68022,24.84,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TRENT,EQ,05-Dec-2022,1468.7,1462.65,1481.0,1448.7,1478.05,1475.55,1464.07,462047,27773,256558,55.53,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TRITURBINE,EQ,05-Dec-2022,290.2,291.85,293.5,286.45,289.0,288.45,289.68,261279,7186,110484,42.29,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TRIVENI,EQ,05-Dec-2022,305.5,306.9,307.2,295.05,297.5,296.7,300.25,631756,20371,304040,48.13,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TTKPRESTIG,EQ,05-Dec-2022,879.05,879.05,885.45,873.1,874.15,874.8,878.13,26767,4266,14025,52.4,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TV18BRDCST,EQ,05-Dec-2022,41.15,41.45,42.6,40.75,41.0,41.45,41.78,20108270,28473,7215379,35.88,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TVSMOTOR,EQ,05-Dec-2022,1048.4,1050.0,1053.5,1010.45,1017.0,1017.8,1019.78,2896073,124411,1617212,55.84,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TVSSRICHAK,EQ,05-Dec-2022,3130.05,3164.5,3216.0,3099.15,3210.0,3208.85,3166.88,22238,3075,13055,58.71,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,TVTODAY,EQ,05-Dec-2022,251.5,252.0,257.3,249.15,251.95,252.4,252.8,121206,5268,79631,65.7,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,UBL,EQ,05-Dec-2022,1735.8,1740.55,1763.55,1728.55,1744.0,1748.4,1749.69,406142,24681,131277,32.32,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,UCOBANK,EQ,05-Dec-2022,20.3,20.4,20.7,20.1,20.45,20.4,20.37,16490358,30084,4855180,29.44,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,UFLEX,EQ,05-Dec-2022,603.2,612.0,616.3,602.0,606.0,605.7,608.07,267583,11397,126833,47.4,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,UJJIVAN,EQ,05-Dec-2022,296.0,298.85,302.0,296.5,298.5,298.15,299.1,298234,7702,162732,54.57,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,UJJIVANSFB,EQ,05-Dec-2022,29.9,30.15,30.8,30.0,30.25,30.2,30.3,11282649,13175,4797198,42.52,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ULTRACEMCO,EQ,05-Dec-2022,7237.05,7260.0,7285.0,7157.5,7188.0,7198.6,7198.92,235887,30509,96648,40.97,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,UNICHEMLAB,EQ,05-Dec-2022,368.7,357.0,357.0,325.0,333.45,334.65,337.65,1126453,24066,441279,39.17,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,UNIONBANK,EQ,05-Dec-2022,82.05,82.3,83.65,81.8,82.8,82.9,82.84,14006192,31937,3471355,24.78,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,UPL,EQ,05-Dec-2022,783.7,787.5,807.0,784.5,803.25,802.8,796.06,4114694,91267,1599438,38.87,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,UTIAMC,EQ,05-Dec-2022,767.5,780.0,784.95,763.55,776.0,778.15,773.16,106633,4691,44739,41.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,VAIBHAVGBL,EQ,05-Dec-2022,350.45,351.15,358.0,351.0,353.0,351.95,353.44,145105,6703,63781,43.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,VAKRANGEE,EQ,05-Dec-2022,30.85,31.0,31.75,30.4,30.65,30.65,31.15,7117895,10133,2709290,38.06,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,VARROC,EQ,05-Dec-2022,292.9,294.3,296.05,291.15,293.05,293.5,293.25,132967,4443,66443,49.97,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,VBL,EQ,05-Dec-2022,1318.6,1317.0,1377.65,1292.35,1355.0,1352.8,1332.7,1974702,66356,708341,35.87,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,VEDL,EQ,05-Dec-2022,313.85,315.5,322.2,315.1,318.6,319.25,319.77,17018137,113859,5753002,33.81,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,VENKEYS,EQ,05-Dec-2022,1853.45,1867.0,1873.95,1835.0,1845.35,1847.55,1855.36,16692,2652,8138,48.75,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,VESUVIUS,EQ,05-Dec-2022,1738.15,1747.0,1753.0,1707.05,1746.0,1739.6,1735.95,7319,1528,4204,57.44,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,VGUARD,EQ,05-Dec-2022,252.4,253.9,255.0,251.9,252.05,252.1,252.9,105166,3516,49289,46.87,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,VINATIORGA,EQ,05-Dec-2022,2144.25,2160.6,2195.0,2089.0,2107.8,2098.2,2133.85,54258,9301,27908,51.44,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,VIPIND,EQ,05-Dec-2022,718.95,722.5,725.0,711.5,718.0,715.3,717.2,236825,7301,168124,70.99,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,VMART,EQ,05-Dec-2022,2800.5,2804.45,2820.65,2752.7,2815.0,2808.55,2781.92,20198,4387,8045,39.83,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,VOLTAS,EQ,05-Dec-2022,855.25,861.0,862.4,848.6,858.5,858.45,856.34,1045757,28397,554852,53.06,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,VRLLOG,EQ,05-Dec-2022,576.65,586.0,586.0,546.0,563.95,562.9,560.47,251610,16115,103959,41.32,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,VSTIND,EQ,05-Dec-2022,3508.9,3510.0,3527.0,3467.45,3503.0,3505.0,3495.72,6564,2594,4051,61.72,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,VSTTILLERS,EQ,05-Dec-2022,2320.25,2322.0,2390.95,2313.15,2360.0,2377.75,2354.95,6523,2123,1882,28.85,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,VTL,EQ,05-Dec-2022,344.65,345.65,357.0,344.6,354.0,354.35,352.45,410374,11218,172666,42.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,WABAG,EQ,05-Dec-2022,326.6,327.0,339.0,326.8,336.25,336.45,334.95,528984,12254,256474,48.48,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,WELCORP,EQ,05-Dec-2022,249.85,250.3,255.85,244.6,254.0,253.9,250.76,1394255,13794,523231,37.53,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,WELENT,EQ,05-Dec-2022,162.4,163.2,167.5,158.0,165.35,165.6,163.1,682605,6923,401841,58.87,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,WELSPUNIND,EQ,05-Dec-2022,80.8,81.0,81.6,79.0,79.8,79.45,79.92,1427928,8598,786742,55.1,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,WHIRLPOOL,EQ,05-Dec-2022,1536.0,1547.0,1555.75,1522.0,1526.5,1529.55,1536.8,119231,11645,39277,32.94,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,WIPRO,EQ,05-Dec-2022,412.4,413.25,414.95,410.65,413.0,412.35,412.52,4973531,80809,2660924,53.5,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,WOCKPHARMA,EQ,05-Dec-2022,243.7,244.75,245.0,235.05,235.85,236.0,238.81,1417770,11543,578200,40.78,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,WSTCSTPAPR,EQ,05-Dec-2022,587.7,589.9,592.45,581.7,589.0,587.8,586.26,148433,7827,78984,53.21,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,YESBANK,EQ,05-Dec-2022,17.4,17.6,17.8,17.35,17.35,17.45,17.57,138780670,86872,46462012,33.48,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ZEEL,EQ,05-Dec-2022,271.05,271.0,271.05,266.55,267.9,268.2,268.48,5574546,64844,2837892,50.91,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ZENSARTECH,EQ,05-Dec-2022,236.75,239.3,247.4,237.0,237.7,238.25,242.72,4870475,62401,2595030,53.28,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
6,ZYDUSWELL,EQ,05-Dec-2022,1613.35,1613.95,1621.25,1605.0,1616.9,1617.6,1612.82,10117,1996,5347,52.85,NaN,NaN,NaN,NaN,NaN

In [9]:
# # Checking companys data are in their respitcive comapnys file

# for i in Company_list:

#     # Reading comapny csv file 
#     company_df = pd.read_csv(Comapny_file_path(i))

#     # Finding number of unique values in comapny's file Symbol this helps that an 
#     aa = len(set(list(company_df["SYMBOL"])))

#     if i != company_df.at[ 0, "SYMBOL"] or aa >=2: 
#         print(i, company_df.at[0,'SYMBOL'])

# Analyzing company file starts from here

In [10]:
def analyzer(df):

    df["DELIV_VALUE"] = ''
    df["5DDeVA"] = ''
    df['%Change_In_Price'] = ''
    df['%Change_In_Deliv_vs_AVG'] = ''
    
    df["DELIV_VALUE"]= (df['DELIV_QTY'] * df['AVG_PRICE']) / 10000000

#     for i in range (5):
#         df['5DDeVA'][i] = np.nan
#         df['%Change_In_Price'][i] = np.nan
#         df['%Change_In_Deliv_vs_AVG'][i] = np.nan
#         df['Intraday_volume'] = np.nan

    for i in range (5, df.shape[0]):
        df.at[i,'5DDeVA'] = df["DELIV_VALUE"].iloc[i-5:i].mean()
        df.at[i,'%Change_In_Price'] = ((df.at[i,'CLOSE_PRICE']-df.at[i-1,'CLOSE_PRICE'])/df.at[i-1,'CLOSE_PRICE']) * 100
        df.at[i,'%Change_In_Deliv_vs_AVG'] = (df.at[i, 'DELIV_VALUE']/df.at[i, '5DDeVA']) * 100 
        df.at[i,'Intraday_volume'] = int(df.at[i,'TTL_TRD_QNTY']-df.at[i,"DELIV_QTY"])

    return df

In [11]:
for company in Company_list:

    df = pd.read_csv(Comapny_file_path(company))

    analyzer(df).to_csv(Analyzed_company_file_path(company), index=False)
    print(f'{company} file analyzed')

3MINDIA file analyzed
AARTIDRUGS file analyzed
AARTIIND file analyzed
AAVAS file analyzed
ABB file analyzed
ABCAPITAL file analyzed
ABFRL file analyzed
ACC file analyzed
ACCELYA file analyzed
ACE file analyzed
ADANIENT file analyzed
ADANIPORTS file analyzed
ADFFOODS file analyzed
ADVENZYMES file analyzed
AEGISCHEM file analyzed
AHLUCONT file analyzed
AIAENG file analyzed
AJANTPHARM file analyzed
AKZOINDIA file analyzed
ALEMBICLTD file analyzed
ALKEM file analyzed
ALKYLAMINE file analyzed
ALLCARGO file analyzed
ALOKINDS file analyzed
AMARAJABAT file analyzed
AMBER file analyzed
AMBUJACEM file analyzed
AMRUTANJAN file analyzed
ANURAS file analyzed
APARINDS file analyzed
APLAPOLLO file analyzed
APLLTD file analyzed
APOLLOHOSP file analyzed
APOLLOPIPE file analyzed
APOLLOTYRE file analyzed
ARVIND file analyzed
ARVINDFASN file analyzed
ASAHIINDIA file analyzed
ASHIANA file analyzed
ASHOKA file analyzed
ASHOKLEY file analyzed
ASIANPAINT file analyzed
ASTEC file analyzed
ASTERDM file analyzed
ASTRAL file analyzed
ASTRAZEN file analyzed
ATFL file analyzed
ATUL file analyzed
AUBANK file analyzed
AUROPHARMA file analyzed
AUTOAXLES file analyzed
AVANTIFEED file analyzed
AXISBANK file analyzed
BAJAJ-AUTO file analyzed
BAJAJCON file analyzed
BAJAJELEC file analyzed
BAJAJFINSV file analyzed
BAJAJHLDNG file analyzed
BAJFINANCE file analyzed
BALAMINES file analyzed
BALKRISIND file analyzed
BALMLAWRIE file analyzed
BALRAMCHIN file analyzed
BANARISUG file analyzed
BANDHANBNK file analyzed
BANKBARODA file analyzed
BANKINDIA file analyzed
BASF file analyzed
BATAINDIA file analyzed
BBTC file analyzed
BDL file analyzed
BECTORFOOD file analyzed
BEL file analyzed
BEML file analyzed
BEPL file analyzed
BERGEPAINT file analyzed
BHARATFORG file analyzed
BHARATRAS file analyzed
BHARTIARTL file analyzed
BHEL file analyzed
BIOCON file analyzed
BIRLACORPN file analyzed
BLUEDART file analyzed
BLUESTARCO file analyzed
BOMDYEING file analyzed
BOSCHLTD file analyzed
BPCL file analyzed
BRIGADE file analyzed
BRITANNIA file analyzed
BSE file analyzed
BSOFT file analyzed
CAMLINFINE file analyzed
CANBK file analyzed
CANFINHOME file analyzed
CAPACITE file analyzed
CAPLIPOINT file analyzed
CARBORUNIV file analyzed
CARERATING file analyzed
CASTROLIND file analyzed
CCL file analyzed
CDSL file analyzed
CEATLTD file analyzed
CENTRALBK file analyzed
CENTRUM file analyzed
CENTURYPLY file analyzed
CENTURYTEX file analyzed
CERA file analyzed
CESC file analyzed
CGCL file analyzed
CHALET file analyzed
CHAMBLFERT file analyzed
CHEMCON file analyzed
CHENNPETRO file analyzed
CHOLAFIN file analyzed
CHOLAHLDNG file analyzed
CIPLA file analyzed
COALINDIA file analyzed
COCHINSHIP file analyzed
COFORGE file analyzed
COLPAL file analyzed
CONCOR file analyzed
CONFIPET file analyzed
COROMANDEL file analyzed
CRAFTSMAN file analyzed
CREDITACC file analyzed
CRISIL file analyzed
CROMPTON file analyzed
CSBBANK file analyzed
CUB file analyzed
CUMMINSIND file analyzed
CYIENT file analyzed
DAAWAT file analyzed
DABUR file analyzed
DALBHARAT file analyzed
DALMIASUG file analyzed
DBCORP file analyzed
DBL file analyzed
DCAL file analyzed
DCBBANK file analyzed
DCMSHRIRAM file analyzed
DEEPAKNTR file analyzed
DELTACORP file analyzed
DEN file analyzed
DFMFOODS file analyzed
DHAMPURSUG file analyzed
DHANI file analyzed
DHANUKA file analyzed
DIAMONDYD file analyzed
DISHTV file analyzed
DIVISLAB file analyzed
DIXON file analyzed
DLF file analyzed
DMART file analyzed
DOLLAR file analyzed
DRREDDY file analyzed
EASEMYTRIP file analyzed
EDELWEISS file analyzed
EICHERMOT file analyzed
EIDPARRY file analyzed
EIHOTEL file analyzed
ELGIEQUIP file analyzed
EMAMILTD file analyzed
ENDURANCE file analyzed
ENGINERSIN file analyzed
EPL file analyzed
EQUITAS file analyzed
EQUITASBNK file analyzed
ERIS file analyzed
ESABINDIA file analyzed
ESCORTS file analyzed
EVEREADY file analyzed
EXIDEIND file analyzed
FACT file analyzed
FCONSUMER file analyzed
FDC file analyzed
FEDERALBNK file analyzed
FILATEX file analyzed
FINCABLES file analyzed
FINEORG file analyzed
FINPIPE file analyzed
FMGOETZE file analyzed
FORTIS file analyzed
FRETAIL file analyzed
FSL file analyzed
GABRIEL file analyzed
GAEL file analyzed
GAIL file analyzed
GALAXYSURF file analyzed
GANECOS file analyzed
GARFIBRES file analyzed
GATI file analyzed
GENUSPOWER file analyzed
GEOJITFSL file analyzed
GEPIL file analyzed
GESHIP file analyzed
GET&D file analyzed
GHCL file analyzed
GICRE file analyzed
GILLETTE file analyzed
GLAND file analyzed
GLAXO file analyzed
GLENMARK file analyzed
GMDCLTD file analyzed
GMMPFAUDLR file analyzed
GMRINFRA file analyzed
GNFC file analyzed
GODFRYPHLP file analyzed
GODREJAGRO file analyzed
GODREJCP file analyzed
GODREJIND file analyzed
GODREJPROP file analyzed
GPPL file analyzed
GRANULES file analyzed
GRAPHITE file analyzed
GRASIM file analyzed
GREAVESCOT file analyzed
GREENLAM file analyzed
GREENPLY file analyzed
GRINDWELL file analyzed
GRSE file analyzed
GSFC file analyzed
GSPL file analyzed
GTPL file analyzed
GUJALKALI file analyzed
GUJGASLTD file analyzed
GULFOILLUB file analyzed
HAL file analyzed
HAPPSTMNDS file analyzed
HATHWAY file analyzed
HATSUN file analyzed
HAVELLS file analyzed
HCC file analyzed
HCG file analyzed
HCLTECH file analyzed
HDFC file analyzed
HDFCAMC file analyzed
HDFCBANK file analyzed
HDFCLIFE file analyzed
HEG file analyzed
HEIDELBERG file analyzed
HEMIPROP file analyzed
HERANBA file analyzed
HERITGFOOD file analyzed
HEROMOTOCO file analyzed
HESTERBIO file analyzed
HFCL file analyzed
HGINFRA file analyzed
HIKAL file analyzed
HIL file analyzed
HIMATSEIDE file analyzed
HINDALCO file analyzed
HINDCOPPER file analyzed
HINDOILEXP file analyzed
HINDPETRO file analyzed
HINDUNILVR file analyzed
HINDZINC file analyzed
HOMEFIRST file analyzed
HONAUT file analyzed
HSCL file analyzed
HUDCO file analyzed
HUHTAMAKI file analyzed
IBREALEST file analyzed
IBULHSGFIN file analyzed
ICICIBANK file analyzed
ICICIGI file analyzed
ICICIPRULI file analyzed
ICIL file analyzed
ICRA file analyzed
IDBI file analyzed
IDEA file analyzed
IDFC file analyzed
IDFCFIRSTB file analyzed
IEX file analyzed
IFBIND file analyzed
IFCI file analyzed
IGL file analyzed
IGPL file analyzed
IIFLSEC file analyzed
IIFLWAM file analyzed
IMFA file analyzed
INDHOTEL file analyzed
INDIACEM file analyzed
INDIAGLYCO file analyzed
INDIAMART file analyzed
INDIANB file analyzed
INDIGO file analyzed
INDIGOPNTS file analyzed
INDOCO file analyzed
INDOSTAR file analyzed
INDUSINDBK file analyzed
INDUSTOWER file analyzed
INEOSSTYRO file analyzed
INFIBEAM file analyzed
INFY file analyzed
INGERRAND file analyzed
INOXLEISUR file analyzed
INOXWIND file analyzed
INTELLECT file analyzed
IOB file analyzed
IOC file analyzed
IOLCP file analyzed
IPCALAB file analyzed
IRB file analyzed
IRCON file analyzed
IRCTC file analyzed
IRFC file analyzed
ISEC file analyzed
ITC file analyzed
ITDC file analyzed
ITDCEM file analyzed
ITI file analyzed
J&KBANK file analyzed
JAGRAN file analyzed
JAICORPLTD file analyzed
JAMNAAUTO file analyzed
JBCHEPHARM file analyzed
JBMA file analyzed
JCHAC file analyzed
JINDALPOLY file analyzed
JINDALSAW file analyzed
JINDALSTEL file analyzed
JKCEMENT file analyzed
JKIL file analyzed
JKLAKSHMI file analyzed
JKPAPER file analyzed
JKTYRE file analyzed
JMCPROJECT file analyzed
JMFINANCIL file analyzed
JPPOWER file analyzed
JSL file analyzed
JSLHISAR file analyzed
JSWHL file analyzed
JSWSTEEL file analyzed
JTEKTINDIA file analyzed
JUBLFOOD file analyzed
JUBLINGREA file analyzed
JUBLPHARMA file analyzed
JUSTDIAL file analyzed
JYOTHYLAB file analyzed
KAJARIACER file analyzed
KALPATPOWR file analyzed
KALYANKJIL file analyzed
KANSAINER file analyzed
KARURVYSYA file analyzed
KEC file analyzed
KEI file analyzed
KIOCL file analyzed
KIRIINDUS file analyzed
KIRLOSENG file analyzed
KIRLOSIND file analyzed
KNRCON file analyzed
KOLTEPATIL file analyzed
KOTAKBANK file analyzed
KPITTECH file analyzed
KPRMILL file analyzed
KRBL file analyzed
KSB file analyzed
KSCL file analyzed
KSL file analyzed
KTKBANK file analyzed
L&TFH file analyzed
LALPATHLAB file analyzed
LAOPALA file analyzed
LAURUSLABS file analyzed
LAXMIMACH file analyzed
LEMONTREE file analyzed
LICHSGFIN file analyzed
LINDEINDIA file analyzed
LT file analyzed
LTI file analyzed
LTTS file analyzed
LUMAXIND file analyzed
LUPIN file analyzed
LUXIND file analyzed
LXCHEM file analyzed
M&M file analyzed
M&MFIN file analyzed
MAHABANK file analyzed
MAHINDCIE file analyzed
MAHLIFE file analyzed
MAHLOG file analyzed
MAHSCOOTER file analyzed
MAHSEAMLES file analyzed
MAITHANALL file analyzed
MANAPPURAM file analyzed
MARICO file analyzed
MARKSANS file analyzed
MARUTI file analyzed
MASFIN file analyzed
MASTEK file analyzed
MATRIMONY file analyzed
MAXHEALTH file analyzed
MAYURUNIQ file analyzed
MAZDOCK file analyzed

MCDOWELL-N file analyzed
METROPOLIS file analyzed
MFSL file analyzed
MGL file analyzed
MHRIL file analyzed
MIDHANI file analyzed
MINDACORP file analyzed
MINDAIND file analyzed
MINDTREE file analyzed
MMFL file analyzed
MMTC file analyzed
MOIL file analyzed
MOREPENLAB file analyzed
MOTHERSUMI file analyzed
MOTILALOFS file analyzed
MPHASIS file analyzed
MRF file analyzed
MRPL file analyzed
MSTCLTD file analyzed
MTARTECH file analyzed
MTNL file analyzed
MUTHOOTFIN file analyzed
NAM-INDIA file analyzed
NATCOPHARM file analyzed
NATIONALUM file analyzed
NAUKRI file analyzed
NAVINFLUOR file analyzed
NAVNETEDUL file analyzed
NAZARA file analyzed
NBCC file analyzed
NBVENTURES file analyzed
NCC file analyzed
NEOGEN file analyzed
NESCO file analyzed
NETWORK18 file analyzed
NEWGEN file analyzed
NFL file analyzed
NH file analyzed
NHPC file analyzed
NIACL file analyzed
NIITLTD file analyzed
NILKAMAL file analyzed
NLCINDIA file analyzed
NMDC file analyzed
NOCIL file analyzed
NTPC file analyzed
NUCLEUS file analyzed
OAL file analyzed
OBEROIRLTY file analyzed
OFSS file analyzed
OIL file analyzed
OMAXE file analyzed
ONGC file analyzed
ORIENTCEM file analyzed
ORIENTELEC file analyzed
ORISSAMINE file analyzed
PAGEIND file analyzed
PAISALO file analyzed
PCJEWELLER file analyzed
PEL file analyzed
PERSISTENT file analyzed
PETRONET file analyzed
PFC file analyzed
PFIZER file analyzed
PGHH file analyzed
PGHL file analyzed
PHOENIXLTD file analyzed
PIDILITIND file analyzed
PIIND file analyzed
PILANIINVS file analyzed
PNB file analyzed
PNCINFRA file analyzed
POLYCAB file analyzed
POLYMED file analyzed
POLYPLEX file analyzed
POWERGRID file analyzed
POWERINDIA file analyzed
PRAKASH file analyzed
PRESTIGE file analyzed
PRINCEPIPE file analyzed
PRIVISCL file analyzed
PRSMJOHNSN file analyzed
PSB file analyzed
PSPPROJECT file analyzed
PTC file analyzed
PURVA file analyzed
PVR file analyzed
QUESS file analyzed
QUICKHEAL file analyzed
RADICO file analyzed
RAILTEL file analyzed
RAIN file analyzed
RAJESHEXPO file analyzed
RALLIS file analyzed
RAMCOCEM file analyzed
RAMCOIND file analyzed
RAMCOSYS file analyzed
RATNAMANI file analyzed
RAYMOND file analyzed
RBLBANK file analyzed
RCF file analyzed
RECLTD file analyzed
REDINGTON file analyzed
RELAXO file analyzed
RELIANCE file analyzed
RELIGARE file analyzed
REPCOHOME file analyzed
RESPONIND file analyzed
RITES file analyzed
RKFORGE file analyzed
ROSSARI file analyzed
ROUTE file analyzed
RSYSTEMS file analyzed
RUCHI file analyzed
RUPA file analyzed
RVNL file analyzed
SAFARI file analyzed
SAGCEM file analyzed
SAIL file analyzed
SANDHAR file analyzed
SANOFI file analyzed
SASKEN file analyzed
SBICARD file analyzed
SBILIFE file analyzed
SBIN file analyzed
SCHAEFFLER file analyzed
SCHNEIDER file analyzed
SCI file analyzed
SEQUENT file analyzed
SFL file analyzed
SHARDACROP file analyzed
SHILPAMED file analyzed
SHK file analyzed
SHOPERSTOP file analyzed
SHREECEM file analyzed
SHRIRAMCIT file analyzed
SIEMENS file analyzed
SIS file analyzed
SJVN file analyzed
SKFINDIA file analyzed
SOBHA file analyzed
SOLARA file analyzed
SOLARINDS file analyzed
SONATSOFTW file analyzed
SOTL file analyzed
SOUTHBANK file analyzed
SPANDANA file analyzed
SPARC file analyzed
SRF file analyzed
SRTRANSFIN file analyzed
STAR file analyzed
STARCEMENT file analyzed
STLTECH file analyzed
STOVEKRAFT file analyzed
SUBEXLTD file analyzed
SUBROS file analyzed
SUDARSCHEM file analyzed
SUMICHEM file analyzed
SUNCLAYLTD file analyzed
SUNDARMFIN file analyzed
SUNDRMFAST file analyzed
SUNPHARMA file analyzed
SUNTECK file analyzed
SUNTV file analyzed
SUPRAJIT file analyzed
SUPREMEIND file analyzed
SURYAROSNI file analyzed
SURYODAY file analyzed
SUVENPHAR file analyzed
SUVIDHAA file analyzed
SUZLON file analyzed
SWANENERGY file analyzed
SWARAJENG file analyzed
SWSOLAR file analyzed
SYMPHONY file analyzed
SYNGENE file analyzed
TASTYBITE file analyzed
TATACHEM file analyzed
TATACOFFEE file analyzed
TATACOMM file analyzed
TATACONSUM file analyzed
TATAELXSI file analyzed
TATAINVEST file analyzed
TATAMETALI file analyzed
TATAMOTORS file analyzed
TATAPOWER file analyzed
TATASTEEL file analyzed
TCI file analyzed
TCIEXP file analyzed
TCNSBRANDS file analyzed
TCS file analyzed
TEAMLEASE file analyzed
TECHM file analyzed
TECHNOE file analyzed
THERMAX file analyzed
THOMASCOOK file analyzed
THYROCARE file analyzed
TIDEWATER file analyzed
TIINDIA file analyzed
TIMETECHNO file analyzed
TIMKEN file analyzed
TINPLATE file analyzed
TITAN file analyzed
TORNTPHARM file analyzed
TORNTPOWER file analyzed
TRENT file analyzed
TRITURBINE file analyzed
TRIVENI file analyzed
TTKPRESTIG file analyzed
TV18BRDCST file analyzed
TVSMOTOR file analyzed
TVSSRICHAK file analyzed
TVTODAY file analyzed
UBL file analyzed
UCOBANK file analyzed
UFLEX file analyzed
UJJIVAN file analyzed
UJJIVANSFB file analyzed
ULTRACEMCO file analyzed
UNICHEMLAB file analyzed
UNIONBANK file analyzed
UPL file analyzed
UTIAMC file analyzed
VAIBHAVGBL file analyzed
VAKRANGEE file analyzed
VARROC file analyzed
VBL file analyzed
VEDL file analyzed
VENKEYS file analyzed
VESUVIUS file analyzed
VGUARD file analyzed
VINATIORGA file analyzed
VIPIND file analyzed
VMART file analyzed
VOLTAS file analyzed
VRLLOG file analyzed
VSTIND file analyzed
VSTTILLERS file analyzed
VTL file analyzed
WABAG file analyzed
WELCORP file analyzed
WELENT file analyzed
WELSPUNIND file analyzed
WHIRLPOOL file analyzed
WIPRO file analyzed
WOCKPHARMA file analyzed
WSTCSTPAPR file analyzed
YESBANK file analyzed
ZEEL file analyzed
ZENSARTECH file analyzed
ZYDUSWELL file analyzed