In [1]:
import pandas as pd
import numpy as np
import time

from datetime import timedelta, datetime
import requests

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.options.mode.chained_assignment = None

In [2]:
Company_list = ['3MINDIA','AARTIDRUGS','AARTIIND','AAVAS','ABB','ABCAPITAL','ABFRL','ACC','ACCELYA','ACE','ADANIENT',
                'ADANIPORTS','ADFFOODS','ADVENZYMES','AEGISCHEM','AHLUCONT','AIAENG','AJANTPHARM','AKZOINDIA','ALEMBICLTD',
                'ALKEM','ALKYLAMINE','ALLCARGO','ALOKINDS','AMARAJABAT','AMBER','AMBUJACEM','AMRUTANJAN','ANURAS','APARINDS',
                'APLAPOLLO','APLLTD','APOLLOHOSP','APOLLOPIPE','APOLLOTYRE','ARVIND','ARVINDFASN','ASAHIINDIA','ASHIANA',
                'ASHOKA','ASHOKLEY','ASIANPAINT','ASTEC','ASTERDM','ASTRAL','ASTRAZEN','ATFL','ATUL','AUBANK','AUROPHARMA',
                'AUTOAXLES','AVANTIFEED','AXISBANK','BAJAJ-AUTO','BAJAJCON','BAJAJELEC','BAJAJFINSV','BAJAJHLDNG','BAJFINANCE',
                'BALAMINES','BALKRISIND','BALMLAWRIE','BALRAMCHIN','BANARISUG','BANDHANBNK','BANKBARODA','BANKINDIA','BASF',
                'BATAINDIA','BBTC','BDL','BECTORFOOD','BEL','BEML','BEPL','BERGEPAINT','BHARATFORG','BHARATRAS','BHARTIARTL',
                'BHEL','BIOCON','BIRLACORPN','BLUEDART','BLUESTARCO','BOMDYEING','BOSCHLTD','BPCL','BRIGADE','BRITANNIA','BSE',
                'BSOFT','CAMLINFINE','CANBK','CANFINHOME','CAPACITE','CAPLIPOINT','CARBORUNIV','CARERATING','CASTROLIND','CCL',
                'CDSL','CEATLTD','CENTRALBK','CENTRUM','CENTURYPLY','CENTURYTEX','CERA','CESC','CGCL','CHALET','CHAMBLFERT',
                'CHEMCON','CHENNPETRO','CHOLAFIN','CHOLAHLDNG','CIPLA','COALINDIA','COCHINSHIP','COFORGE','COLPAL','CONCOR',
                'CONFIPET','COROMANDEL','CRAFTSMAN','CREDITACC','CRISIL','CROMPTON','CSBBANK','CUB','CUMMINSIND','CYIENT',
                'DAAWAT','DABUR','DALBHARAT','DALMIASUG','DBCORP','DBL','DCAL','DCBBANK','DCMSHRIRAM','DEEPAKNTR','DELTACORP',
                'DEN','DFMFOODS','DHAMPURSUG','DHANI','DHANUKA','DIAMONDYD','DISHTV','DIVISLAB','DIXON','DLF','DMART','DOLLAR',
                'DRREDDY','EASEMYTRIP','EDELWEISS','EICHERMOT','EIDPARRY','EIHOTEL','ELGIEQUIP','EMAMILTD','ENDURANCE',
                'ENGINERSIN','EPL','EQUITAS','EQUITASBNK','ERIS','ESABINDIA','ESCORTS','EVEREADY','EXIDEIND','FACT',
                'FCONSUMER','FDC','FEDERALBNK','FILATEX','FINCABLES','FINEORG','FINPIPE','FMGOETZE','FORTIS','FRETAIL',
                'FSL','GABRIEL','GAEL','GAIL','GALAXYSURF','GANECOS','GARFIBRES','GATI','GENUSPOWER','GEOJITFSL','GEPIL',
                'GESHIP','GET&D','GHCL','GICRE','GILLETTE','GLAND','GLAXO','GLENMARK','GMDCLTD','GMMPFAUDLR','GMRINFRA',
                'GNFC','GODFRYPHLP','GODREJAGRO','GODREJCP','GODREJIND','GODREJPROP','GPPL','GRANULES','GRAPHITE','GRASIM',
                'GREAVESCOT','GREENLAM','GREENPLY','GRINDWELL','GRSE','GSFC','GSPL','GTPL','GUJALKALI','GUJGASLTD','GULFOILLUB',
                'HAL','HAPPSTMNDS','HATHWAY','HATSUN','HAVELLS','HCC','HCG','HCLTECH','HDFC','HDFCAMC','HDFCBANK','HDFCLIFE',
                'HEG','HEIDELBERG','HEMIPROP','HERANBA','HERITGFOOD','HEROMOTOCO','HESTERBIO','HFCL','HGINFRA','HIKAL','HIL',
                'HIMATSEIDE','HINDALCO','HINDCOPPER','HINDOILEXP','HINDPETRO','HINDUNILVR','HINDZINC','HOMEFIRST','HONAUT',
                'HSCL','HUDCO','HUHTAMAKI','IBREALEST','IBULHSGFIN','ICICIBANK','ICICIGI','ICICIPRULI','ICIL','ICRA','IDBI',
                'IDEA','IDFC','IDFCFIRSTB','IEX','IFBIND','IFCI','IGL','IGPL','IIFLSEC','IIFLWAM','IMFA','INDHOTEL','INDIACEM',
                'INDIAGLYCO','INDIAMART','INDIANB','INDIGO','INDIGOPNTS','INDOCO','INDOSTAR','INDUSINDBK','INDUSTOWER',
                'INEOSSTYRO','INFIBEAM','INFY','INGERRAND','INOXLEISUR','INOXWIND','INTELLECT','IOB','IOC','IOLCP','IPCALAB',
                'IRB','IRCON','IRCTC','IRFC','ISEC','ITC','ITDC','ITDCEM','ITI','J&KBANK','JAGRAN','JAICORPLTD','JAMNAAUTO',
                'JBCHEPHARM','JBMA','JCHAC','JINDALPOLY','JINDALSAW','JINDALSTEL','JKCEMENT','JKIL','JKLAKSHMI','JKPAPER',
                'JKTYRE','JMCPROJECT','JMFINANCIL','JPPOWER','JSL','JSLHISAR','JSWHL','JSWSTEEL','JTEKTINDIA','JUBLFOOD',
                'JUBLINGREA','JUBLPHARMA','JUSTDIAL','JYOTHYLAB','KAJARIACER','KALPATPOWR','KALYANKJIL','KANSAINER',
                'KARURVYSYA','KEC','KEI','KIOCL','KIRIINDUS','KIRLOSENG','KIRLOSIND','KNRCON','KOLTEPATIL','KOTAKBANK',
                'KPITTECH','KPRMILL','KRBL','KSB','KSCL','KSL','KTKBANK','L&TFH','LALPATHLAB','LAOPALA','LAURUSLABS',
                'LAXMIMACH','LEMONTREE','LICHSGFIN','LINDEINDIA','LT','LTI','LTTS','LUMAXIND','LUPIN','LUXIND','LXCHEM',
                'M&M','M&MFIN','MAHABANK','MAHINDCIE','MAHLIFE','MAHLOG','MAHSCOOTER','MAHSEAMLES','MAITHANALL','MANAPPURAM',
                'MARICO','MARKSANS','MARUTI','MASFIN','MASTEK','MATRIMONY','MAXHEALTH','MAYURUNIQ','MAZDOCK','MCDOWELL-N',
                'METROPOLIS','MFSL','MGL','MHRIL','MIDHANI','MINDACORP','MINDAIND','MINDTREE','MMFL','MMTC','MOIL','MOREPENLAB',
                'MOTHERSUMI','MOTILALOFS','MPHASIS','MRF','MRPL','MSTCLTD','MTARTECH','MTNL','MUTHOOTFIN','NAM-INDIA',
                'NATCOPHARM','NATIONALUM','NAUKRI','NAVINFLUOR','NAVNETEDUL','NAZARA','NBCC','NBVENTURES','NCC','NEOGEN',
                'NESCO','NETWORK18','NEWGEN','NFL','NH','NHPC','NIACL','NIITLTD','NILKAMAL','NLCINDIA','NMDC','NOCIL','NTPC',
                'NUCLEUS','OAL','OBEROIRLTY','OFSS','OIL','OMAXE','ONGC','ORIENTCEM','ORIENTELEC','ORISSAMINE','PAGEIND',
                'PAISALO','PCJEWELLER','PEL','PERSISTENT','PETRONET','PFC','PFIZER','PGHH','PGHL','PHOENIXLTD','PIDILITIND',
                'PIIND','PILANIINVS','PNB','PNCINFRA','POLYCAB','POLYMED','POLYPLEX','POWERGRID','POWERINDIA','PRAKASH',
                'PRESTIGE','PRINCEPIPE','PRIVISCL','PRSMJOHNSN','PSB','PSPPROJECT','PTC','PURVA','PVR','QUESS','QUICKHEAL',
                'RADICO','RAILTEL','RAIN','RAJESHEXPO','RALLIS','RAMCOCEM','RAMCOIND','RAMCOSYS','RATNAMANI','RAYMOND',
                'RBLBANK','RCF','RECLTD','REDINGTON','RELAXO','RELIANCE','RELIGARE','REPCOHOME','RESPONIND','RITES','RKFORGE',
                'ROSSARI','ROUTE','RSYSTEMS','RUCHI','RUPA','RVNL','SAFARI','SAGCEM','SAIL','SANDHAR','SANOFI','SASKEN',
                'SBICARD','SBILIFE','SBIN','SCHAEFFLER','SCHNEIDER','SCI','SEQUENT','SFL','SHARDACROP','SHILPAMED','SHK',
                'SHOPERSTOP','SHREECEM','SHRIRAMCIT','SIEMENS','SIS','SJVN','SKFINDIA','SOBHA','SOLARA','SOLARINDS',
                'SONATSOFTW','SOTL','SOUTHBANK','SPANDANA','SPARC','SRF','SRTRANSFIN','STAR','STARCEMENT','STLTECH',
                'STOVEKRAFT','SUBEXLTD','SUBROS','SUDARSCHEM','SUMICHEM','SUNCLAYLTD','SUNDARMFIN','SUNDRMFAST','SUNPHARMA',
                'SUNTECK','SUNTV','SUPRAJIT','SUPREMEIND','SURYAROSNI','SURYODAY','SUVENPHAR','SUVIDHAA','SUZLON',
                'SWANENERGY','SWARAJENG','SWSOLAR','SYMPHONY','SYNGENE','TASTYBITE','TATACHEM','TATACOFFEE','TATACOMM',
                'TATACONSUM','TATAELXSI','TATAINVEST','TATAMETALI','TATAMOTORS','TATAPOWER','TATASTEEL','TCI','TCIEXP',
                'TCNSBRANDS','TCS','TEAMLEASE','TECHM','TECHNOE','THERMAX','THOMASCOOK','THYROCARE','TIDEWATER','TIINDIA',
                'TIMETECHNO','TIMKEN','TINPLATE','TITAN','TORNTPHARM','TORNTPOWER','TRENT','TRITURBINE','TRIVENI','TTKPRESTIG',
                'TV18BRDCST','TVSMOTOR','TVSSRICHAK','TVTODAY','UBL','UCOBANK','UFLEX','UJJIVAN','UJJIVANSFB','ULTRACEMCO',
                'UNICHEMLAB','UNIONBANK','UPL','UTIAMC','VAIBHAVGBL','VAKRANGEE','VARROC','VBL','VEDL','VENKEYS','VESUVIUS',
                'VGUARD','VINATIORGA','VIPIND','VMART','VOLTAS','VRLLOG','VSTIND','VSTTILLERS','VTL','WABAG',
                'WELCORP','WELENT','WELSPUNIND','WHIRLPOOL','WIPRO','WOCKPHARMA','WSTCSTPAPR','YESBANK','ZEEL','ZENSARTECH',
                'ZYDUSWELL',]

In [3]:
def url(i) :
    return f'https://archives.nseindia.com/products/content/sec_bhavdata_full_{oldDate(i).strftime("%d%m%Y")}.csv'

def oldDate(n):
    return datetime.now() - timedelta(n)

def path(i,j):
    if j == 0:
        return f'P:/DEPROJECT/Raw_bhav_copy/Raw_bhavcopy_{oldDate(i).strftime("%Y-%m-%d")}.csv'
    else:
        return f'P:/DEPROJECT/Clean_bhav_copy/Clean_bhavcopy_{oldDate(i).strftime("%Y-%m-%d")}.csv'
    
def Comapny_file_path(name):
    return f'P:/DEPROJECT/Company_file/{name}.csv'

def Analyzed_company_file_path(name):
    return f'P:/DEPROJECT/Analyzed_Company_file/{name}.csv'

In [4]:
def rawdown(x):
    for i in (range(0,x)):
        try: 
            r = requests.get(url(i), timeout=1)
            print(f"Bhavcopy of {oldDate(i).strftime('%Y-%m-%d')} downloaded")
            df = pd.read_csv(url(i))
            df.to_csv(path(i,0),index=False)
        except requests.exceptions.Timeout as err: 
            pass
        
x = int(input("Enter Number of days back you want to perform operation: "))
rawdown(x)

Enter Number of days back you want to perform operation: 60
Bhavcopy of 2022-05-15 downloaded
Bhavcopy of 2022-05-13 downloaded
Bhavcopy of 2022-05-12 downloaded
Bhavcopy of 2022-05-11 downloaded
Bhavcopy of 2022-05-10 downloaded
Bhavcopy of 2022-05-09 downloaded
Bhavcopy of 2022-05-08 downloaded
Bhavcopy of 2022-05-06 downloaded
Bhavcopy of 2022-05-05 downloaded
Bhavcopy of 2022-05-04 downloaded
Bhavcopy of 2022-05-03 downloaded
Bhavcopy of 2022-05-02 downloaded
Bhavcopy of 2022-05-01 downloaded
Bhavcopy of 2022-04-29 downloaded
Bhavcopy of 2022-04-28 downloaded
Bhavcopy of 2022-04-27 downloaded
Bhavcopy of 2022-04-26 downloaded
Bhavcopy of 2022-04-25 downloaded
Bhavcopy of 2022-04-24 downloaded
Bhavcopy of 2022-04-22 downloaded
Bhavcopy of 2022-04-21 downloaded
Bhavcopy of 2022-04-20 downloaded
Bhavcopy of 2022-04-19 downloaded
Bhavcopy of 2022-04-18 downloaded
Bhavcopy of 2022-04-17 downloaded
Bhavcopy of 2022-04-15 downloaded
Bhavcopy of 2022-04-14 downloaded
Bhavcopy of 2022-04-13 downloaded
Bhavcopy of 2022-04-12 downloaded
Bhavcopy of 2022-04-11 downloaded
Bhavcopy of 2022-04-10 downloaded
Bhavcopy of 2022-04-08 downloaded
Bhavcopy of 2022-04-07 downloaded
Bhavcopy of 2022-04-06 downloaded
Bhavcopy of 2022-04-05 downloaded
Bhavcopy of 2022-04-04 downloaded
Bhavcopy of 2022-04-01 downloaded
Bhavcopy of 2022-03-31 downloaded
Bhavcopy of 2022-03-30 downloaded
Bhavcopy of 2022-03-29 downloaded
Bhavcopy of 2022-03-28 downloaded
Bhavcopy of 2022-03-27 downloaded
Bhavcopy of 2022-03-25 downloaded
Bhavcopy of 2022-03-24 downloaded
Bhavcopy of 2022-03-23 downloaded
Bhavcopy of 2022-03-22 downloaded
Bhavcopy of 2022-03-21 downloaded
Bhavcopy of 2022-03-20 downloaded
Bhavcopy of 2022-03-18 downloaded

# CLEANING

In [5]:
for i in range(1,x):
    try:
        raw_df = pd.read_csv(path(i,0))

        #Reanming columns
        old_col_list = [' SYMBOL',' SERIES',' DATE1',' PREV_CLOSE',' OPEN_PRICE',' HIGH_PRICE',
                        ' LOW_PRICE',' LAST_PRICE',' CLOSE_PRICE',' AVG_PRICE',' TTL_TRD_QNTY',
                        ' TURNOVER_LACS',' NO_OF_TRADES',' DELIV_QTY',' DELIV_PER']

        for j in old_col_list: 
            raw_df.rename(columns = {j:j.strip()}, inplace = True)


        #Deleting 'Turnover_Lacs' column which is not needed 
        raw_df.drop('TURNOVER_LACS', axis=1, inplace=True) 
        raw_df.rename(columns={'DATE1':'DATE'}, inplace=True)


        # Keeping companies who comes under equity section
        raw_df = raw_df.loc[raw_df['SERIES'] == ' EQ'] 
        raw_df.reset_index(drop=True, inplace=True)
        
        # Creating temp datafrmae this data frame will keep records of company which are in our list 
        temp_df = pd.DataFrame()
        for z in Company_list:
            temp_df = temp_df.append(raw_df.loc[raw_df['SYMBOL'] == z], ignore_index=True) 
        print(f'{oldDate(i).strftime("%Y-%m-%d")} cleaned succesfully')
        # Saving clean temp_df to Local system in Clean_bhovcopy file 
        temp_df.to_csv(path(i,1),index=False)
    except:
        pass

2022-05-15 cleaned succesfully
2022-05-13 cleaned succesfully
2022-05-12 cleaned succesfully
2022-05-11 cleaned succesfully
2022-05-10 cleaned succesfully
2022-05-09 cleaned succesfully
2022-05-08 cleaned succesfully
2022-05-06 cleaned succesfully
2022-05-05 cleaned succesfully
2022-05-04 cleaned succesfully
2022-05-03 cleaned succesfully
2022-05-02 cleaned succesfully
2022-05-01 cleaned succesfully
2022-04-29 cleaned succesfully
2022-04-28 cleaned succesfully
2022-04-27 cleaned succesfully
2022-04-26 cleaned succesfully
2022-04-25 cleaned succesfully
2022-04-24 cleaned succesfully
2022-04-22 cleaned succesfully
2022-04-21 cleaned succesfully
2022-04-20 cleaned succesfully
2022-04-19 cleaned succesfully
2022-04-18 cleaned succesfully
2022-04-17 cleaned succesfully
2022-04-15 cleaned succesfully
2022-04-14 cleaned succesfully
2022-04-13 cleaned succesfully
2022-04-12 cleaned succesfully
2022-04-11 cleaned succesfully
2022-04-10 cleaned succesfully
2022-04-08 cleaned succesfully
2022-04-07 cleaned succesfully
2022-04-06 cleaned succesfully
2022-04-05 cleaned succesfully
2022-04-04 cleaned succesfully
2022-04-01 cleaned succesfully
2022-03-31 cleaned succesfully
2022-03-30 cleaned succesfully
2022-03-29 cleaned succesfully
2022-03-28 cleaned succesfully
2022-03-27 cleaned succesfully
2022-03-25 cleaned succesfully
2022-03-24 cleaned succesfully
2022-03-23 cleaned succesfully
2022-03-22 cleaned succesfully
2022-03-21 cleaned succesfully
2022-03-20 cleaned succesfully
2022-03-18 cleaned succesfully

# SPLITTING

In [6]:
COLUMN_NAMES = ['SYMBOL','SERIES','DATE','PREV_CLOSE','OPEN_PRICE','HIGH_PRICE','LOW_PRICE','LAST_PRICE',
                'CLOSE_PRICE','AVG_PRICE','TTL_TRD_QNTY','NO_OF_TRADES','DELIV_QTY','DELIV_PER','DELIV_VALUE',
                '5DDeVA','%Change_In_Price','%Change_In_Deliv_vs_AVG','Intraday_volume']
for i in Company_list:
    df = pd.DataFrame(columns=COLUMN_NAMES)
    df.to_csv(f'P:/DEPROJECT/Company_file/{i}.csv',index=False)

In [7]:
for i in reversed(range(0,x)):
    try:
        df = pd.read_csv(path(i,1))
        print(oldDate(i).strftime("%Y-%m-%d"))
        for i in Company_list:
            # Loading companys csv file in program 
            company_df = pd.read_csv(Comapny_file_path(i))
            
            # Finding comapnys row from clean bhav copy 
            temp_df = df[df['SYMBOL']== i]

            # Adding companys now to company's csv file 
            company_df = pd.concat([company_df, temp_df], ignore_index = True, axis = 0)

            company_df.drop_duplicates(subset ="DATE",keep = "last", inplace = True,ignore_index= True)    
            company_df.to_csv(Comapny_file_path(i), index=False)
    except:
        print(f'{oldDate(i).strftime("%Y-%m-%d")} --> no data')

2022-03-18
2022-03-19 --> no data
2022-03-20
2022-03-21
2022-03-22
2022-03-23
2022-03-24
2022-03-25
2022-03-26 --> no data
2022-03-27
2022-03-28
2022-03-29
2022-03-30
2022-03-31
2022-04-01
2022-04-02 --> no data
2022-04-03 --> no data
2022-04-04
2022-04-05
2022-04-06
2022-04-07
2022-04-08
2022-04-09 --> no data
2022-04-10
2022-04-11
2022-04-12
2022-04-13
2022-04-14
2022-04-15
2022-04-16 --> no data
2022-04-17
2022-04-18
2022-04-19
2022-04-20
2022-04-21
2022-04-22
2022-04-23 --> no data
2022-04-24
2022-04-25
2022-04-26
2022-04-27
2022-04-28
2022-04-29
2022-04-30 --> no data
2022-05-01
2022-05-02
2022-05-03
2022-05-04
2022-05-05
2022-05-06
2022-05-07 --> no data
2022-05-08
2022-05-09
2022-05-10
2022-05-11
2022-05-12
2022-05-13
2022-05-14 --> no data
2022-05-15
2022-05-16 --> no data

In [8]:
#visual cheaking
for i in Company_list:
    df = pd.read_csv(Comapny_file_path(i)) 
    display(df.tail(1))

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,3MINDIA,EQ,13-May-2022,17980.25,18113.7,18500.0,17862.7,17910.0,17988.85,18021.14,2254,1272,1271,56.39,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,AARTIDRUGS,EQ,13-May-2022,414.7,421.0,429.0,417.25,424.0,424.5,423.76,71756,4953,31787,44.3,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,AARTIIND,EQ,13-May-2022,740.7,760.0,771.4,745.0,752.0,751.95,761.7,804792,26025,419982,52.19,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,AAVAS,EQ,13-May-2022,2148.55,2159.85,2200.0,2026.6,2108.0,2075.85,2125.82,113516,19343,59173,52.13,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ABB,EQ,13-May-2022,2233.45,2249.0,2307.55,2245.2,2295.0,2290.6,2281.11,234536,15419,56004,23.88,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ABCAPITAL,EQ,13-May-2022,99.75,103.5,104.95,99.6,99.8,100.05,101.79,6518818,31132,1515660,23.25,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ABFRL,EQ,13-May-2022,252.2,256.0,268.0,254.4,264.35,264.2,262.45,1980581,23756,500725,25.28,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ACC,EQ,13-May-2022,2177.4,2195.0,2196.7,2099.05,2102.15,2113.3,2146.04,431751,32976,131766,30.52,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ACCELYA,EQ,13-May-2022,952.5,957.3,973.75,946.0,950.05,951.85,958.76,5468,1110,1976,36.14,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ACE,EQ,13-May-2022,177.3,181.8,188.4,178.65,183.2,183.4,184.23,380275,7749,125346,32.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ADANIENT,EQ,13-May-2022,2045.2,2084.5,2135.0,2035.3,2055.0,2054.15,2092.82,1547617,57091,160831,10.39,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ADANIPORTS,EQ,13-May-2022,713.3,727.0,735.9,701.8,706.0,705.9,719.79,7247809,120338,1350622,18.63,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ADFFOODS,EQ,13-May-2022,707.85,714.85,725.0,707.85,719.1,720.9,717.51,5784,515,3180,54.98,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ADVENZYMES,EQ,13-May-2022,275.15,275.5,282.25,271.55,273.0,273.3,277.74,64420,3928,23104,35.86,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,AEGISCHEM,EQ,13-May-2022,192.7,198.0,198.45,187.0,191.1,190.85,195.02,399081,11190,158864,39.81,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,AHLUCONT,EQ,13-May-2022,441.3,447.85,457.9,428.2,428.2,435.15,442.9,16567,2203,6491,39.18,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,AIAENG,EQ,13-May-2022,1801.0,1801.0,1830.0,1786.6,1790.0,1813.55,1813.14,60347,3538,53911,89.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,AJANTPHARM,EQ,13-May-2022,1709.1,1721.0,1728.9,1674.4,1710.0,1713.05,1711.16,66209,9330,39974,60.38,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,AKZOINDIA,EQ,13-May-2022,1758.55,1750.05,1802.5,1725.0,1761.25,1764.5,1775.32,4270,732,2647,61.99,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ALEMBICLTD,EQ,13-May-2022,66.1,68.8,69.65,67.2,68.3,68.3,68.43,132327,2380,53238,40.23,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ALKEM,EQ,13-May-2022,2955.4,2882.0,3203.7,2882.0,2898.4,2905.75,2978.97,476396,22070,237327,49.82,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ALKYLAMINE,EQ,13-May-2022,2995.85,3060.0,3085.75,3001.0,3020.0,3037.1,3053.29,51102,8952,24014,46.99,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ALLCARGO,EQ,13-May-2022,317.2,330.0,334.0,312.65,326.95,326.3,325.89,173697,6303,98797,56.88,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ALOKINDS,EQ,13-May-2022,21.65,22.25,23.0,21.85,22.35,22.25,22.31,11639155,12911,3098240,26.62,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,AMARAJABAT,EQ,13-May-2022,500.1,503.05,515.3,502.1,506.25,506.7,509.35,400013,14639,120875,30.22,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,AMBER,EQ,13-May-2022,3188.4,3204.35,3450.0,3189.5,3371.0,3379.45,3326.8,63503,13247,16474,25.94,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,AMBUJACEM,EQ,13-May-2022,373.55,378.0,378.55,356.1,358.3,359.1,361.8,10195371,109911,2173132,21.31,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,AMRUTANJAN,EQ,13-May-2022,785.15,795.0,819.6,791.05,815.0,813.0,809.54,24507,4066,9693,39.55,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ANURAS,EQ,13-May-2022,780.9,822.0,878.6,785.8,786.25,801.25,803.78,292017,20312,92371,31.63,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,APARINDS,EQ,13-May-2022,592.0,595.0,641.8,582.15,614.5,605.8,600.85,45072,5319,19091,42.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,APLAPOLLO,EQ,13-May-2022,810.75,835.0,900.0,825.25,854.0,870.6,855.92,500795,34568,187528,37.45,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,APLLTD,EQ,13-May-2022,727.6,734.0,751.6,733.05,740.0,741.55,741.79,390207,9727,145081,37.18,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,APOLLOHOSP,EQ,13-May-2022,3580.85,3601.9,3712.9,3530.0,3549.95,3547.8,3603.8,957908,74269,415123,43.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,APOLLOPIPE,EQ,13-May-2022,475.75,476.0,514.0,475.0,483.0,479.05,487.27,190668,9192,106246,55.72,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,APOLLOTYRE,EQ,13-May-2022,196.0,195.5,208.45,194.0,203.0,200.65,201.14,9735027,87930,2045982,21.02,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ARVIND,EQ,13-May-2022,99.45,102.4,103.45,98.4,99.3,99.3,100.61,1001769,16497,438686,43.79,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ARVINDFASN,EQ,13-May-2022,235.25,233.4,243.0,229.05,235.0,234.8,234.43,315254,17317,167588,53.16,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ASAHIINDIA,EQ,13-May-2022,387.75,390.65,410.5,390.65,405.0,405.0,403.33,226623,8378,122861,54.21,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ASHIANA,EQ,13-May-2022,129.95,131.15,134.95,126.3,128.2,129.75,130.31,40340,978,18797,46.6,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ASHOKA,EQ,13-May-2022,71.5,72.5,75.4,71.75,73.5,73.25,74.11,668179,7107,265578,39.75,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ASHOKLEY,EQ,13-May-2022,117.45,118.7,126.2,118.5,122.9,122.6,123.54,26943740,98367,7113597,26.4,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ASIANPAINT,EQ,13-May-2022,3039.95,3074.4,3116.25,3035.3,3068.6,3064.0,3077.04,1121729,100475,543048,48.41,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ASTEC,EQ,13-May-2022,1642.5,1665.0,1725.0,1650.0,1654.0,1666.0,1683.39,37707,4759,19453,51.59,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ASTERDM,EQ,13-May-2022,164.3,165.3,172.7,165.0,172.45,171.4,170.49,249919,7386,120504,48.22,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ASTRAL,EQ,13-May-2022,1783.95,1784.1,1804.55,1713.75,1734.0,1728.95,1760.57,659523,64600,364081,55.2,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ASTRAZEN,EQ,13-May-2022,2460.65,2469.95,2539.8,2461.1,2536.0,2517.3,2504.1,10794,1905,6648,61.59,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ATFL,EQ,13-May-2022,810.6,814.7,830.0,806.45,810.0,813.7,813.3,5002,449,3678,73.53,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ATUL,EQ,13-May-2022,8201.55,8231.0,8496.0,8076.5,8210.0,8266.4,8279.4,40495,10634,15920,39.31,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,AUBANK,EQ,13-May-2022,1239.05,1290.0,1326.35,1282.25,1302.9,1293.65,1302.67,4128140,143959,2110920,51.13,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,AUROPHARMA,EQ,13-May-2022,570.75,579.9,582.5,556.1,558.1,562.55,568.89,1820308,59806,659131,36.21,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,AUTOAXLES,EQ,13-May-2022,1410.7,1417.75,1447.9,1389.0,1390.0,1409.55,1424.45,3515,744,1723,49.02,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,AVANTIFEED,EQ,13-May-2022,456.35,470.0,476.0,437.85,452.0,458.4,459.13,2163677,91092,197235,9.12,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,AXISBANK,EQ,13-May-2022,649.65,656.4,659.4,633.4,636.0,635.95,647.23,9618627,360919,4477907,46.55,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BAJAJ-AUTO,EQ,13-May-2022,3585.0,3618.05,3736.0,3618.05,3642.0,3642.1,3676.73,633218,64375,235554,37.2,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BAJAJCON,EQ,13-May-2022,141.75,142.65,153.1,142.1,149.0,148.4,147.85,730644,16155,278194,38.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BAJAJELEC,EQ,13-May-2022,916.8,920.0,941.05,890.0,904.0,905.65,922.51,45907,4920,14166,30.86,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BAJAJFINSV,EQ,13-May-2022,12850.7,13129.0,13234.75,12575.0,12585.95,12608.3,12916.6,348764,73245,83450,23.93,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BAJAJHLDNG,EQ,13-May-2022,4858.3,4928.0,4980.45,4869.9,4935.0,4940.0,4926.01,32276,9640,10076,31.22,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BAJFINANCE,EQ,13-May-2022,5593.4,5700.0,5749.0,5500.0,5521.9,5515.75,5642.07,2105315,200751,786082,37.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BALAMINES,EQ,13-May-2022,3070.75,3150.0,3175.0,2951.0,2984.2,2974.2,3072.52,131281,16827,38903,29.63,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BALKRISIND,EQ,13-May-2022,1910.2,1910.2,1949.45,1881.9,1887.0,1888.05,1921.32,259808,25648,112128,43.16,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BALMLAWRIE,EQ,13-May-2022,110.5,112.7,113.75,111.7,112.6,112.2,112.81,109849,2631,64112,58.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BALRAMCHIN,EQ,13-May-2022,381.6,386.55,401.9,386.55,394.6,392.8,394.98,3634636,44082,1064915,29.3,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BANARISUG,EQ,13-May-2022,2355.1,2390.35,2530.0,2372.0,2375.0,2404.9,2407.29,1071,356,409,38.19,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BANDHANBNK,EQ,13-May-2022,304.15,309.05,332.75,309.05,317.25,317.45,322.65,20382548,174250,2882096,14.14,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BANKBARODA,EQ,13-May-2022,96.05,98.0,99.3,94.0,94.3,95.0,97.45,31856215,103946,6929137,21.75,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BANKINDIA,EQ,13-May-2022,41.0,41.8,43.45,41.55,42.15,42.1,42.37,3817134,10503,1112658,29.15,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BASF,EQ,13-May-2022,2404.0,2474.7,2474.7,2377.0,2457.0,2453.15,2426.87,40676,7570,13623,33.49,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BATAINDIA,EQ,13-May-2022,1684.15,1700.0,1730.5,1668.2,1677.3,1679.3,1708.85,210158,15181,41810,19.89,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BBTC,EQ,13-May-2022,900.35,919.7,940.0,910.5,919.05,918.7,925.99,62305,5947,17148,27.52,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BDL,EQ,13-May-2022,639.65,650.9,703.3,650.9,667.6,665.15,678.25,2329671,92696,381940,16.39,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BECTORFOOD,EQ,13-May-2022,287.4,291.0,299.9,286.0,287.2,287.75,291.95,119257,4261,39959,33.51,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BEL,EQ,13-May-2022,218.3,220.4,225.7,217.1,218.55,218.75,222.07,4039429,42204,1226135,30.35,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BEML,EQ,13-May-2022,1350.3,1360.05,1405.0,1345.0,1348.05,1350.9,1370.59,85431,8240,27588,32.29,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BEPL,EQ,13-May-2022,110.9,113.0,114.35,110.1,110.5,110.6,111.98,260551,5341,127296,48.86,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BERGEPAINT,EQ,13-May-2022,660.2,661.5,673.5,651.75,655.8,656.5,663.72,366915,17143,164668,44.88,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BHARATFORG,EQ,13-May-2022,604.0,611.5,651.7,611.15,628.2,629.05,636.17,2123113,73307,817311,38.5,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BHARATRAS,EQ,13-May-2022,12978.85,13166.45,13500.0,12251.0,12400.05,12434.3,12714.81,5239,2846,2386,45.54,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BHARTIARTL,EQ,13-May-2022,705.4,713.0,713.0,684.75,685.85,689.9,696.81,11938252,192522,7792196,65.27,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BHEL,EQ,13-May-2022,45.4,46.4,47.85,46.05,46.4,46.3,46.93,28207461,50421,3368040,11.94,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BIOCON,EQ,13-May-2022,327.95,330.0,335.55,323.5,325.0,326.15,330.58,691415,18868,149602,21.64,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BIRLACORPN,EQ,13-May-2022,935.15,950.0,969.95,924.45,948.0,953.15,946.48,112456,10703,31854,28.33,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BLUEDART,EQ,13-May-2022,6998.9,7100.0,7150.0,6937.75,6987.3,6996.05,7067.17,28094,7602,10617,37.79,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BLUESTARCO,EQ,13-May-2022,1027.45,1050.0,1051.8,983.0,992.9,989.85,1013.1,52929,5213,15474,29.24,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BOMDYEING,EQ,13-May-2022,99.2,102.0,104.7,99.8,100.6,100.5,101.93,2964717,20557,510033,17.2,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BOSCHLTD,EQ,13-May-2022,13128.6,13200.0,13499.25,13022.65,13060.0,13098.7,13291.3,28821,6963,12666,43.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BPCL,EQ,13-May-2022,339.95,341.4,345.3,336.0,336.25,336.95,341.33,2257796,56117,931127,41.24,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BRIGADE,EQ,13-May-2022,394.85,393.0,421.3,391.15,412.0,407.9,411.03,430997,21987,179970,41.76,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BRITANNIA,EQ,13-May-2022,3216.85,3225.0,3321.0,3225.0,3270.6,3278.5,3290.97,326757,31374,120729,36.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BSE,EQ,13-May-2022,721.4,732.0,746.0,701.1,707.0,707.2,718.93,1326154,52698,438645,33.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,BSOFT,EQ,13-May-2022,363.5,372.0,376.0,355.2,361.3,357.95,366.57,1707191,33770,348464,20.41,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CAMLINFINE,EQ,13-May-2022,105.35,106.2,108.5,103.65,105.2,104.7,106.17,491769,11283,320017,65.07,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CANBK,EQ,13-May-2022,192.75,197.0,202.45,192.1,192.2,193.3,198.02,13271191,68025,2416395,18.21,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CANFINHOME,EQ,13-May-2022,472.35,479.9,514.9,465.3,494.6,495.7,491.13,2106778,31995,629066,29.86,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CAPACITE,EQ,13-May-2022,105.8,107.4,112.0,107.0,109.8,110.15,109.53,84947,3568,32494,38.25,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CAPLIPOINT,EQ,13-May-2022,663.3,669.65,716.9,669.35,707.7,707.55,691.55,253747,12400,133053,52.44,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CARBORUNIV,EQ,13-May-2022,734.9,738.0,744.0,717.05,724.55,730.5,728.15,99174,7418,49046,49.45,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CARERATING,EQ,13-May-2022,411.3,413.55,428.7,413.55,416.5,417.15,420.5,222472,4958,163100,73.31,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CASTROLIND,EQ,13-May-2022,100.6,102.3,102.5,101.05,101.4,101.3,101.74,481603,6735,240783,50.0,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CCL,EQ,13-May-2022,323.15,330.3,334.15,324.25,331.1,330.25,330.36,235190,14032,90174,38.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CDSL,EQ,13-May-2022,1074.35,1107.0,1124.95,1080.0,1098.0,1088.85,1105.31,819706,60068,348902,42.56,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CEATLTD,EQ,13-May-2022,1012.05,1025.05,1044.5,1006.55,1006.55,1029.1,1032.79,147738,12754,70277,47.57,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CENTRALBK,EQ,13-May-2022,16.65,16.9,17.4,16.7,16.95,17.0,17.01,2614549,5540,1026712,39.27,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CENTRUM,EQ,13-May-2022,22.8,23.45,24.45,23.0,23.35,23.3,23.85,361022,1482,199924,55.38,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CENTURYPLY,EQ,13-May-2022,496.1,503.0,540.7,501.05,506.4,503.75,510.68,106620,8437,36925,34.63,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CENTURYTEX,EQ,13-May-2022,695.35,704.9,719.65,690.25,698.9,695.75,703.01,164462,9160,59173,35.98,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CERA,EQ,13-May-2022,4017.3,4090.0,4149.9,3841.6,3912.05,3915.05,3948.43,33870,8655,11295,33.35,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CESC,EQ,13-May-2022,79.8,80.95,81.45,78.2,78.3,78.55,79.19,1198600,17549,597794,49.87,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CGCL,EQ,13-May-2022,637.6,643.85,667.0,625.2,631.55,636.7,648.44,47002,4449,16745,35.63,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CHALET,EQ,13-May-2022,288.45,289.0,296.0,285.9,289.8,289.05,291.18,200327,8627,45044,22.49,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CHAMBLFERT,EQ,13-May-2022,414.2,422.1,425.45,386.05,392.0,391.3,407.25,1953558,35334,295988,15.15,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CHEMCON,EQ,13-May-2022,269.4,273.0,281.4,273.0,278.0,277.95,278.1,47709,3626,17659,37.01,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CHENNPETRO,EQ,13-May-2022,259.05,261.2,272.0,261.2,272.0,271.15,270.8,1570105,11611,584889,37.25,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CHOLAFIN,EQ,13-May-2022,609.2,616.0,654.3,616.0,631.0,632.05,639.29,3701646,82613,1099755,29.71,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CHOLAHLDNG,EQ,13-May-2022,607.0,615.0,616.15,600.1,603.25,605.15,607.63,29002,3473,13105,45.19,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CIPLA,EQ,13-May-2022,920.75,924.1,940.1,922.2,932.8,934.6,932.44,1734146,74001,916765,52.87,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,COALINDIA,EQ,13-May-2022,167.05,170.0,173.65,168.0,168.75,168.7,171.07,11590435,101434,3267730,28.19,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,COCHINSHIP,EQ,13-May-2022,307.7,310.0,319.95,308.55,313.35,312.7,313.8,171588,7011,62930,36.68,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,COFORGE,EQ,13-May-2022,3653.9,3755.0,3799.0,3659.15,3740.0,3743.25,3746.16,459879,43235,146493,31.85,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,COLPAL,EQ,13-May-2022,1565.4,1568.95,1613.7,1568.95,1603.5,1602.45,1599.98,328375,28003,190284,57.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CONCOR,EQ,13-May-2022,594.2,598.9,624.2,598.0,603.1,605.8,612.76,1514147,64842,767456,50.69,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CONFIPET,EQ,13-May-2022,50.7,51.75,53.1,50.9,51.35,51.3,51.97,339156,3187,132287,39.0,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,COROMANDEL,EQ,13-May-2022,875.95,882.0,909.5,880.05,886.3,883.05,899.27,568345,25060,272712,47.98,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CRAFTSMAN,EQ,13-May-2022,2165.85,2171.0,2256.0,2105.0,2175.0,2192.8,2178.87,41570,9820,19878,47.82,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CREDITACC,EQ,13-May-2022,879.7,927.0,973.15,896.0,923.7,927.9,948.05,765012,29378,267103,34.91,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CRISIL,EQ,13-May-2022,3161.4,3178.0,3312.0,3178.0,3268.0,3269.2,3254.93,55211,8373,33452,60.59,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CROMPTON,EQ,13-May-2022,345.85,348.05,357.5,348.05,351.0,353.0,353.81,1566459,43719,1093960,69.84,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CSBBANK,EQ,13-May-2022,193.7,194.7,200.35,185.1,189.55,190.35,195.63,217250,5999,85821,39.5,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CUB,EQ,13-May-2022,119.3,120.5,123.35,118.55,119.15,119.0,121.5,693923,5874,159096,22.93,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CUMMINSIND,EQ,13-May-2022,957.8,979.0,1008.95,965.7,1002.95,1000.3,996.09,540269,18815,294385,54.49,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,CYIENT,EQ,13-May-2022,785.45,793.6,800.0,775.85,791.65,789.35,787.21,262580,17411,137441,52.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DAAWAT,EQ,13-May-2022,78.4,79.9,80.95,77.0,77.6,77.8,79.24,2187539,13647,554579,25.35,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DABUR,EQ,13-May-2022,498.35,502.0,512.45,498.35,500.45,500.8,505.58,2733902,57283,1547879,56.62,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DALBHARAT,EQ,13-May-2022,1405.5,1414.0,1448.4,1400.1,1411.95,1408.0,1421.68,115514,7636,34292,29.69,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DALMIASUG,EQ,13-May-2022,369.05,375.05,397.0,375.05,392.15,391.6,389.62,121650,6089,33038,27.16,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DBCORP,EQ,13-May-2022,82.55,84.5,85.4,77.5,82.2,82.75,80.99,819192,13156,176002,21.48,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DBL,EQ,13-May-2022,211.7,215.0,232.85,215.0,227.0,226.4,225.72,1021557,20136,180154,17.64,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DCAL,EQ,13-May-2022,115.85,119.0,121.7,114.75,118.5,118.15,118.23,505706,10055,197757,39.11,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DCBBANK,EQ,13-May-2022,82.3,83.9,85.0,79.85,82.2,82.15,84.0,2386051,15986,1436799,60.22,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DCMSHRIRAM,EQ,13-May-2022,1051.15,1053.0,1059.4,985.0,999.0,992.1,1013.76,188770,17800,103724,54.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DEEPAKNTR,EQ,13-May-2022,1918.8,1942.0,2035.0,1942.0,1986.0,1983.4,2001.52,947827,53380,212112,22.38,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DELTACORP,EQ,13-May-2022,221.4,226.65,231.7,220.1,221.6,222.2,227.18,2384684,22270,398876,16.73,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DEN,EQ,13-May-2022,34.7,35.0,36.2,34.55,34.6,34.85,35.55,1176538,4718,373252,31.72,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DFMFOODS,EQ,13-May-2022,206.0,208.15,228.35,208.15,220.0,222.75,221.0,71815,2557,33905,47.21,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
36,DHAMPURSUG,EQ,12-May-2022,371.75,366.9,377.55,345.5,367.85,360.2,363.44,1484059,35974,397195,26.76,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DHANI,EQ,13-May-2022,40.45,41.05,42.45,41.05,42.45,42.45,42.3,1253822,4336,730541,58.27,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DHANUKA,EQ,13-May-2022,668.8,678.0,712.8,678.0,710.0,705.8,699.14,21468,2166,12566,58.53,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DIAMONDYD,EQ,13-May-2022,588.4,597.15,617.0,591.0,614.05,610.55,602.65,8091,883,5763,71.23,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DISHTV,EQ,13-May-2022,12.85,13.1,13.7,13.1,13.4,13.5,13.48,1896385,4372,836015,44.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DIVISLAB,EQ,13-May-2022,4233.4,4315.0,4354.7,4254.05,4277.9,4281.1,4306.12,436997,40754,225031,51.49,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DIXON,EQ,13-May-2022,3401.1,3450.0,3484.95,3255.0,3360.0,3371.4,3351.76,1067906,92829,373269,34.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DLF,EQ,13-May-2022,322.2,328.1,332.8,317.25,318.85,318.9,326.81,5040759,61194,935936,18.57,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DMART,EQ,13-May-2022,3270.45,3351.0,3357.75,3205.0,3240.05,3230.6,3283.7,546754,87357,261869,47.9,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DOLLAR,EQ,13-May-2022,475.75,481.0,497.45,473.05,475.0,477.45,486.4,73815,5522,24114,32.67,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,DRREDDY,EQ,13-May-2022,3880.0,3899.4,3979.0,3890.5,3918.85,3924.3,3943.27,218401,27193,86837,39.76,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,EASEMYTRIP,EQ,13-May-2022,341.35,349.7,358.4,345.0,358.4,358.2,357.14,1796238,13857,1073017,59.74,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,EDELWEISS,EQ,13-May-2022,52.35,53.5,56.9,52.5,55.25,54.6,54.44,2027684,10692,563620,27.8,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,EICHERMOT,EQ,13-May-2022,2384.65,2400.0,2483.0,2397.85,2420.5,2432.65,2445.37,650616,54003,217826,33.48,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,EIDPARRY,EQ,13-May-2022,463.0,469.0,490.75,466.3,484.0,480.8,481.6,238516,15053,90767,38.05,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,EIHOTEL,EQ,13-May-2022,133.95,137.8,137.8,131.0,132.5,133.95,134.91,670265,9492,296518,44.24,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ELGIEQUIP,EQ,13-May-2022,259.55,262.55,269.9,248.7,257.0,257.5,256.31,919627,41448,321104,34.92,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,EMAMILTD,EQ,13-May-2022,450.75,455.9,456.0,418.0,428.0,427.7,437.02,1249915,59838,226981,18.16,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ENDURANCE,EQ,13-May-2022,1145.55,1151.6,1200.0,1150.0,1190.0,1186.0,1170.76,64141,5984,12619,19.67,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ENGINERSIN,EQ,13-May-2022,58.85,59.35,59.9,58.75,59.35,59.1,59.38,604058,4264,330190,54.66,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,EPL,EQ,13-May-2022,154.0,155.0,158.8,155.0,155.6,155.7,155.97,134146,3534,85356,63.63,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,EQUITAS,EQ,13-May-2022,112.2,113.3,113.9,100.9,104.85,105.45,109.19,2307358,49020,1211579,52.51,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,EQUITASBNK,EQ,13-May-2022,55.0,55.05,56.3,54.1,54.2,54.7,54.99,2845067,37909,1888099,66.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ERIS,EQ,13-May-2022,667.75,671.1,700.75,662.35,667.0,672.4,681.91,75930,13026,33640,44.3,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ESABINDIA,EQ,13-May-2022,3066.6,3076.0,3378.85,3076.0,3297.1,3294.7,3250.06,35784,12724,8674,24.24,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ESCORTS,EQ,13-May-2022,1554.4,1545.0,1607.4,1537.45,1554.0,1550.0,1566.0,1163134,56408,317239,27.27,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,EVEREADY,EQ,13-May-2022,314.45,316.0,317.6,309.5,313.25,312.15,312.21,201825,2325,109995,54.5,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,EXIDEIND,EQ,13-May-2022,141.0,142.1,145.65,141.75,142.05,142.15,144.11,1910199,24154,558744,29.25,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,FACT,EQ,13-May-2022,112.8,113.5,117.95,111.0,112.45,112.9,114.99,134433,3605,38782,28.85,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,FCONSUMER,EQ,13-May-2022,2.15,2.15,2.25,2.15,2.25,2.2,2.24,11223192,11144,8101178,72.18,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,FDC,EQ,13-May-2022,244.95,246.2,249.55,243.65,246.5,245.25,246.31,50458,3544,27902,55.3,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,FEDERALBNK,EQ,13-May-2022,85.45,87.85,87.85,83.2,83.55,83.5,86.1,17971518,62947,5071495,28.22,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,FILATEX,EQ,13-May-2022,104.9,105.35,108.7,103.0,103.85,104.15,105.82,363850,3996,129714,35.65,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,FINCABLES,EQ,13-May-2022,365.0,375.0,390.0,357.5,362.0,359.85,365.58,215771,10821,72914,33.79,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,FINEORG,EQ,13-May-2022,4195.35,4228.0,4320.2,4132.05,4205.0,4197.75,4240.21,19886,5395,5483,27.57,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,FINPIPE,EQ,13-May-2022,139.7,142.15,144.25,139.0,139.8,139.8,141.57,269046,11228,106117,39.44,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,FMGOETZE,EQ,13-May-2022,266.95,267.0,268.1,266.5,267.5,267.45,267.31,17015,276,15202,89.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,FORTIS,EQ,13-May-2022,237.85,241.05,244.4,235.0,236.8,236.0,239.35,518519,12071,318719,61.47,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,FRETAIL,EQ,13-May-2022,15.35,14.6,14.6,14.6,14.6,14.6,14.6,488394,2833,488394,100.0,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,FSL,EQ,13-May-2022,109.75,112.0,114.5,108.2,109.3,109.1,110.94,1976661,15565,443889,22.46,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GABRIEL,EQ,13-May-2022,106.2,107.0,110.55,106.2,108.6,108.5,108.57,131052,4271,79267,60.49,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GAEL,EQ,13-May-2022,282.7,288.0,318.0,285.0,306.0,307.05,306.9,1108346,33144,364280,32.87,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GAIL,EQ,13-May-2022,150.3,151.05,152.8,146.75,147.2,147.8,150.42,7584234,61662,3126531,41.22,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GALAXYSURF,EQ,13-May-2022,2664.3,2677.65,2759.35,2637.1,2684.25,2687.05,2701.45,14121,5166,5930,41.99,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GANECOS,EQ,13-May-2022,666.6,684.95,686.35,672.6,684.0,678.25,679.88,116035,1618,110368,95.12,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GARFIBRES,EQ,13-May-2022,2901.0,2977.0,2977.0,2889.65,2898.8,2905.2,2916.16,17204,3011,11630,67.6,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GATI,EQ,13-May-2022,137.75,139.0,142.0,136.1,136.95,137.5,139.01,699733,14831,221635,31.67,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GENUSPOWER,EQ,13-May-2022,81.15,80.3,84.0,80.25,80.95,81.35,82.23,564048,6503,257042,45.57,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GEOJITFSL,EQ,13-May-2022,52.5,53.2,54.3,53.2,53.3,53.6,53.84,287866,3915,161635,56.15,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GEPIL,EQ,13-May-2022,177.3,180.0,183.5,176.15,177.0,177.15,178.25,65973,1841,34958,52.99,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GESHIP,EQ,13-May-2022,366.2,368.1,389.35,366.2,385.0,378.55,378.58,388739,18323,233100,59.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GET&D,EQ,13-May-2022,102.25,103.6,108.75,103.6,107.85,107.25,106.58,33944,943,16462,48.5,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GHCL,EQ,13-May-2022,582.95,595.2,602.0,583.1,598.8,589.8,596.38,692885,45770,298813,43.13,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GICRE,EQ,13-May-2022,112.35,114.75,117.35,112.0,114.6,114.15,114.91,497002,7511,83834,16.87,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GILLETTE,EQ,13-May-2022,4851.7,4850.0,4895.95,4790.55,4850.0,4855.7,4846.25,3349,1437,1988,59.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GLAND,EQ,13-May-2022,2851.7,2845.25,3023.95,2844.9,3000.0,2996.6,2982.59,141654,24607,52191,36.84,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GLAXO,EQ,13-May-2022,1482.7,1485.0,1510.95,1465.3,1497.5,1493.3,1484.53,24560,4287,10547,42.94,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GLENMARK,EQ,13-May-2022,390.55,394.0,404.2,392.25,392.35,393.85,399.07,496624,10231,140307,28.25,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GMDCLTD,EQ,13-May-2022,181.45,186.55,187.3,172.3,174.5,173.7,180.21,3760991,46884,1016464,27.03,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GMMPFAUDLR,EQ,13-May-2022,4213.35,4226.1,4390.0,4226.1,4289.0,4283.25,4316.59,13266,4035,6930,52.24,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GMRINFRA,EQ,13-May-2022,32.45,32.5,34.15,32.5,33.35,33.45,33.51,8994513,42304,2982945,33.16,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GNFC,EQ,13-May-2022,682.25,703.0,707.85,614.05,622.0,618.75,647.43,9621815,165969,1111380,11.55,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GODFRYPHLP,EQ,13-May-2022,1134.0,1141.05,1173.35,1126.85,1134.25,1139.25,1149.93,19197,2640,5933,30.91,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GODREJAGRO,EQ,13-May-2022,505.75,514.1,520.0,500.0,500.9,501.4,506.45,378265,16837,109158,28.86,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GODREJCP,EQ,13-May-2022,771.25,779.7,828.05,776.55,796.55,797.2,812.21,4061765,166570,1612441,39.7,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GODREJIND,EQ,13-May-2022,438.9,444.7,459.0,444.45,453.85,453.45,454.63,66839,5858,23402,35.01,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GODREJPROP,EQ,13-May-2022,1320.95,1334.9,1390.9,1330.0,1342.0,1340.9,1362.56,706967,30184,168401,23.82,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GPPL,EQ,13-May-2022,77.55,80.0,80.65,78.95,79.8,79.65,79.97,403797,5013,180787,44.77,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GRANULES,EQ,13-May-2022,235.2,236.1,244.0,236.1,239.45,239.1,241.17,438170,7586,95220,21.73,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GRAPHITE,EQ,13-May-2022,448.45,454.0,468.4,444.0,446.8,448.8,457.95,466894,17428,132959,28.48,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GRASIM,EQ,13-May-2022,1485.85,1503.6,1517.95,1465.95,1468.6,1475.1,1493.31,487457,36308,142369,29.21,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GREAVESCOT,EQ,13-May-2022,131.0,137.0,145.75,136.55,142.65,141.9,140.68,4558366,62078,1202768,26.39,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GREENLAM,EQ,13-May-2022,315.6,311.35,319.45,306.0,317.0,314.15,311.01,85970,3468,65646,76.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GREENPLY,EQ,13-May-2022,183.75,187.45,188.5,178.0,179.9,179.45,183.31,111688,2998,42661,38.2,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GRINDWELL,EQ,13-May-2022,1654.35,1699.0,1699.0,1636.85,1645.0,1650.35,1653.33,101196,4775,86983,85.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GRSE,EQ,13-May-2022,279.2,284.75,294.2,281.15,284.0,283.45,286.7,344041,8742,89371,25.98,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GSFC,EQ,13-May-2022,146.75,149.5,152.4,143.55,145.2,144.8,148.59,2455422,29002,898329,36.59,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GSPL,EQ,13-May-2022,259.55,269.95,271.0,248.0,249.3,250.3,255.65,1863917,36323,616454,33.07,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GTPL,EQ,13-May-2022,164.95,164.0,167.15,159.25,160.05,160.2,162.27,177424,3111,142259,80.18,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GUJALKALI,EQ,13-May-2022,784.05,799.0,816.8,753.95,758.8,761.2,786.7,792733,37778,169203,21.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GUJGASLTD,EQ,13-May-2022,566.95,569.9,578.9,556.0,567.0,568.95,567.74,3597946,65578,930159,25.85,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,GULFOILLUB,EQ,13-May-2022,385.55,387.5,394.95,387.5,388.0,389.45,390.87,29584,2380,15382,51.99,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HAL,EQ,13-May-2022,1516.95,1523.0,1569.9,1468.0,1499.95,1509.9,1521.28,1357690,64535,300105,22.1,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HAPPSTMNDS,EQ,13-May-2022,861.4,870.0,934.95,870.0,914.0,913.25,905.36,564336,33444,173596,30.76,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HATHWAY,EQ,13-May-2022,16.85,17.05,17.6,16.95,17.15,17.15,17.25,2892929,5983,1057434,36.55,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HATSUN,EQ,13-May-2022,991.65,990.0,990.0,842.75,856.0,856.2,869.73,482601,41049,146189,30.29,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HAVELLS,EQ,13-May-2022,1199.55,1215.0,1256.3,1206.0,1230.5,1234.95,1236.74,925407,33387,268415,29.01,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HCC,EQ,13-May-2022,12.9,13.4,14.25,13.25,13.75,13.65,13.77,11543577,12688,3251767,28.17,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HCG,EQ,13-May-2022,259.65,260.25,266.85,256.7,260.0,261.05,261.58,65796,2563,28855,43.86,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HCLTECH,EQ,13-May-2022,1059.4,1070.0,1078.0,1045.1,1050.05,1052.15,1064.35,2496626,81165,1426750,57.15,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HDFC,EQ,13-May-2022,2150.45,2165.4,2190.95,2125.25,2131.95,2132.95,2160.08,4905109,171636,3191909,65.07,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HDFCAMC,EQ,13-May-2022,1840.05,1857.0,1861.0,1751.0,1761.0,1770.05,1806.81,525367,49740,186391,35.48,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HDFCBANK,EQ,13-May-2022,1303.05,1310.05,1318.0,1287.0,1292.5,1291.35,1301.55,8384119,278869,4443428,53.0,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HDFCLIFE,EQ,13-May-2022,547.25,555.0,565.85,548.05,549.95,550.75,555.76,3154166,111654,1360947,43.15,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HEG,EQ,13-May-2022,1003.45,1017.0,1056.7,1017.0,1027.4,1025.5,1035.94,203975,13686,43515,21.33,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HEIDELBERG,EQ,13-May-2022,184.25,185.9,189.8,183.5,184.0,184.85,187.03,64402,3123,33751,52.41,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HEMIPROP,EQ,13-May-2022,102.05,103.55,106.65,102.2,103.0,102.75,104.51,389473,4780,142022,36.47,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HERANBA,EQ,13-May-2022,563.05,566.0,615.4,566.0,607.0,598.2,590.22,92324,5942,40273,43.62,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HERITGFOOD,EQ,13-May-2022,289.15,294.9,299.9,289.0,289.0,290.15,294.16,43619,3969,14813,33.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HEROMOTOCO,EQ,13-May-2022,2401.2,2414.95,2500.0,2414.95,2445.55,2449.15,2467.42,691344,57867,229246,33.16,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HESTERBIO,EQ,13-May-2022,2342.05,2380.0,2419.55,2310.0,2315.0,2356.85,2376.44,3002,951,1124,37.44,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HFCL,EQ,13-May-2022,61.8,63.3,64.9,62.6,63.6,63.5,63.78,6093786,22987,1957251,32.12,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HGINFRA,EQ,13-May-2022,536.9,545.0,552.65,520.0,526.95,526.25,533.8,136107,12175,40425,29.7,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HIKAL,EQ,13-May-2022,381.35,385.05,399.8,385.05,391.55,397.1,394.03,199826,7422,55582,27.82,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HIL,EQ,13-May-2022,3505.8,3568.0,3599.95,3463.25,3510.35,3514.6,3508.55,14857,3509,8635,58.12,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HIMATSEIDE,EQ,13-May-2022,116.6,117.3,122.6,114.6,117.1,118.15,120.31,314415,7668,142170,45.22,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HINDALCO,EQ,13-May-2022,405.85,411.0,414.45,384.95,386.2,388.0,398.04,17007818,193648,7498962,44.09,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HINDCOPPER,EQ,13-May-2022,92.1,94.0,95.7,91.35,92.35,92.15,93.93,4512467,31691,1141178,25.29,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HINDOILEXP,EQ,13-May-2022,159.7,163.5,174.0,161.5,173.85,171.5,169.03,1173559,12931,400178,34.1,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HINDPETRO,EQ,13-May-2022,262.5,265.0,267.1,256.2,257.45,258.15,262.36,2320541,31701,653632,28.17,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HINDUNILVR,EQ,13-May-2022,2138.8,2170.0,2218.0,2154.15,2189.0,2194.1,2195.77,2057239,134564,1147055,55.76,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HINDZINC,EQ,13-May-2022,286.15,289.0,294.55,283.0,284.9,284.55,288.61,415655,13090,196251,47.21,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HOMEFIRST,EQ,13-May-2022,753.1,740.5,765.8,739.95,755.6,762.0,757.51,80452,9220,32937,40.94,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HONAUT,EQ,13-May-2022,37159.15,36000.0,36234.0,34100.0,34300.0,34332.15,35039.24,24056,12316,8638,35.91,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HSCL,EQ,13-May-2022,59.0,60.55,63.9,59.4,60.4,60.4,61.44,9204912,37670,2085786,22.66,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HUDCO,EQ,13-May-2022,31.4,32.0,32.15,31.45,31.55,31.5,31.75,1411365,4458,542743,38.46,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,HUHTAMAKI,EQ,13-May-2022,176.45,178.5,180.8,175.2,178.05,178.3,178.04,89282,3133,33369,37.37,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IBREALEST,EQ,13-May-2022,74.2,76.3,76.7,70.1,70.85,70.7,73.52,10121943,39971,2635565,26.04,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IBULHSGFIN,EQ,13-May-2022,118.65,121.0,125.5,116.0,117.6,117.75,121.77,20822870,95760,2354482,11.31,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ICICIBANK,EQ,13-May-2022,695.8,702.4,702.4,675.0,676.4,677.35,689.67,15717043,312889,8610043,54.78,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ICICIGI,EQ,13-May-2022,1249.1,1252.6,1309.25,1249.6,1274.7,1280.4,1286.62,667977,82530,329758,49.37,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ICICIPRULI,EQ,13-May-2022,488.85,494.7,504.0,483.85,487.65,489.4,493.57,588078,21073,178849,30.41,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ICIL,EQ,13-May-2022,146.2,141.5,144.3,137.05,138.95,138.15,141.16,568753,11091,127325,22.39,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ICRA,EQ,13-May-2022,3874.05,4000.0,4199.8,3852.25,3966.4,3957.85,3930.2,5579,1521,3462,62.05,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IDBI,EQ,13-May-2022,36.65,37.3,37.65,36.0,36.2,36.25,36.93,7847331,17069,2830519,36.07,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IDEA,EQ,13-May-2022,8.15,8.25,8.6,8.2,8.4,8.35,8.38,115583664,136688,27837457,24.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IDFC,EQ,13-May-2022,49.45,50.45,51.15,49.35,50.1,49.65,50.46,4985005,9989,1089306,21.85,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IDFCFIRSTB,EQ,13-May-2022,34.8,35.5,35.85,34.45,34.65,34.55,35.21,34320610,53570,9698780,28.26,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IEX,EQ,13-May-2022,183.45,187.0,193.1,186.1,187.5,186.9,189.6,8457087,113723,2570987,30.4,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IFBIND,EQ,13-May-2022,848.15,864.3,963.4,864.3,941.0,944.75,944.09,575075,27989,107354,18.67,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IFCI,EQ,13-May-2022,9.4,9.6,10.0,9.4,9.7,9.6,9.65,3545870,8088,1409735,39.76,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IGL,EQ,13-May-2022,345.95,352.9,379.35,352.5,372.5,372.65,369.97,8453530,129105,2315293,27.39,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IGPL,EQ,13-May-2022,641.1,632.15,653.95,632.15,638.85,640.7,643.3,25814,2671,12117,46.94,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IIFLSEC,EQ,13-May-2022,74.95,76.1,78.0,75.1,75.3,76.35,76.29,732704,7010,239995,32.75,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IIFLWAM,EQ,13-May-2022,1515.75,1501.0,1543.5,1430.0,1465.0,1456.85,1493.28,67482,7684,41540,61.56,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IMFA,EQ,13-May-2022,332.75,336.15,349.55,335.0,338.0,336.35,342.63,32858,2602,13343,40.61,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INDHOTEL,EQ,13-May-2022,217.85,219.5,226.0,217.3,218.15,218.4,221.59,8327170,45083,4123638,49.52,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INDIACEM,EQ,13-May-2022,168.3,172.0,176.45,167.6,168.8,168.3,172.17,2312453,18729,544511,23.55,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INDIAGLYCO,EQ,13-May-2022,881.6,896.0,976.0,888.85,955.0,950.2,934.05,258636,12964,73259,28.33,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INDIAMART,EQ,13-May-2022,4219.0,4255.0,4374.8,4164.7,4200.0,4187.8,4280.35,76235,11355,11550,15.15,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INDIANB,EQ,13-May-2022,137.75,141.0,149.8,141.0,144.8,145.55,146.09,3117375,44071,888832,28.51,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INDIGO,EQ,13-May-2022,1631.25,1644.9,1689.85,1616.0,1622.55,1624.8,1660.16,422044,25022,115605,27.39,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INDIGOPNTS,EQ,13-May-2022,1403.1,1434.9,1453.8,1411.45,1448.0,1443.85,1433.7,25112,5746,9622,38.32,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INDOCO,EQ,13-May-2022,330.35,331.95,345.0,330.0,337.1,336.75,333.91,118556,11364,62927,53.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INDOSTAR,EQ,13-May-2022,157.95,152.5,165.8,150.1,154.0,156.75,160.67,158790,2484,79092,49.81,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INDUSINDBK,EQ,13-May-2022,869.9,886.0,894.15,868.75,871.85,872.35,882.45,2932319,75891,912535,31.12,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INDUSTOWER,EQ,13-May-2022,201.55,197.65,198.8,181.75,182.95,182.85,187.45,8559896,118376,2894284,33.81,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INEOSSTYRO,EQ,13-May-2022,759.6,776.7,776.7,731.1,736.0,735.6,752.08,60184,5663,31012,51.53,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INFIBEAM,EQ,13-May-2022,13.4,13.75,14.8,13.4,14.8,14.45,14.15,6643806,10419,3320249,49.98,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INFY,EQ,13-May-2022,1508.8,1519.3,1529.25,1498.1,1501.9,1504.4,1516.02,6723761,203286,4266241,63.45,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INGERRAND,EQ,13-May-2022,1475.25,1460.0,1488.85,1443.0,1470.0,1469.75,1462.63,30400,8414,16900,55.59,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INOXLEISUR,EQ,13-May-2022,463.15,473.8,480.85,457.55,461.0,461.4,467.8,784025,14036,301301,38.43,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INOXWIND,EQ,13-May-2022,91.0,92.4,95.8,90.6,94.0,94.45,93.4,433121,8368,110573,25.53,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,INTELLECT,EQ,13-May-2022,578.85,585.0,599.2,562.65,573.6,571.7,584.96,822541,26297,326158,39.65,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IOB,EQ,13-May-2022,15.95,16.4,16.55,15.85,16.1,16.0,16.2,2115060,4228,875101,41.37,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IOC,EQ,13-May-2022,122.1,125.0,125.25,120.7,121.15,121.3,123.52,15067646,88052,6960331,46.19,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IOLCP,EQ,13-May-2022,373.35,386.0,391.9,378.7,380.55,380.6,383.69,193177,7371,75592,39.13,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IPCALAB,EQ,13-May-2022,961.6,966.7,984.95,965.0,976.4,975.45,976.45,319208,9018,224838,70.44,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IRB,EQ,13-May-2022,189.45,193.4,205.5,190.75,193.0,193.6,199.65,2108030,29418,937361,44.47,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IRCON,EQ,13-May-2022,38.7,39.0,39.6,38.9,39.35,39.3,39.29,668759,7487,388092,58.03,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IRCTC,EQ,13-May-2022,620.65,626.0,661.0,626.0,654.0,651.8,650.65,3683558,93968,1007096,27.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,IRFC,EQ,13-May-2022,21.15,21.25,21.35,21.25,21.25,21.3,21.29,3492615,11466,1747316,50.03,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ISEC,EQ,13-May-2022,473.3,486.55,486.55,472.2,478.85,476.45,478.35,291052,16075,140093,48.13,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ITC,EQ,13-May-2022,252.9,254.95,260.85,254.5,258.0,258.6,258.72,11921627,129880,5186121,43.5,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ITDC,EQ,13-May-2022,320.8,323.05,334.8,323.05,328.0,328.9,330.32,14098,1001,5506,39.06,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ITDCEM,EQ,13-May-2022,56.95,57.85,59.05,57.25,57.35,57.55,58.0,206951,2727,88689,42.86,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ITI,EQ,13-May-2022,81.45,82.1,84.9,82.1,83.9,83.65,83.86,95870,2617,44249,46.16,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,J&KBANK,EQ,13-May-2022,27.5,27.7,28.85,27.4,28.55,28.4,28.22,3261159,9006,1039506,31.88,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JAGRAN,EQ,13-May-2022,60.05,60.4,61.7,59.35,60.2,60.05,60.12,189781,3422,105434,55.56,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JAICORPLTD,EQ,13-May-2022,114.05,116.25,121.35,115.3,117.0,116.4,118.07,3902048,27152,427391,10.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JAMNAAUTO,EQ,13-May-2022,101.85,102.5,108.0,102.35,105.4,106.2,106.26,1366076,26428,456061,33.38,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JBCHEPHARM,EQ,13-May-2022,1553.55,1558.0,1602.55,1555.45,1570.0,1592.2,1583.13,33714,5194,19258,57.12,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JBMA,EQ,13-May-2022,433.3,449.0,454.95,442.45,454.95,454.95,453.9,68082,2126,35486,52.12,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JCHAC,EQ,13-May-2022,1792.2,1800.0,1838.7,1720.65,1749.9,1746.2,1791.69,7159,1508,2963,41.39,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JINDALPOLY,EQ,13-May-2022,905.7,933.7,980.0,896.0,905.0,903.3,917.79,58531,5442,23716,40.52,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JINDALSAW,EQ,13-May-2022,79.3,81.0,82.25,79.4,80.0,80.0,81.04,753497,7028,284430,37.75,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JINDALSTEL,EQ,13-May-2022,461.1,469.0,481.5,450.95,452.45,453.55,469.22,8174027,122471,2494569,30.52,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JKCEMENT,EQ,13-May-2022,2334.9,2338.0,2356.95,2265.05,2303.0,2302.9,2311.8,84589,7114,29168,34.48,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JKIL,EQ,13-May-2022,218.45,220.05,226.5,215.95,219.0,218.85,219.56,611945,14214,212844,34.78,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JKLAKSHMI,EQ,13-May-2022,377.25,382.7,389.95,377.5,388.6,385.95,384.85,185222,11970,86671,46.79,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JKPAPER,EQ,13-May-2022,295.45,298.3,311.95,296.5,301.15,305.45,305.12,1422361,30435,428266,30.11,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JKTYRE,EQ,13-May-2022,111.8,114.45,121.75,112.7,118.85,118.85,118.04,1852501,21878,482157,26.03,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JMCPROJECT,EQ,13-May-2022,74.2,79.9,79.9,76.1,78.8,77.3,77.8,112920,2106,38737,34.3,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JMFINANCIL,EQ,13-May-2022,62.75,63.6,66.2,62.4,62.8,62.9,64.24,809498,6962,274266,33.88,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JPPOWER,EQ,13-May-2022,6.2,6.2,6.5,6.1,6.5,6.45,6.35,50231616,36292,22251517,44.3,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JSL,EQ,13-May-2022,142.95,146.4,153.3,143.15,145.5,145.45,148.82,1573226,22531,606775,38.57,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JSLHISAR,EQ,13-May-2022,269.75,274.9,292.95,273.55,285.5,284.6,284.59,356779,11847,142064,39.82,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JSWHL,EQ,13-May-2022,3506.25,3558.75,3597.85,3390.0,3390.0,3446.65,3506.67,663,216,429,64.71,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JSWSTEEL,EQ,13-May-2022,624.8,634.05,637.0,594.15,597.55,600.45,618.05,5567335,88418,1824212,32.77,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JTEKTINDIA,EQ,13-May-2022,69.2,69.2,73.8,68.5,73.4,73.05,71.4,107955,1722,70385,65.2,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JUBLFOOD,EQ,13-May-2022,468.85,477.7,490.1,472.5,474.5,475.3,482.61,2322936,52741,712758,30.68,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JUBLINGREA,EQ,13-May-2022,421.45,430.0,454.75,428.05,438.0,432.95,440.93,382560,12467,141762,37.06,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JUBLPHARMA,EQ,13-May-2022,400.4,402.5,414.6,395.0,399.8,398.6,406.29,85620,6055,32306,37.73,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JUSTDIAL,EQ,13-May-2022,658.4,673.0,683.55,660.0,677.0,674.3,674.39,498046,16577,57866,11.62,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,JYOTHYLAB,EQ,13-May-2022,145.2,145.1,150.0,144.55,145.8,146.8,147.21,237377,8486,49146,20.7,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KAJARIACER,EQ,13-May-2022,945.25,950.2,975.0,941.4,970.0,970.25,959.17,56341,5662,20519,36.42,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KALPATPOWR,EQ,13-May-2022,342.1,343.15,352.0,343.15,345.8,348.2,347.8,126063,4649,45014,35.71,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KALYANKJIL,EQ,13-May-2022,61.85,62.95,63.4,58.85,62.55,61.7,61.37,2245479,13298,846263,37.69,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KANSAINER,EQ,13-May-2022,398.05,398.05,409.3,396.25,398.9,398.1,399.4,114021,8175,53097,46.57,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KARURVYSYA,EQ,13-May-2022,42.4,43.75,44.1,41.9,42.25,42.25,43.25,2854173,12852,1236194,43.31,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KEC,EQ,13-May-2022,349.1,351.0,367.95,351.0,364.6,365.7,361.83,132008,9820,79261,60.04,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KEI,EQ,13-May-2022,1053.6,1083.05,1169.8,1073.55,1130.0,1149.55,1124.88,286397,24355,100800,35.2,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KIOCL,EQ,13-May-2022,194.3,200.95,208.0,198.0,202.55,203.55,204.38,50987,1793,23619,46.32,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KIRIINDUS,EQ,13-May-2022,425.55,434.9,445.9,426.35,442.5,442.55,439.7,106529,4891,41900,39.33,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KIRLOSENG,EQ,13-May-2022,135.1,135.15,140.6,135.15,138.5,138.45,138.4,223727,4604,163236,72.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KIRLOSIND,EQ,13-May-2022,1343.3,1315.0,1355.2,1302.5,1304.0,1307.3,1320.16,3570,616,2534,70.98,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KNRCON,EQ,13-May-2022,234.5,236.05,243.4,225.8,231.1,230.1,233.97,426770,10327,260446,61.03,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KOLTEPATIL,EQ,13-May-2022,222.35,226.8,231.6,220.4,225.0,222.9,226.95,186382,4711,66473,35.66,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KOTAKBANK,EQ,13-May-2022,1760.9,1785.0,1795.0,1756.0,1777.0,1779.55,1778.76,2737022,144948,1671279,61.06,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KPITTECH,EQ,13-May-2022,480.05,495.0,509.5,484.75,499.0,496.65,498.93,1171080,42348,539508,46.07,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KPRMILL,EQ,13-May-2022,580.75,585.0,593.95,558.05,568.0,568.1,568.0,463876,24992,204392,44.06,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KRBL,EQ,13-May-2022,235.05,233.6,240.4,222.2,231.0,230.8,230.46,2438265,41482,302118,12.39,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KSB,EQ,13-May-2022,1227.15,1232.95,1375.0,1230.0,1287.0,1268.0,1279.37,45784,8003,17413,38.03,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KSCL,EQ,13-May-2022,527.9,530.0,558.75,530.0,542.05,537.9,536.94,97147,3762,51577,53.09,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KSL,EQ,13-May-2022,297.7,302.0,308.0,296.95,299.0,299.05,302.51,44427,1702,22694,51.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,KTKBANK,EQ,13-May-2022,59.8,60.25,60.95,59.25,60.1,59.9,60.04,1747584,5356,878852,50.29,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,L&TFH,EQ,13-May-2022,75.45,77.1,78.15,74.7,74.95,75.05,76.8,8353983,28314,1215773,14.55,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,LALPATHLAB,EQ,13-May-2022,2300.9,2355.0,2355.4,2270.1,2295.0,2285.25,2317.43,137934,15538,44314,32.13,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,LAOPALA,EQ,13-May-2022,275.2,276.85,285.95,271.8,272.0,274.25,277.89,321185,11766,184229,57.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,LAURUSLABS,EQ,13-May-2022,535.75,537.0,552.0,532.65,537.05,538.35,542.29,1011181,26020,418055,41.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,LAXMIMACH,EQ,13-May-2022,8406.8,8566.55,8685.0,8224.1,8421.25,8327.45,8468.3,11207,3033,4359,38.9,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,LEMONTREE,EQ,13-May-2022,58.65,59.0,61.4,59.0,60.25,60.45,60.5,3321495,22308,949600,28.59,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,LICHSGFIN,EQ,13-May-2022,331.9,336.9,342.9,329.55,330.8,330.8,337.76,2659692,44324,795562,29.91,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,LINDEINDIA,EQ,13-May-2022,3219.3,3253.05,3327.2,3144.75,3195.0,3166.85,3237.14,62171,12254,27464,44.17,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,LT,EQ,13-May-2022,1526.15,1530.0,1574.9,1502.0,1536.5,1534.5,1547.2,4328846,185408,2235594,51.64,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,LTI,EQ,13-May-2022,4160.95,4225.0,4277.75,4088.15,4099.0,4110.7,4172.24,574894,56748,226121,39.33,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,LTTS,EQ,13-May-2022,3588.1,3668.0,3668.0,3469.15,3470.0,3502.7,3580.51,240723,31221,82748,34.37,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,LUMAXIND,EQ,13-May-2022,873.8,878.2,885.35,865.0,872.0,871.5,876.75,3859,565,2546,65.98,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,LUPIN,EQ,13-May-2022,694.15,700.0,708.2,691.0,692.8,696.35,700.53,894546,41074,359667,40.21,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,LUXIND,EQ,13-May-2022,2020.3,2029.0,2082.35,2029.0,2054.0,2050.9,2058.02,29919,4816,11646,38.93,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,LXCHEM,EQ,13-May-2022,342.0,350.0,361.7,334.3,346.0,344.75,352.5,721489,25067,234514,32.5,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,M&M,EQ,13-May-2022,865.25,879.8,905.0,870.1,891.5,889.5,892.95,4956950,93681,3342114,67.42,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,M&MFIN,EQ,13-May-2022,163.65,166.2,170.5,165.05,165.8,166.1,168.18,4827037,24250,1877388,38.89,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MAHABANK,EQ,13-May-2022,15.5,15.8,16.2,15.5,15.75,15.7,15.85,2631592,5051,1159599,44.06,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MAHINDCIE,EQ,13-May-2022,195.45,198.0,198.35,188.1,189.0,189.6,193.55,409327,6974,125242,30.6,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MAHLIFE,EQ,13-May-2022,316.2,318.5,351.85,318.5,343.5,343.5,343.66,524715,29269,195760,37.31,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MAHLOG,EQ,13-May-2022,454.65,470.0,480.0,451.15,456.1,459.7,466.9,48375,4934,17476,36.13,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MAHSCOOTER,EQ,13-May-2022,3468.8,3499.9,3499.9,3369.15,3410.0,3391.15,3440.19,3903,1481,2706,69.33,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MAHSEAMLES,EQ,13-May-2022,547.5,544.0,567.95,536.55,554.0,554.75,555.13,86051,6154,35502,41.26,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MAITHANALL,EQ,13-May-2022,1019.95,1030.0,1059.4,1021.75,1029.0,1028.25,1041.18,66251,7983,20580,31.06,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MANAPPURAM,EQ,13-May-2022,100.7,103.5,103.7,98.4,98.75,99.05,101.05,5266455,33022,1826855,34.69,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MARICO,EQ,13-May-2022,500.15,505.0,513.0,497.25,499.5,500.05,507.22,1648726,28995,521751,31.65,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MARKSANS,EQ,13-May-2022,45.5,44.8,47.5,44.8,46.2,45.7,46.28,756733,5453,381664,50.44,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MARUTI,EQ,13-May-2022,7253.65,7340.0,7340.0,7062.35,7125.0,7101.95,7225.46,703097,102940,280955,39.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MASFIN,EQ,13-May-2022,546.2,569.95,579.55,557.15,566.85,564.05,566.7,57660,3904,23829,41.33,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MASTEK,EQ,13-May-2022,2452.95,2497.65,2537.95,2399.0,2400.0,2406.9,2432.05,91139,12902,30839,33.84,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MATRIMONY,EQ,13-May-2022,670.7,750.0,792.25,711.35,773.25,766.25,769.18,901060,53082,141744,15.73,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MAXHEALTH,EQ,13-May-2022,353.85,354.5,367.0,354.5,366.0,364.6,363.0,814850,32078,521846,64.04,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MAYURUNIQ,EQ,13-May-2022,349.1,341.1,353.8,330.05,333.0,336.55,343.18,177557,12680,71509,40.27,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MAZDOCK,EQ,13-May-2022,263.8,267.5,276.65,260.2,262.45,263.8,268.98,404839,10072,121166,29.93,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MCDOWELL-N,EQ,13-May-2022,791.7,803.6,845.95,800.25,821.4,822.55,831.8,2148295,108000,830686,38.67,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,METROPOLIS,EQ,13-May-2022,2038.75,2043.0,2148.7,1998.65,2000.4,2016.25,2064.8,67372,7633,15144,22.48,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MFSL,EQ,13-May-2022,709.15,712.45,739.8,712.35,716.5,715.95,725.93,372416,29162,151299,40.63,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MGL,EQ,13-May-2022,748.15,755.3,766.35,737.3,738.15,740.5,754.74,569239,23545,142245,24.99,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MHRIL,EQ,13-May-2022,216.25,220.95,236.3,220.95,231.25,233.25,229.87,531486,17060,194895,36.67,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MIDHANI,EQ,13-May-2022,164.9,166.2,171.95,164.9,166.3,166.35,167.67,280078,6370,92197,32.92,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MINDACORP,EQ,13-May-2022,197.4,202.95,206.4,196.7,197.35,197.8,201.32,958413,32059,377888,39.43,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MINDAIND,EQ,13-May-2022,823.35,829.8,856.0,825.2,838.0,835.9,842.79,206481,18914,90156,43.66,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MINDTREE,EQ,13-May-2022,2954.95,2989.0,3058.0,2925.3,2932.0,2938.95,2989.59,757233,55375,190090,25.1,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MMFL,EQ,13-May-2022,804.8,816.9,824.4,800.0,806.0,807.55,811.89,17442,2639,8994,51.57,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MMTC,EQ,13-May-2022,38.6,38.85,39.9,38.45,38.6,38.6,39.04,2220492,7324,683428,30.78,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MOIL,EQ,13-May-2022,160.25,160.55,162.25,154.0,154.85,154.9,156.98,604569,18404,310792,51.41,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MOREPENLAB,EQ,13-May-2022,38.15,38.75,40.15,38.75,39.35,39.2,39.41,1248784,8041,427272,34.22,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MOTHERSUMI,EQ,13-May-2022,114.8,116.7,120.95,116.45,118.0,117.25,118.68,7454772,45993,1610305,21.6,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MOTILALOFS,EQ,13-May-2022,804.15,814.0,829.95,807.95,808.2,819.85,821.72,82937,6469,33587,40.5,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MPHASIS,EQ,13-May-2022,2512.65,2555.0,2579.9,2430.0,2448.0,2443.7,2496.34,417695,35198,147284,35.26,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MRF,EQ,13-May-2022,67622.05,67690.0,73280.6,67690.0,71782.0,72050.9,71617.74,28470,16090,4658,16.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MRPL,EQ,13-May-2022,66.85,69.45,71.85,67.25,67.7,67.75,69.03,12310226,43550,3215069,26.12,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MSTCLTD,EQ,13-May-2022,289.15,294.4,297.0,284.5,285.8,286.4,291.86,232221,6520,84009,36.18,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MTARTECH,EQ,13-May-2022,1375.35,1403.0,1425.0,1353.95,1362.0,1364.35,1398.66,72689,9282,25072,34.49,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MTNL,EQ,13-May-2022,21.5,21.85,22.7,21.5,21.7,21.6,22.1,1154160,3255,449209,38.92,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,MUTHOOTFIN,EQ,13-May-2022,1110.9,1130.0,1142.2,1110.0,1112.0,1119.4,1129.74,388637,21601,164349,42.29,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NAM-INDIA,EQ,13-May-2022,280.05,285.0,288.75,274.1,275.8,275.25,283.08,541076,8948,104664,19.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NATCOPHARM,EQ,13-May-2022,677.9,681.5,695.2,677.9,685.0,683.5,686.07,181235,6707,109924,60.65,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NATIONALUM,EQ,13-May-2022,88.85,90.9,91.45,88.5,89.5,89.25,89.7,20367885,50863,6449596,31.67,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NAUKRI,EQ,13-May-2022,3539.5,3600.0,3645.4,3444.1,3453.95,3465.5,3542.59,600628,67713,241960,40.28,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NAVINFLUOR,EQ,13-May-2022,3887.95,3930.0,4039.0,3910.0,3910.0,3920.05,3981.11,173653,16206,39328,22.65,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NAVNETEDUL,EQ,13-May-2022,89.15,90.05,92.0,89.0,89.1,89.1,90.37,140734,3041,87473,62.15,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NAZARA,EQ,13-May-2022,1098.15,1135.0,1290.0,1135.0,1253.95,1238.3,1220.92,875386,53871,150157,17.15,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NBCC,EQ,13-May-2022,32.0,32.9,33.6,32.5,32.55,32.6,33.06,3671851,9481,916379,24.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NBVENTURES,EQ,13-May-2022,136.95,139.05,145.0,134.45,136.6,136.0,140.5,589523,11947,184078,31.22,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NCC,EQ,13-May-2022,62.35,63.4,64.7,61.4,62.35,62.05,63.5,3414159,18128,1247116,36.53,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NEOGEN,EQ,13-May-2022,1490.4,1490.95,1493.05,1366.15,1401.0,1404.0,1401.99,102484,18661,41569,40.56,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NESCO,EQ,13-May-2022,540.85,540.85,560.95,530.0,538.0,534.65,543.98,28441,2899,17265,60.7,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NETWORK18,EQ,13-May-2022,72.75,74.0,79.0,74.0,77.0,76.65,76.56,2565801,22810,1103768,43.02,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NEWGEN,EQ,13-May-2022,408.9,426.85,426.85,393.05,397.0,396.15,400.01,168759,21214,89873,53.26,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NFL,EQ,13-May-2022,45.75,46.5,47.4,44.8,45.15,45.2,46.14,1933618,9523,692203,35.8,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NH,EQ,13-May-2022,657.25,660.55,684.0,657.0,667.75,676.3,667.74,94988,9644,56194,59.16,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NHPC,EQ,13-May-2022,31.3,31.95,32.45,30.9,31.2,31.15,31.85,7446075,16188,3216185,43.19,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NIACL,EQ,13-May-2022,102.45,103.85,105.3,103.25,104.55,104.0,104.23,188689,8293,69320,36.74,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NIITLTD,EQ,13-May-2022,435.1,440.25,462.4,431.2,447.0,438.25,448.04,416507,20827,211929,50.88,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NILKAMAL,EQ,13-May-2022,1900.85,1895.05,1946.95,1870.85,1880.0,1889.45,1904.55,1691,511,737,43.58,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NLCINDIA,EQ,13-May-2022,70.3,72.0,73.8,71.25,71.6,71.75,72.37,7285946,27352,1959185,26.89,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NMDC,EQ,13-May-2022,137.6,140.5,141.5,135.35,136.25,136.1,138.61,6134994,43593,2307563,37.61,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NOCIL,EQ,13-May-2022,226.4,231.0,233.55,225.5,228.0,228.4,229.72,492878,10985,160152,32.49,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NTPC,EQ,13-May-2022,148.55,150.0,150.0,143.5,144.5,144.15,145.62,22913410,141630,12625635,55.1,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,NUCLEUS,EQ,13-May-2022,386.75,388.7,396.0,385.05,390.95,388.6,390.42,12900,1134,6679,51.78,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,OAL,EQ,13-May-2022,508.35,524.7,539.15,500.7,532.0,532.75,522.59,45725,3049,26870,58.76,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,OBEROIRLTY,EQ,13-May-2022,824.85,832.0,865.95,810.1,817.0,821.95,828.15,988511,20322,423080,42.8,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,OFSS,EQ,13-May-2022,3500.1,3394.7,3395.0,3220.0,3240.0,3230.7,3269.82,259290,30804,104073,40.14,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,OIL,EQ,13-May-2022,223.1,226.5,226.5,218.85,221.0,220.45,223.13,1004800,23346,379377,37.76,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,OMAXE,EQ,13-May-2022,85.15,85.55,91.5,85.55,85.7,86.5,88.28,422416,21418,50472,11.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ONGC,EQ,13-May-2022,156.5,160.0,160.3,152.95,154.05,153.55,155.97,12934346,98681,5302577,41.0,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ORIENTCEM,EQ,13-May-2022,117.9,120.0,123.9,118.0,119.2,119.1,120.18,783669,19647,317293,40.49,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ORIENTELEC,EQ,13-May-2022,308.9,301.35,308.6,296.1,298.0,299.95,300.21,576924,15527,430478,74.62,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ORISSAMINE,EQ,13-May-2022,2734.1,2751.0,2905.05,2751.0,2888.0,2860.15,2851.38,17533,3673,7543,43.02,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PAGEIND,EQ,13-May-2022,40915.0,41570.0,42989.9,41388.6,41648.85,41787.6,42335.74,25039,12886,10913,43.58,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PAISALO,EQ,13-May-2022,752.6,752.6,810.0,752.0,795.0,793.55,787.49,164276,4285,64945,39.53,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PCJEWELLER,EQ,13-May-2022,19.2,19.45,21.35,19.25,20.05,20.3,20.45,1372168,3917,639703,46.62,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PEL,EQ,13-May-2022,1815.1,1849.0,1872.55,1805.05,1810.3,1811.4,1839.59,538541,61150,225033,41.79,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PERSISTENT,EQ,13-May-2022,3701.0,3725.0,3845.0,3567.25,3601.0,3594.25,3646.91,321784,48861,130527,40.56,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PETRONET,EQ,13-May-2022,209.8,212.05,212.2,203.3,205.0,205.7,209.51,2749152,20818,1702984,61.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PFC,EQ,13-May-2022,106.4,107.45,108.3,105.0,105.3,105.3,106.39,3894396,21706,2025925,52.02,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PFIZER,EQ,13-May-2022,4210.15,4280.0,4280.0,4200.0,4255.0,4251.95,4249.0,19110,2949,8286,43.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PGHH,EQ,13-May-2022,13415.2,13427.0,13583.9,13307.85,13325.0,13351.4,13462.26,3092,1130,1880,60.8,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PGHL,EQ,13-May-2022,4300.0,4290.0,4460.0,4280.05,4385.05,4407.5,4362.17,6776,1888,4039,59.61,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PHOENIXLTD,EQ,13-May-2022,1033.05,1061.95,1074.9,1007.15,1027.1,1019.95,1018.17,361413,25094,290138,80.28,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PIDILITIND,EQ,13-May-2022,2115.0,2130.0,2171.0,2112.0,2117.0,2121.75,2143.2,329176,36521,126474,38.42,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PIIND,EQ,13-May-2022,2410.7,2440.0,2473.95,2368.05,2380.5,2382.0,2409.2,198669,22845,86347,43.46,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PILANIINVS,EQ,13-May-2022,1687.65,1734.0,1747.1,1685.0,1685.0,1696.25,1721.78,2011,634,611,30.38,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PNB,EQ,13-May-2022,28.6,29.45,30.0,28.95,29.45,29.3,29.47,63258378,94315,17235161,27.25,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PNCINFRA,EQ,13-May-2022,232.15,233.3,241.75,233.3,240.9,238.35,237.84,166888,12681,87628,52.51,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,POLYCAB,EQ,13-May-2022,2431.7,2465.9,2566.25,2446.05,2540.0,2540.7,2529.33,586359,44766,173027,29.51,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,POLYMED,EQ,13-May-2022,742.2,745.0,786.0,744.95,781.5,783.55,773.22,36609,4252,15165,41.42,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,POLYPLEX,EQ,13-May-2022,2257.0,2290.0,2397.0,2285.0,2330.0,2328.7,2354.02,352541,43860,137543,39.01,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,POWERGRID,EQ,13-May-2022,235.9,239.85,239.85,233.1,236.5,236.3,236.17,11305915,75743,6195650,54.8,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,POWERINDIA,EQ,13-May-2022,2862.3,2894.0,3077.85,2890.0,3007.0,3030.6,3024.82,77970,12426,22923,29.4,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PRAKASH,EQ,13-May-2022,61.8,63.4,66.6,62.3,63.95,63.65,64.0,544657,4818,180975,33.23,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PRESTIGE,EQ,13-May-2022,431.8,433.05,448.5,430.4,442.6,440.55,438.94,838285,23291,597197,71.24,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PRINCEPIPE,EQ,13-May-2022,627.8,640.0,654.0,625.2,631.85,630.15,642.64,177897,15878,83408,46.89,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PRIVISCL,EQ,13-May-2022,1148.8,1161.0,1263.65,1161.0,1263.65,1261.85,1241.61,84085,7560,47914,56.98,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PRSMJOHNSN,EQ,13-May-2022,111.45,111.1,117.0,108.05,114.6,114.55,113.3,442184,6535,181995,41.16,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PSB,EQ,13-May-2022,14.15,14.4,14.85,14.3,14.65,14.6,14.6,178704,842,108589,60.76,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PSPPROJECT,EQ,13-May-2022,468.5,470.0,488.5,470.0,474.0,475.45,481.3,69028,3134,26706,38.69,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PTC,EQ,13-May-2022,82.85,84.05,86.0,82.5,82.8,83.35,84.73,694811,11744,417591,60.1,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PURVA,EQ,13-May-2022,85.25,88.9,91.7,84.55,88.15,88.5,88.84,76360,1872,18217,23.86,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,PVR,EQ,13-May-2022,1755.65,1782.05,1809.0,1742.7,1747.75,1746.45,1772.49,759712,30169,205429,27.04,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,QUESS,EQ,13-May-2022,585.85,592.5,618.0,590.0,612.0,610.35,608.61,86074,6485,30266,35.16,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,QUICKHEAL,EQ,13-May-2022,171.6,172.5,182.95,172.1,175.6,176.6,177.96,157069,3513,54759,34.86,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RADICO,EQ,13-May-2022,739.8,754.5,790.9,745.25,758.7,760.6,769.98,239876,12108,73894,30.81,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RAILTEL,EQ,13-May-2022,92.85,94.0,97.4,93.3,96.25,95.8,95.74,579978,8151,147114,25.37,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RAIN,EQ,13-May-2022,146.65,150.0,154.25,147.05,147.1,148.05,150.78,1758562,16509,389107,22.13,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RAJESHEXPO,EQ,13-May-2022,593.45,596.45,598.4,585.0,588.0,588.55,589.92,40035,5826,12655,31.61,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RALLIS,EQ,13-May-2022,198.0,201.9,205.8,200.0,200.55,200.45,201.74,370460,7498,168552,45.5,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RAMCOCEM,EQ,13-May-2022,703.25,709.9,709.9,681.0,683.95,684.1,692.7,493443,15167,181674,36.82,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RAMCOIND,EQ,13-May-2022,187.7,188.7,197.45,188.7,195.0,191.45,192.4,35327,1208,20016,56.66,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RAMCOSYS,EQ,13-May-2022,242.05,242.75,253.95,242.75,249.0,248.45,249.14,75708,3391,27026,35.7,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RATNAMANI,EQ,13-May-2022,2240.1,2269.0,2422.0,2260.0,2373.0,2368.9,2322.43,24748,6040,11702,47.28,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RAYMOND,EQ,13-May-2022,745.3,754.0,782.0,753.25,776.8,772.45,769.66,473002,26279,183315,38.76,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RBLBANK,EQ,13-May-2022,101.7,106.2,114.95,106.2,111.45,110.85,111.33,49291011,147432,4010626,8.14,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RCF,EQ,13-May-2022,82.0,83.85,84.7,81.45,82.2,82.05,83.38,4074198,25620,884450,21.71,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RECLTD,EQ,13-May-2022,115.9,117.05,118.3,113.5,114.0,114.0,115.81,6032969,28957,3517003,58.3,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,REDINGTON,EQ,13-May-2022,132.75,134.7,138.3,132.25,134.0,133.8,135.63,4240350,34715,1511214,35.64,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RELAXO,EQ,13-May-2022,1018.75,1020.2,1035.0,960.0,1015.0,1018.3,1017.38,147898,14589,30788,20.82,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RELIANCE,EQ,13-May-2022,2399.4,2426.0,2478.0,2415.35,2431.45,2426.6,2451.67,8910998,408746,4652716,52.21,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RELIGARE,EQ,13-May-2022,106.55,108.5,113.5,106.3,112.5,112.2,110.97,908942,6651,516560,56.83,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,REPCOHOME,EQ,13-May-2022,157.8,164.0,164.0,154.0,154.2,154.8,157.79,104209,3144,59758,57.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RESPONIND,EQ,13-May-2022,127.4,130.8,139.6,123.65,137.25,136.35,134.02,201221,5284,15232,7.57,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RITES,EQ,13-May-2022,246.55,247.35,250.35,244.4,246.2,246.05,247.13,108482,7010,64337,59.31,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RKFORGE,EQ,13-May-2022,152.85,158.65,162.8,155.65,159.95,158.2,159.79,290210,8561,127495,43.93,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ROSSARI,EQ,13-May-2022,880.3,881.0,884.05,867.0,869.55,874.25,874.09,28740,5130,9308,32.39,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ROUTE,EQ,13-May-2022,1371.85,1410.0,1439.5,1392.5,1410.05,1404.2,1414.32,83435,8741,23156,27.75,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RSYSTEMS,EQ,13-May-2022,210.45,219.0,224.0,210.0,216.0,217.95,219.25,79960,4914,29180,36.49,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RUCHI,EQ,13-May-2022,937.2,980.55,1021.55,961.1,989.65,978.85,989.52,6102067,196214,1078080,17.67,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RUPA,EQ,13-May-2022,481.2,484.9,503.95,464.35,468.0,470.85,487.34,553759,13788,166066,29.99,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,RVNL,EQ,13-May-2022,30.45,30.85,31.35,30.75,31.25,31.0,31.06,1511968,10237,607595,40.19,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SAFARI,EQ,13-May-2022,906.75,932.0,960.0,880.0,889.0,898.0,906.87,50892,3227,23273,45.73,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SAGCEM,EQ,13-May-2022,203.0,210.8,223.5,207.1,213.5,214.45,210.66,54868,2282,32442,59.13,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SAIL,EQ,13-May-2022,80.7,82.7,83.8,79.2,79.45,79.65,81.34,32364015,115390,8578607,26.51,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SANDHAR,EQ,13-May-2022,224.55,225.25,234.8,225.2,225.65,227.5,229.31,19309,1160,9804,50.77,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SANOFI,EQ,13-May-2022,6533.25,6633.25,6798.0,6500.0,6771.0,6754.7,6657.49,22317,6329,9732,43.61,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SASKEN,EQ,13-May-2022,745.85,749.6,785.9,739.55,746.0,747.6,761.55,15802,2041,5833,36.91,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SBICARD,EQ,13-May-2022,736.25,749.0,755.55,710.8,718.65,715.7,736.36,1613193,59580,931636,57.75,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SBILIFE,EQ,13-May-2022,1060.6,1075.0,1079.0,1038.55,1041.55,1044.95,1057.06,1108831,57704,533492,48.11,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SBIN,EQ,13-May-2022,462.65,469.45,477.0,439.75,440.5,444.65,461.88,61403008,595336,21063112,34.3,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SCHAEFFLER,EQ,13-May-2022,1979.9,2010.6,2058.45,1970.45,2005.0,1984.35,1992.07,149438,25795,107707,72.07,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SCHNEIDER,EQ,13-May-2022,114.2,116.0,118.45,112.05,113.75,113.55,115.88,464033,7349,125290,27.0,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SCI,EQ,13-May-2022,110.6,112.55,115.65,111.9,113.0,112.7,113.8,984221,7794,333863,33.92,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SEQUENT,EQ,13-May-2022,112.4,114.6,118.0,110.5,111.25,112.0,114.0,914835,16997,386993,42.3,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SFL,EQ,13-May-2022,3357.05,3230.1,3274.55,3082.9,3183.0,3174.8,3159.56,69190,14321,18330,26.49,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SHARDACROP,EQ,13-May-2022,587.0,610.0,645.7,605.5,645.7,645.7,633.25,270670,15432,142618,52.69,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SHILPAMED,EQ,13-May-2022,392.1,398.95,401.95,385.0,385.1,386.1,392.39,42786,1875,20339,47.54,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SHK,EQ,13-May-2022,129.25,132.9,134.7,128.4,129.5,130.2,131.52,227991,2887,128494,56.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SHOPERSTOP,EQ,13-May-2022,441.65,459.0,476.0,446.0,470.0,470.35,468.86,331411,14190,108971,32.88,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SHREECEM,EQ,13-May-2022,22627.4,23000.0,23080.05,22400.0,22480.0,22565.35,22712.9,44842,13732,18815,41.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SHRIRAMCIT,EQ,13-May-2022,1642.6,1683.0,1689.65,1615.0,1615.0,1650.4,1647.8,15913,3999,4046,25.43,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SIEMENS,EQ,13-May-2022,2275.9,2315.0,2346.2,2154.5,2293.05,2300.5,2282.52,1147133,68069,332335,28.97,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SIS,EQ,13-May-2022,477.35,476.0,483.6,463.7,469.75,470.25,480.94,205554,2106,184060,89.54,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SJVN,EQ,13-May-2022,27.25,27.4,27.55,27.2,27.25,27.35,27.41,2807496,7392,1365901,48.65,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SKFINDIA,EQ,13-May-2022,3103.45,3119.8,3292.65,3115.05,3169.0,3166.85,3184.24,51943,14383,22850,43.99,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SOBHA,EQ,13-May-2022,503.65,520.0,524.3,501.85,511.15,506.9,513.27,317478,14130,87888,27.68,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SOLARA,EQ,13-May-2022,448.6,454.45,462.0,435.0,435.0,443.6,455.2,78059,4302,44841,57.45,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SOLARINDS,EQ,13-May-2022,2781.1,2815.0,2819.0,2771.0,2780.0,2783.25,2792.14,24399,4373,15468,63.4,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SONATSOFTW,EQ,13-May-2022,661.9,675.8,678.0,646.0,659.05,654.75,655.22,139756,11642,65681,47.0,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SOTL,EQ,13-May-2022,1004.3,1013.2,1037.2,1003.05,1019.0,1012.0,1017.11,6687,952,3300,49.35,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SOUTHBANK,EQ,13-May-2022,7.65,8.3,8.55,7.85,7.85,7.9,8.13,14029932,12123,5727338,40.82,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SPANDANA,EQ,13-May-2022,385.7,391.5,408.05,388.1,392.0,391.15,398.17,99231,7778,26765,26.97,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SPARC,EQ,13-May-2022,203.95,205.45,216.95,205.45,209.5,210.05,211.88,335482,6566,126339,37.66,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SRF,EQ,13-May-2022,2194.35,2228.0,2294.75,2217.5,2230.8,2231.6,2264.31,1293512,83310,386557,29.88,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SRTRANSFIN,EQ,13-May-2022,1064.75,1082.0,1094.9,1047.6,1047.6,1061.6,1072.99,1696481,54960,671404,39.58,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,STAR,EQ,13-May-2022,266.4,284.0,284.0,270.15,279.75,280.2,276.84,1037173,17333,277205,26.73,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,STARCEMENT,EQ,13-May-2022,82.6,83.45,85.5,82.7,84.2,84.35,84.35,38282,1014,22458,58.66,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,STLTECH,EQ,13-May-2022,156.2,157.0,159.9,153.5,154.5,154.85,157.43,880210,19976,335054,38.07,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,STOVEKRAFT,EQ,13-May-2022,553.7,555.0,579.4,555.0,573.1,574.65,570.79,38531,2812,16651,43.21,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SUBEXLTD,EQ,13-May-2022,28.65,29.1,31.5,29.1,30.4,30.35,30.54,4291734,15964,1389514,32.38,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SUBROS,EQ,13-May-2022,300.25,304.0,311.5,300.0,301.55,302.9,307.02,10068,574,4370,43.4,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SUDARSCHEM,EQ,13-May-2022,446.2,448.0,452.45,430.3,430.3,436.9,442.17,131848,10714,69776,52.92,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SUMICHEM,EQ,13-May-2022,412.4,420.2,425.95,412.05,413.0,414.85,419.06,222834,14178,106886,47.97,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SUNCLAYLTD,EQ,13-May-2022,3604.5,3596.45,3680.95,3520.2,3520.2,3574.8,3618.52,1230,337,765,62.2,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SUNDARMFIN,EQ,13-May-2022,1827.05,1864.0,1864.0,1799.0,1800.0,1801.65,1815.2,11195,2293,5965,53.28,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SUNDRMFAST,EQ,13-May-2022,702.95,702.95,720.55,689.0,705.1,705.25,701.79,49415,4780,26709,54.05,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SUNPHARMA,EQ,13-May-2022,850.0,862.95,889.0,860.15,881.95,882.5,880.38,4870689,162828,2736798,56.19,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SUNTECK,EQ,13-May-2022,400.95,403.0,409.8,382.55,385.0,389.3,397.36,709805,31857,142166,20.03,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SUNTV,EQ,13-May-2022,413.65,417.15,424.3,408.65,410.0,409.95,417.67,424502,10148,131407,30.96,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SUPRAJIT,EQ,13-May-2022,306.8,311.4,322.3,305.5,309.95,308.05,315.37,188779,9717,72831,38.58,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SUPREMEIND,EQ,13-May-2022,1848.5,1858.2,1890.0,1846.0,1880.0,1874.8,1872.44,52909,6576,37165,70.24,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SURYAROSNI,EQ,13-May-2022,358.95,363.0,376.45,363.0,368.25,368.15,370.62,72448,4780,27099,37.4,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SURYODAY,EQ,13-May-2022,122.75,125.95,131.9,119.0,121.0,121.65,125.99,196694,5445,66317,33.72,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SUVENPHAR,EQ,13-May-2022,516.0,521.0,538.05,515.0,520.25,521.6,525.95,163164,10981,92928,56.95,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SUVIDHAA,EQ,13-May-2022,6.2,6.45,6.8,6.2,6.8,6.8,6.64,220348,607,124877,56.67,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SUZLON,EQ,13-May-2022,8.6,8.75,9.2,8.7,8.8,8.8,8.9,36198974,27843,11327678,31.29,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SWANENERGY,EQ,13-May-2022,266.35,267.5,277.0,266.0,267.5,267.65,271.16,94846,4213,39822,41.99,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SWARAJENG,EQ,13-May-2022,1480.3,1481.3,1509.95,1469.9,1490.0,1482.7,1492.47,4484,736,2591,57.78,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SWSOLAR,EQ,13-May-2022,321.55,326.0,334.55,320.9,327.0,324.55,328.55,264235,7293,103251,39.08,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SYMPHONY,EQ,13-May-2022,1004.3,1025.0,1065.0,1016.0,1042.25,1054.95,1043.09,60561,6450,27696,45.73,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,SYNGENE,EQ,13-May-2022,538.9,554.45,554.45,523.3,528.15,526.65,536.66,251330,7531,129421,51.49,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TASTYBITE,EQ,13-May-2022,9965.35,10065.0,10145.0,9951.1,9960.75,9979.45,10050.15,1086,375,688,63.35,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TATACHEM,EQ,13-May-2022,935.4,946.0,958.0,914.25,919.95,919.25,941.32,1473361,40473,354510,24.06,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TATACOFFEE,EQ,13-May-2022,199.25,202.35,204.55,198.0,198.85,199.05,201.7,1067810,16248,331525,31.05,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TATACOMM,EQ,13-May-2022,974.1,990.0,994.0,953.15,956.15,964.8,972.95,602775,27653,195432,32.42,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TATACONSUM,EQ,13-May-2022,738.05,747.0,761.25,735.05,735.65,737.6,749.39,1481400,49063,579320,39.11,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TATAELXSI,EQ,13-May-2022,6884.5,7180.0,8000.0,7119.2,7898.8,7886.65,7640.52,2734940,338592,496693,18.16,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TATAINVEST,EQ,13-May-2022,1370.0,1410.0,1447.2,1400.05,1406.0,1406.35,1416.47,18399,3539,8423,45.78,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TATAMETALI,EQ,13-May-2022,705.8,714.0,727.4,702.0,713.0,708.5,716.24,55973,4471,17293,30.9,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TATAMOTORS,EQ,13-May-2022,372.3,387.0,419.35,387.0,404.0,404.3,404.94,71425747,582853,8757806,12.26,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TATAPOWER,EQ,13-May-2022,219.05,225.0,229.2,221.3,223.2,222.8,225.41,33108597,216680,9211757,27.82,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TATASTEEL,EQ,13-May-2022,1117.7,1135.0,1151.8,1092.0,1094.85,1097.0,1121.87,8292441,216773,2348010,28.32,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TCI,EQ,13-May-2022,634.6,645.0,664.55,636.1,660.6,661.5,649.98,91103,13995,34905,38.31,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TCIEXP,EQ,13-May-2022,1524.0,1540.0,1575.6,1503.5,1510.1,1520.65,1545.94,32267,8561,12373,38.35,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TCNSBRANDS,EQ,13-May-2022,689.45,705.0,710.5,666.2,703.0,688.6,689.11,75558,10789,45851,60.68,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TCS,EQ,13-May-2022,3408.65,3435.0,3439.9,3382.15,3409.0,3414.9,3409.83,2187823,148468,1326058,60.61,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TEAMLEASE,EQ,13-May-2022,3445.2,3475.0,3503.95,3412.7,3460.0,3452.7,3448.94,7867,3462,3333,42.37,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TECHM,EQ,13-May-2022,1212.8,1228.0,1234.55,1195.0,1201.0,1202.85,1216.21,1892084,81717,842269,44.52,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TECHNOE,EQ,13-May-2022,255.35,265.0,271.45,251.25,267.0,266.65,266.04,111897,3838,52953,47.32,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,THERMAX,EQ,13-May-2022,1888.35,1899.0,1989.95,1899.0,1918.95,1918.85,1942.35,35768,7048,9016,25.21,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,THOMASCOOK,EQ,13-May-2022,62.1,62.05,66.35,62.05,65.2,65.0,64.99,503449,4556,157902,31.36,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,THYROCARE,EQ,13-May-2022,737.7,739.0,749.6,732.65,736.6,734.15,739.44,20589,2507,8772,42.61,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TIDEWATER,EQ,13-May-2022,1011.2,1043.15,1043.15,1017.05,1030.75,1027.25,1030.46,12372,2167,6218,50.26,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TIINDIA,EQ,13-May-2022,1635.0,1606.35,1755.0,1606.35,1740.0,1725.0,1668.38,188868,9543,131862,69.82,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TIMETECHNO,EQ,13-May-2022,89.55,92.0,95.3,89.5,90.2,90.55,92.83,1875634,22918,673853,35.93,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TIMKEN,EQ,13-May-2022,1795.4,1804.4,1925.1,1804.4,1820.15,1867.5,1878.28,84599,17374,37503,44.33,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TINPLATE,EQ,13-May-2022,334.3,341.0,348.95,337.0,340.5,339.2,342.84,383830,15574,112750,29.37,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TITAN,EQ,13-May-2022,2048.55,2056.15,2154.0,2056.15,2096.15,2091.7,2113.06,2580348,164874,1249623,48.43,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TORNTPHARM,EQ,13-May-2022,2504.4,2524.05,2630.0,2512.6,2582.35,2582.6,2595.7,229109,28617,103751,45.28,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TORNTPOWER,EQ,13-May-2022,438.85,447.0,449.2,428.0,430.0,431.65,440.07,425307,12589,82697,19.44,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TRENT,EQ,13-May-2022,1010.85,1034.7,1054.5,1018.55,1033.0,1032.0,1039.76,467140,28774,194059,41.54,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TRITURBINE,EQ,13-May-2022,179.15,184.6,184.6,172.5,174.5,173.65,175.9,515960,21058,215474,41.76,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TRIVENI,EQ,13-May-2022,257.45,260.0,274.75,258.05,266.5,264.6,267.73,1346416,43451,469796,34.89,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TTKPRESTIG,EQ,13-May-2022,771.25,787.75,812.0,776.55,803.0,801.8,795.74,94362,7283,24533,26.0,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TV18BRDCST,EQ,13-May-2022,41.8,42.75,43.3,40.1,40.55,40.4,41.97,18451995,44876,6062123,32.85,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TVSMOTOR,EQ,13-May-2022,602.25,610.0,641.5,606.1,632.85,634.65,629.54,2489259,52543,996552,40.03,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TVSSRICHAK,EQ,13-May-2022,1545.1,1552.85,1595.0,1530.0,1540.0,1547.8,1564.56,2813,669,1747,62.1,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,TVTODAY,EQ,13-May-2022,319.25,310.0,310.05,276.6,277.15,279.0,285.18,761878,20665,258281,33.9,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,UBL,EQ,13-May-2022,1456.3,1458.0,1516.0,1419.05,1428.9,1427.65,1467.35,370150,14561,139217,37.61,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,UCOBANK,EQ,13-May-2022,11.05,11.3,11.8,11.2,11.7,11.55,11.48,2904212,3445,1158896,39.9,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,UFLEX,EQ,13-May-2022,560.5,570.7,577.0,556.5,561.0,560.85,567.22,85140,6891,36031,42.32,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,UJJIVAN,EQ,13-May-2022,135.4,142.0,145.75,135.35,140.0,142.7,144.18,2094907,15620,1057371,50.47,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,UJJIVANSFB,EQ,13-May-2022,16.1,17.6,17.7,17.1,17.65,17.55,17.51,5553380,7387,2845613,51.24,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ULTRACEMCO,EQ,13-May-2022,6185.45,6268.4,6292.8,6142.8,6192.9,6196.55,6212.7,319217,48252,129552,40.58,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,UNICHEMLAB,EQ,13-May-2022,243.55,244.8,249.75,237.95,244.8,239.7,243.72,22527,1161,10899,48.38,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,UNIONBANK,EQ,13-May-2022,33.75,34.5,37.7,33.85,36.15,36.15,36.01,24779087,36092,5200627,20.99,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,UPL,EQ,13-May-2022,764.95,774.0,795.0,772.1,780.5,781.55,787.76,3062695,47487,1352383,44.16,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,UTIAMC,EQ,13-May-2022,715.5,715.5,729.65,691.0,700.65,699.1,713.66,149200,6462,84595,56.7,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,VAIBHAVGBL,EQ,13-May-2022,389.1,395.0,410.4,389.0,400.7,392.0,401.69,92621,6485,28860,31.16,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,VAKRANGEE,EQ,13-May-2022,31.45,31.7,32.6,31.4,31.75,31.75,31.92,2720994,7337,1233636,45.34,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,VARROC,EQ,13-May-2022,331.25,340.0,346.7,332.2,336.8,336.2,339.44,383226,19906,147287,38.43,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,VBL,EQ,13-May-2022,1064.25,1085.0,1111.0,1070.3,1090.0,1091.05,1091.6,1765287,28212,1398089,79.2,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,VEDL,EQ,13-May-2022,314.25,317.95,321.85,290.55,294.2,292.9,304.96,20305913,206127,7075801,34.85,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,VENKEYS,EQ,13-May-2022,1876.15,1891.1,1975.0,1891.1,1910.0,1920.65,1931.36,36513,6774,10406,28.5,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,VESUVIUS,EQ,13-May-2022,990.7,981.0,1012.0,962.35,971.2,969.95,992.1,5815,803,3233,55.6,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,VGUARD,EQ,13-May-2022,203.55,203.9,208.95,201.75,205.9,205.0,206.6,157028,7310,54247,34.55,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,VINATIORGA,EQ,13-May-2022,1790.95,1799.95,1837.95,1785.0,1796.0,1796.8,1809.65,20571,2990,10137,49.28,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,VIPIND,EQ,13-May-2022,602.4,602.0,620.0,593.2,601.0,602.5,609.88,143397,7603,38021,26.51,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,VMART,EQ,13-May-2022,2925.95,2998.9,3013.15,2878.8,2980.0,2971.3,2964.1,15263,4839,5108,33.47,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,VOLTAS,EQ,13-May-2022,949.4,965.45,965.45,928.35,931.9,931.4,948.29,2439176,62175,1353938,55.51,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,VRLLOG,EQ,13-May-2022,518.0,526.0,541.9,524.2,534.0,529.8,534.71,266210,19576,130449,49.0,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,VSTIND,EQ,13-May-2022,3133.05,3187.7,3187.7,3121.9,3167.95,3155.95,3146.32,3163,893,1835,58.01,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,VSTTILLERS,EQ,13-May-2022,2400.1,2409.95,2494.7,2399.4,2440.65,2466.55,2435.08,27477,3431,6781,24.68,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,VTL,EQ,13-May-2022,318.5,322.0,326.7,309.0,309.9,310.4,318.27,646801,21213,259068,40.05,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,WABAG,EQ,13-May-2022,236.55,247.5,249.8,237.25,240.0,239.9,240.83,129648,6254,58357,45.01,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,WELCORP,EQ,13-May-2022,167.45,172.0,180.9,171.0,178.0,178.1,177.83,983438,22384,432837,44.01,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,WELENT,EQ,13-May-2022,70.55,74.0,84.65,74.0,76.0,75.95,78.82,742724,12211,147157,19.81,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,WELSPUNIND,EQ,13-May-2022,66.05,68.4,68.55,64.7,67.75,67.4,66.65,4879534,38828,1278845,26.21,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,WHIRLPOOL,EQ,13-May-2022,1559.15,1562.0,1593.45,1551.2,1552.4,1554.65,1576.97,65292,4798,24029,36.8,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,WIPRO,EQ,13-May-2022,473.8,479.5,479.5,467.0,468.8,468.65,472.26,8387659,203118,3751197,44.72,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,WOCKPHARMA,EQ,13-May-2022,230.4,234.9,241.7,230.5,237.65,234.65,235.75,354458,9579,121280,34.22,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,WSTCSTPAPR,EQ,13-May-2022,305.2,315.0,320.6,306.0,310.0,308.85,313.12,196140,4998,85622,43.65,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,YESBANK,EQ,13-May-2022,12.55,12.7,12.85,12.45,12.5,12.45,12.63,69982971,70117,27030980,38.63,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ZEEL,EQ,13-May-2022,236.25,239.05,247.5,237.55,239.9,239.25,243.56,9029271,59153,1888308,20.91,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ZENSARTECH,EQ,13-May-2022,305.6,315.0,317.0,300.05,301.9,302.2,304.65,974429,37946,449376,46.12,NaN,NaN,NaN,NaN,NaN

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG,Intraday_volume
37,ZYDUSWELL,EQ,13-May-2022,1528.75,1569.0,1603.95,1540.3,1581.0,1583.35,1583.65,25772,6308,14921,57.9,NaN,NaN,NaN,NaN,NaN

In [9]:
# # Checking companys data are in their respitcive comapnys file

# for i in Company_list:

#     # Reading comapny csv file 
#     company_df = pd.read_csv(Comapny_file_path(i))

#     # Finding number of unique values in comapny's file Symbol this helps that an 
#     aa = len(set(list(company_df["SYMBOL"])))

#     if i != company_df.at[ 0, "SYMBOL"] or aa >=2: 
#         print(i, company_df.at[0,'SYMBOL'])

# Analyzing company file starts from here

In [10]:
def analyzer(df):

    df["DELIV_VALUE"] = ''
    df["5DDeVA"] = ''
    df['%Change_In_Price'] = ''
    df['%Change_In_Deliv_vs_AVG'] = ''
    df["DELIV_VALUE"]= (df['DELIV_QTY'] * df['AVG_PRICE']) / 10000000

    for i in range (5):
        df['5DDeVA'][i] = np.nan
        df['%Change_In_Price'][i] = np.nan
        df['%Change_In_Deliv_vs_AVG'][i] = np.nan
        df['Intraday_volume'] = np.nan

    for i in range (5, df.shape [0]):
        df.at[i,'5DDeVA'] = df["DELIV_VALUE"].iloc[i-5:i].mean()
        df.at[i,'%Change_In_Price'] = ((df.at[i,'CLOSE_PRICE']-df.at[i-1,'CLOSE_PRICE'])/df.at[i-1,'CLOSE_PRICE']) * 100
        df.at[i,'%Change_In_Deliv_vs_AVG'] = (df.at[i, 'DELIV_VALUE']/df.at[i, '5DDeVA']) * 100 
        df.at[i,'Intraday_volume'] = int(df.at[i,'TTL_TRD_QNTY']-df.at[i,"DELIV_QTY"])

    return df

In [11]:
for company in Company_list:

    df = pd.read_csv(Comapny_file_path(company))

    analyzer(df).to_csv(Analyzed_company_file_path(company), index=False)
    print(f'{company} file analyzed')

3MINDIA file analyzed
AARTIDRUGS file analyzed
AARTIIND file analyzed
AAVAS file analyzed
ABB file analyzed
ABCAPITAL file analyzed
ABFRL file analyzed
ACC file analyzed
ACCELYA file analyzed
ACE file analyzed
ADANIENT file analyzed
ADANIPORTS file analyzed
ADFFOODS file analyzed
ADVENZYMES file analyzed
AEGISCHEM file analyzed
AHLUCONT file analyzed
AIAENG file analyzed
AJANTPHARM file analyzed
AKZOINDIA file analyzed
ALEMBICLTD file analyzed
ALKEM file analyzed
ALKYLAMINE file analyzed
ALLCARGO file analyzed
ALOKINDS file analyzed
AMARAJABAT file analyzed
AMBER file analyzed
AMBUJACEM file analyzed
AMRUTANJAN file analyzed
ANURAS file analyzed
APARINDS file analyzed
APLAPOLLO file analyzed
APLLTD file analyzed
APOLLOHOSP file analyzed
APOLLOPIPE file analyzed
APOLLOTYRE file analyzed
ARVIND file analyzed
ARVINDFASN file analyzed
ASAHIINDIA file analyzed
ASHIANA file analyzed
ASHOKA file analyzed
ASHOKLEY file analyzed
ASIANPAINT file analyzed
ASTEC file analyzed
ASTERDM file analyzed
ASTRAL file analyzed
ASTRAZEN file analyzed
ATFL file analyzed
ATUL file analyzed
AUBANK file analyzed
AUROPHARMA file analyzed
AUTOAXLES file analyzed
AVANTIFEED file analyzed
AXISBANK file analyzed
BAJAJ-AUTO file analyzed
BAJAJCON file analyzed
BAJAJELEC file analyzed
BAJAJFINSV file analyzed
BAJAJHLDNG file analyzed
BAJFINANCE file analyzed
BALAMINES file analyzed
BALKRISIND file analyzed
BALMLAWRIE file analyzed
BALRAMCHIN file analyzed
BANARISUG file analyzed
BANDHANBNK file analyzed
BANKBARODA file analyzed
BANKINDIA file analyzed
BASF file analyzed
BATAINDIA file analyzed
BBTC file analyzed
BDL file analyzed
BECTORFOOD file analyzed
BEL file analyzed
BEML file analyzed
BEPL file analyzed
BERGEPAINT file analyzed
BHARATFORG file analyzed
BHARATRAS file analyzed
BHARTIARTL file analyzed
BHEL file analyzed
BIOCON file analyzed
BIRLACORPN file analyzed
BLUEDART file analyzed
BLUESTARCO file analyzed
BOMDYEING file analyzed
BOSCHLTD file analyzed
BPCL file analyzed
BRIGADE file analyzed
BRITANNIA file analyzed
BSE file analyzed
BSOFT file analyzed
CAMLINFINE file analyzed
CANBK file analyzed
CANFINHOME file analyzed
CAPACITE file analyzed
CAPLIPOINT file analyzed
CARBORUNIV file analyzed
CARERATING file analyzed
CASTROLIND file analyzed
CCL file analyzed
CDSL file analyzed
CEATLTD file analyzed
CENTRALBK file analyzed
CENTRUM file analyzed
CENTURYPLY file analyzed
CENTURYTEX file analyzed
CERA file analyzed
CESC file analyzed
CGCL file analyzed
CHALET file analyzed
CHAMBLFERT file analyzed
CHEMCON file analyzed
CHENNPETRO file analyzed
CHOLAFIN file analyzed
CHOLAHLDNG file analyzed
CIPLA file analyzed
COALINDIA file analyzed
COCHINSHIP file analyzed
COFORGE file analyzed
COLPAL file analyzed
CONCOR file analyzed
CONFIPET file analyzed
COROMANDEL file analyzed
CRAFTSMAN file analyzed
CREDITACC file analyzed
CRISIL file analyzed
CROMPTON file analyzed
CSBBANK file analyzed
CUB file analyzed
CUMMINSIND file analyzed
CYIENT file analyzed
DAAWAT file analyzed
DABUR file analyzed
DALBHARAT file analyzed
DALMIASUG file analyzed
DBCORP file analyzed
DBL file analyzed
DCAL file analyzed
DCBBANK file analyzed
DCMSHRIRAM file analyzed
DEEPAKNTR file analyzed
DELTACORP file analyzed
DEN file analyzed
DFMFOODS file analyzed
DHAMPURSUG file analyzed
DHANI file analyzed
DHANUKA file analyzed
DIAMONDYD file analyzed
DISHTV file analyzed
DIVISLAB file analyzed
DIXON file analyzed
DLF file analyzed
DMART file analyzed
DOLLAR file analyzed
DRREDDY file analyzed
EASEMYTRIP file analyzed
EDELWEISS file analyzed
EICHERMOT file analyzed
EIDPARRY file analyzed
EIHOTEL file analyzed
ELGIEQUIP file analyzed
EMAMILTD file analyzed
ENDURANCE file analyzed
ENGINERSIN file analyzed
EPL file analyzed
EQUITAS file analyzed
EQUITASBNK file analyzed
ERIS file analyzed
ESABINDIA file analyzed
ESCORTS file analyzed
EVEREADY file analyzed
EXIDEIND file analyzed
FACT file analyzed
FCONSUMER file analyzed
FDC file analyzed
FEDERALBNK file analyzed
FILATEX file analyzed
FINCABLES file analyzed
FINEORG file analyzed
FINPIPE file analyzed
FMGOETZE file analyzed
FORTIS file analyzed
FRETAIL file analyzed
FSL file analyzed
GABRIEL file analyzed
GAEL file analyzed
GAIL file analyzed
GALAXYSURF file analyzed
GANECOS file analyzed
GARFIBRES file analyzed
GATI file analyzed
GENUSPOWER file analyzed
GEOJITFSL file analyzed
GEPIL file analyzed
GESHIP file analyzed
GET&D file analyzed
GHCL file analyzed
GICRE file analyzed
GILLETTE file analyzed
GLAND file analyzed
GLAXO file analyzed
GLENMARK file analyzed
GMDCLTD file analyzed
GMMPFAUDLR file analyzed
GMRINFRA file analyzed
GNFC file analyzed
GODFRYPHLP file analyzed
GODREJAGRO file analyzed
GODREJCP file analyzed
GODREJIND file analyzed
GODREJPROP file analyzed
GPPL file analyzed
GRANULES file analyzed
GRAPHITE file analyzed
GRASIM file analyzed
GREAVESCOT file analyzed
GREENLAM file analyzed
GREENPLY file analyzed
GRINDWELL file analyzed
GRSE file analyzed
GSFC file analyzed
GSPL file analyzed
GTPL file analyzed
GUJALKALI file analyzed
GUJGASLTD file analyzed
GULFOILLUB file analyzed
HAL file analyzed
HAPPSTMNDS file analyzed
HATHWAY file analyzed
HATSUN file analyzed
HAVELLS file analyzed
HCC file analyzed
HCG file analyzed
HCLTECH file analyzed
HDFC file analyzed
HDFCAMC file analyzed
HDFCBANK file analyzed
HDFCLIFE file analyzed
HEG file analyzed
HEIDELBERG file analyzed
HEMIPROP file analyzed
HERANBA file analyzed
HERITGFOOD file analyzed
HEROMOTOCO file analyzed
HESTERBIO file analyzed
HFCL file analyzed
HGINFRA file analyzed
HIKAL file analyzed
HIL file analyzed
HIMATSEIDE file analyzed
HINDALCO file analyzed
HINDCOPPER file analyzed
HINDOILEXP file analyzed
HINDPETRO file analyzed
HINDUNILVR file analyzed
HINDZINC file analyzed
HOMEFIRST file analyzed
HONAUT file analyzed
HSCL file analyzed
HUDCO file analyzed
HUHTAMAKI file analyzed
IBREALEST file analyzed
IBULHSGFIN file analyzed
ICICIBANK file analyzed
ICICIGI file analyzed
ICICIPRULI file analyzed
ICIL file analyzed
ICRA file analyzed
IDBI file analyzed
IDEA file analyzed
IDFC file analyzed
IDFCFIRSTB file analyzed
IEX file analyzed
IFBIND file analyzed
IFCI file analyzed
IGL file analyzed
IGPL file analyzed
IIFLSEC file analyzed
IIFLWAM file analyzed
IMFA file analyzed
INDHOTEL file analyzed
INDIACEM file analyzed
INDIAGLYCO file analyzed
INDIAMART file analyzed
INDIANB file analyzed
INDIGO file analyzed
INDIGOPNTS file analyzed
INDOCO file analyzed
INDOSTAR file analyzed
INDUSINDBK file analyzed
INDUSTOWER file analyzed
INEOSSTYRO file analyzed
INFIBEAM file analyzed
INFY file analyzed
INGERRAND file analyzed
INOXLEISUR file analyzed
INOXWIND file analyzed
INTELLECT file analyzed
IOB file analyzed
IOC file analyzed
IOLCP file analyzed
IPCALAB file analyzed
IRB file analyzed
IRCON file analyzed
IRCTC file analyzed
IRFC file analyzed
ISEC file analyzed
ITC file analyzed
ITDC file analyzed
ITDCEM file analyzed
ITI file analyzed
J&KBANK file analyzed
JAGRAN file analyzed
JAICORPLTD file analyzed
JAMNAAUTO file analyzed
JBCHEPHARM file analyzed
JBMA file analyzed
JCHAC file analyzed
JINDALPOLY file analyzed
JINDALSAW file analyzed
JINDALSTEL file analyzed
JKCEMENT file analyzed
JKIL file analyzed
JKLAKSHMI file analyzed
JKPAPER file analyzed
JKTYRE file analyzed
JMCPROJECT file analyzed
JMFINANCIL file analyzed
JPPOWER file analyzed
JSL file analyzed
JSLHISAR file analyzed
JSWHL file analyzed
JSWSTEEL file analyzed
JTEKTINDIA file analyzed
JUBLFOOD file analyzed
JUBLINGREA file analyzed
JUBLPHARMA file analyzed
JUSTDIAL file analyzed
JYOTHYLAB file analyzed
KAJARIACER file analyzed
KALPATPOWR file analyzed
KALYANKJIL file analyzed
KANSAINER file analyzed
KARURVYSYA file analyzed
KEC file analyzed
KEI file analyzed
KIOCL file analyzed
KIRIINDUS file analyzed
KIRLOSENG file analyzed
KIRLOSIND file analyzed
KNRCON file analyzed
KOLTEPATIL file analyzed
KOTAKBANK file analyzed
KPITTECH file analyzed
KPRMILL file analyzed
KRBL file analyzed
KSB file analyzed
KSCL file analyzed
KSL file analyzed
KTKBANK file analyzed
L&TFH file analyzed
LALPATHLAB file analyzed
LAOPALA file analyzed
LAURUSLABS file analyzed
LAXMIMACH file analyzed
LEMONTREE file analyzed
LICHSGFIN file analyzed
LINDEINDIA file analyzed
LT file analyzed
LTI file analyzed
LTTS file analyzed
LUMAXIND file analyzed
LUPIN file analyzed
LUXIND file analyzed
LXCHEM file analyzed
M&M file analyzed
M&MFIN file analyzed
MAHABANK file analyzed
MAHINDCIE file analyzed
MAHLIFE file analyzed
MAHLOG file analyzed
MAHSCOOTER file analyzed
MAHSEAMLES file analyzed
MAITHANALL file analyzed

MANAPPURAM file analyzed
MARICO file analyzed
MARKSANS file analyzed
MARUTI file analyzed
MASFIN file analyzed
MASTEK file analyzed
MATRIMONY file analyzed
MAXHEALTH file analyzed
MAYURUNIQ file analyzed
MAZDOCK file analyzed
MCDOWELL-N file analyzed
METROPOLIS file analyzed
MFSL file analyzed
MGL file analyzed
MHRIL file analyzed
MIDHANI file analyzed
MINDACORP file analyzed
MINDAIND file analyzed
MINDTREE file analyzed
MMFL file analyzed
MMTC file analyzed
MOIL file analyzed
MOREPENLAB file analyzed
MOTHERSUMI file analyzed
MOTILALOFS file analyzed
MPHASIS file analyzed
MRF file analyzed
MRPL file analyzed
MSTCLTD file analyzed
MTARTECH file analyzed
MTNL file analyzed
MUTHOOTFIN file analyzed
NAM-INDIA file analyzed
NATCOPHARM file analyzed
NATIONALUM file analyzed
NAUKRI file analyzed
NAVINFLUOR file analyzed
NAVNETEDUL file analyzed
NAZARA file analyzed
NBCC file analyzed
NBVENTURES file analyzed
NCC file analyzed
NEOGEN file analyzed
NESCO file analyzed
NETWORK18 file analyzed
NEWGEN file analyzed
NFL file analyzed
NH file analyzed
NHPC file analyzed
NIACL file analyzed
NIITLTD file analyzed
NILKAMAL file analyzed
NLCINDIA file analyzed
NMDC file analyzed
NOCIL file analyzed
NTPC file analyzed
NUCLEUS file analyzed
OAL file analyzed
OBEROIRLTY file analyzed
OFSS file analyzed
OIL file analyzed
OMAXE file analyzed
ONGC file analyzed
ORIENTCEM file analyzed
ORIENTELEC file analyzed
ORISSAMINE file analyzed
PAGEIND file analyzed
PAISALO file analyzed
PCJEWELLER file analyzed
PEL file analyzed
PERSISTENT file analyzed
PETRONET file analyzed
PFC file analyzed
PFIZER file analyzed
PGHH file analyzed
PGHL file analyzed
PHOENIXLTD file analyzed
PIDILITIND file analyzed
PIIND file analyzed
PILANIINVS file analyzed
PNB file analyzed
PNCINFRA file analyzed
POLYCAB file analyzed
POLYMED file analyzed
POLYPLEX file analyzed
POWERGRID file analyzed
POWERINDIA file analyzed
PRAKASH file analyzed
PRESTIGE file analyzed
PRINCEPIPE file analyzed
PRIVISCL file analyzed
PRSMJOHNSN file analyzed
PSB file analyzed
PSPPROJECT file analyzed
PTC file analyzed
PURVA file analyzed
PVR file analyzed
QUESS file analyzed
QUICKHEAL file analyzed
RADICO file analyzed
RAILTEL file analyzed
RAIN file analyzed
RAJESHEXPO file analyzed
RALLIS file analyzed
RAMCOCEM file analyzed
RAMCOIND file analyzed
RAMCOSYS file analyzed
RATNAMANI file analyzed
RAYMOND file analyzed
RBLBANK file analyzed
RCF file analyzed
RECLTD file analyzed
REDINGTON file analyzed
RELAXO file analyzed
RELIANCE file analyzed
RELIGARE file analyzed
REPCOHOME file analyzed
RESPONIND file analyzed
RITES file analyzed
RKFORGE file analyzed
ROSSARI file analyzed
ROUTE file analyzed
RSYSTEMS file analyzed
RUCHI file analyzed
RUPA file analyzed
RVNL file analyzed
SAFARI file analyzed
SAGCEM file analyzed
SAIL file analyzed
SANDHAR file analyzed
SANOFI file analyzed
SASKEN file analyzed
SBICARD file analyzed
SBILIFE file analyzed
SBIN file analyzed
SCHAEFFLER file analyzed
SCHNEIDER file analyzed
SCI file analyzed
SEQUENT file analyzed
SFL file analyzed
SHARDACROP file analyzed
SHILPAMED file analyzed
SHK file analyzed
SHOPERSTOP file analyzed
SHREECEM file analyzed
SHRIRAMCIT file analyzed
SIEMENS file analyzed
SIS file analyzed
SJVN file analyzed
SKFINDIA file analyzed
SOBHA file analyzed
SOLARA file analyzed
SOLARINDS file analyzed
SONATSOFTW file analyzed
SOTL file analyzed
SOUTHBANK file analyzed
SPANDANA file analyzed
SPARC file analyzed
SRF file analyzed
SRTRANSFIN file analyzed
STAR file analyzed
STARCEMENT file analyzed
STLTECH file analyzed
STOVEKRAFT file analyzed
SUBEXLTD file analyzed
SUBROS file analyzed
SUDARSCHEM file analyzed
SUMICHEM file analyzed
SUNCLAYLTD file analyzed
SUNDARMFIN file analyzed
SUNDRMFAST file analyzed
SUNPHARMA file analyzed
SUNTECK file analyzed
SUNTV file analyzed
SUPRAJIT file analyzed
SUPREMEIND file analyzed
SURYAROSNI file analyzed
SURYODAY file analyzed
SUVENPHAR file analyzed
SUVIDHAA file analyzed
SUZLON file analyzed
SWANENERGY file analyzed
SWARAJENG file analyzed
SWSOLAR file analyzed
SYMPHONY file analyzed
SYNGENE file analyzed
TASTYBITE file analyzed
TATACHEM file analyzed
TATACOFFEE file analyzed
TATACOMM file analyzed
TATACONSUM file analyzed
TATAELXSI file analyzed
TATAINVEST file analyzed
TATAMETALI file analyzed
TATAMOTORS file analyzed
TATAPOWER file analyzed
TATASTEEL file analyzed
TCI file analyzed
TCIEXP file analyzed
TCNSBRANDS file analyzed
TCS file analyzed
TEAMLEASE file analyzed
TECHM file analyzed
TECHNOE file analyzed
THERMAX file analyzed
THOMASCOOK file analyzed
THYROCARE file analyzed
TIDEWATER file analyzed
TIINDIA file analyzed
TIMETECHNO file analyzed
TIMKEN file analyzed
TINPLATE file analyzed
TITAN file analyzed
TORNTPHARM file analyzed
TORNTPOWER file analyzed
TRENT file analyzed
TRITURBINE file analyzed
TRIVENI file analyzed
TTKPRESTIG file analyzed
TV18BRDCST file analyzed
TVSMOTOR file analyzed
TVSSRICHAK file analyzed
TVTODAY file analyzed
UBL file analyzed
UCOBANK file analyzed
UFLEX file analyzed
UJJIVAN file analyzed
UJJIVANSFB file analyzed
ULTRACEMCO file analyzed
UNICHEMLAB file analyzed
UNIONBANK file analyzed
UPL file analyzed
UTIAMC file analyzed
VAIBHAVGBL file analyzed
VAKRANGEE file analyzed
VARROC file analyzed
VBL file analyzed
VEDL file analyzed
VENKEYS file analyzed
VESUVIUS file analyzed
VGUARD file analyzed
VINATIORGA file analyzed
VIPIND file analyzed
VMART file analyzed
VOLTAS file analyzed
VRLLOG file analyzed
VSTIND file analyzed
VSTTILLERS file analyzed
VTL file analyzed
WABAG file analyzed
WELCORP file analyzed
WELENT file analyzed
WELSPUNIND file analyzed
WHIRLPOOL file analyzed
WIPRO file analyzed
WOCKPHARMA file analyzed
WSTCSTPAPR file analyzed
YESBANK file analyzed
ZEEL file analyzed
ZENSARTECH file analyzed
ZYDUSWELL file analyzed